[2019-10-03 03:30] dankohn commented on #114
Those changes sound good.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Wed, Oct 2, 2019 at 11:13 PM Chris Abraham <notifications@github.com>
wrote:

[2019-10-03 03:54] cjyabraham commented on #114
@rodmeurer can you implement please?

[2019-10-03 03:57] cjyabraham commented on #110
I think we would want to have the sponsors and contact info on the bottom of the page.  @KimMcMahon do you agree?

[2019-10-03 04:36] cjyabraham commented on #113
I think the downside is that it takes longer to load.  I did a [quick test](https://docs.google.com/spreadsheets/d/1BjVl_x5MwwrbrDHEdNr9RAyeNbVMn7iZRzykZ_8MTrA/edit?usp=sharing) and found the load time to be about twice as long for 245 instead of 27, and that's with many of the speakers having just the default photo.  If all 245 had real photos then it would take quite a bit longer.

In the future

[2019-10-03 04:41] dankohn commented on #113
Then what could we reasonably increase to? 100 per page?
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Thu, Oct 3, 2019 at 12:36 AM Chris Abraham <notifications@github.com>
wrote:

[2019-10-03 04:52] cjyabraham commented on #111
@rodmeurer cool.  No, no need to worry about the "Self-Identification" filter for now.  I was just concerned that it might appear automatically once people start filling out that field.  If not, then we can leave it for now.

I have deployed this branch.

[2019-10-03 05:04] cjyabraham commented on #113
I just [tested 103](https://docs.google.com/spreadsheets/d/1BjVl_x5MwwrbrDHEdNr9RAyeNbVMn7iZRzykZ_8MTrA/edit#gid=0) and it takes about 60% longer to load than for 27.  I guess that's ok.  Or we could go with a few less, say, 81 (which is a multiple of 3)?

[2019-10-03 11:57] KimMcMahon commented on #110
@rodmeurer @cjyabraham I believe what @lindsayshaw is looking for is the URL for these individual pages use the URL for the event site with the project navigation AFTER the main event site URL and with a specific naming as I outlined below:

https://**events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2018**/<project name>-kubecon-<region>-<year>

And NOT
https://events.linuxfoundatio

[2019-10-03 12:40] rodmeurer commented on #114
@cjyabraham ok

[2019-10-03 12:55] dankohn commented on #113
Let's do 81.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Thu, Oct 3, 2019 at 1:04 AM Chris Abraham <notifications@github.com>
wrote:

[2019-10-03 13:07] rodmeurer commented on #111
@cjyabraham I asked to Danilo to test it locally and the filter automatically appears if you fill the self-identification field.  So, we'll have to work on this to see how it fit in different displays and devices and adjust it.

![image](https://user-images.githubusercontent.com/54405402/66128892-2abf2a00-e5c5-11e9-9f76-73373ff75144.png)

[2019-10-03 13:11] cjyabraham commented on #111
Ah.  Can we get a fix for that quickly then so that we're not surprised with it appearing and make sure it looks good?  Or, for now, we can just deactivate it?

[2019-10-03 13:11] dankohn commented on #110
We want them to have the same menu and bottom sections.

We don't want links to these landing pages.

[2019-10-03 13:32] cjyabraham commented on #111
Thinking about it, I think it would be best to just deactivate it for now until we get a critical amount of data to make it useful to people.  Can you do that @rodmeurer ?

[2019-10-03 13:35] rodmeurer commented on #111
Yes @cjyabraham , already asked to Danilo to deactivate it for now. I'll let you know when it's ready to deploy again.

[2019-10-03 13:44] rodmeurer commented on #111
@cjyabraham done, the filter will not be displayed. It's done in this same branch.

https://fz-111-cncf.pantheonsite.io/speakers/

[2019-10-03 13:47] KimMcMahon opened #116 "Deactivate the old Events page"
Can we archive, deactivate, or delete the old [Events](https://www.cncf.io/events/) page and re-direct to the [webinars](https://www.cncf.io/webinars/) page?

[2019-10-03 13:47] rodmeurer commented on #114
@cjyabraham up to date!

[2019-10-03 13:48] KimMcMahon commented on #116
The redirect is important because a Google search has our old pages as the top results. :(
![image](https://user-images.githubusercontent.com/29307455/66132349-26d5dc80-e5b2-11e9-959a-cd7e843a1173.png)

[2019-10-03 14:03] rodmeurer commented on #116
@cjyabraham we will do this configuration/redirect here, ok?

[2019-10-03 14:03] rodmeurer commented on #113
@cjyabraham set to 81 tiles per page.

[2019-10-03 15:14] KimMcMahon commented on #116
Can someone do these items too? To help with the Google search results?
Submit the updated sitemap to Google

Or do we have a plugin in wordpress that allows us to mark a page or section "search exclude"?

[2019-10-03 15:18] dankohn commented on #116
Redirects are better than excluding from search because they preserve the link juice. I just manually added the sitemap to https://search.google.com/u/1/search-console/sitemaps?resource_id=https%3A%2F%2Fwww.cncf.io%2F&hl=en and it will now automatically re-fetch daily.

[2019-10-03 17:56] rodmeurer commented on #110
@KimMcMahon here is the Helmet page, let us know if it's ok

[2019-10-03 17:58] rodmeurer commented on #110
@KimMcMahon this is the Helmet page, let us know if it's as you expected:

password: landing

https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/helm-kubecon-na-2019/

[2019-10-03 18:40] KimMcMahon opened #117 "Menu bar doubles in size when scrolling on Speaker Bureau page"
This occured on Safari. I did not test on Chrome.

When I scroll down my speakers bureau profile page and then come back to the top of the page, the menu gets larger. I can’t make it narrower again unless I reload the page.

<img width="1440" alt="Screen Shot 2019-10-03 at 7 31 17 AM" src="https://user-images.githubusercontent.com/29307455/66154583-0a01cf00-e5db-11e9-8035-14cdce0437e5.png">

[2019-10-03 18:47] rodmeurer commented on #116
@cjyabraham we did the redirect configuration from /events to /webinars.

[2019-10-03 18:52] KimMcMahon commented on #110
Comments for Helm:

For the link to Microsoft's name, use this link: https://azure.microsoft.com/en-us/

For link to Google's name, use this link: https://cloud.google.com/

Add a comma after "Bitnami" in this sentence.
The latest version of Helm is maintained by the CNCF – in collaboration with Microsoft, Google, Bitnami and the Helm contributor community.

Looks great! Lindsay looked and gave it

[2019-10-03 18:53] dankohn commented on #110
Ready to go. Note that in the future, I would strongly prefer SVG logos on top of the JPEG picture so that they don't look blurry, but I'd rather get this project live.

[2019-10-03 19:00] rodmeurer commented on #110
Ok, great, thanks. Should we wait for all 4 pages to be completed or make this one accessible right away (after the adjustments @KimMcMahon asked)?

[2019-10-03 19:04] rodmeurer commented on #110
@KimMcMahon adjustments done!

[2019-10-03 19:30] KimMcMahon commented on #110
@rodmeurer Please make it live! Let's publish them as we get the pages done.

note - we also don't want these pages discoverable through a search.

Thanks!

[2019-10-03 19:59] rodmeurer commented on #110
@KimMcMahon the page is live and configured to not be discoverable through a search.

[2019-10-03 20:36] christinevblum commented on #14
@cjyabraham how can I help? This sounds like a wonderful benefit for our members.

[2019-10-03 21:17] rodmeurer commented on #115
@dankohn done with two column on landscape view

https://fz-115-cncf.pantheonsite.io/speakers/

[2019-10-03 21:24] KimMcMahon commented on #110
@rodmeurer I have the other three project content for you:
https://docs.google.com/document/d/1nD29JFNWTSw8_mzGWYss6GvhOVnbvRMwcqQjUnnTn9w/edit?usp=sharing

Thank you!!!

[2019-10-03 21:27] rodmeurer commented on #110
Great! Thank you @KimMcMahon !

[2019-10-04 02:41] cjyabraham commented on #116
Looks good.  Thanks.

[2019-10-04 02:41] #116 closed

[2019-10-04 05:26] cjyabraham commented on #111
deployed

[2019-10-04 05:26] #111 closed

[2019-10-04 05:34] cjyabraham commented on #113
deployed

[2019-10-04 05:34] #113 closed

[2019-10-04 05:40] cjyabraham commented on #114
deployed

[2019-10-04 05:51] cjyabraham commented on #117
I am able to reproduce this in Safari but not Chrome.  It seems to happen on [any profile page](https://www.cncf.io/speaker/randy.abernethy/) when the browser is at a particular width (which is narrower than my screen).  This should probably be fixed but I don't see it as being high priority.

[2019-10-04 06:11] cjyabraham commented on #14
I've setup a [test account here](https://cncf.jobboard.io).  And here is [the admin](https://cncf.jobboard.io/admin).

@christinevblum I haven't had time to really do a thorough survey of all job board services.  If you have time, that might be worth doing before we get too far along with jobboard.io.

[2019-10-04 09:46] cjyabraham commented on #14
I took a look at importing [HN jobs](https://hnrss.org/jobs?q=kubernetes+OR+K8s) but it seems that the RSS feed provided doesn't have a number of the [required fields](https://support.jobboard.io/docs/setting-up-3rd-party-xml-job-imports) such as company and location.

In fact, the HN feed isn't really marked up with any job metadata.  It's just a generic RSS feed of content items and outbound lin

[2019-10-04 09:55] cjyabraham commented on #115
LGTM.  @dankohn ?

[2019-10-04 12:08] dankohn commented on #14
Can you get a parsed feed from https://whoishiring.io?

[2019-10-04 13:06] KimMcMahon commented on #117
Thanks Chris and agree.

[2019-10-04 15:22] dankohn commented on #115
LGTM

[2019-10-04 16:11] rodmeurer commented on #110
@KimMcMahon all pages done. In Prometheus page we saw that this event is repeated from Helm. Is it correct? https://sched.co/UaXL

Helm - https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/helm-kubecon-na-2019/

Kubernetes - https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/kubernetes-kubecon-na-2019/

Prometheus - https://events.l

[2019-10-04 16:42] KimMcMahon commented on #110
Thank you @rodmeurer! These are all great! And thank you for the catch on the Prometheus page that has a Helm presentation.
Please replace the Helm presentation on the Prometheus with this one:
https://sched.co/UaXp

Then, please make them all live.

Thank you!

[2019-10-04 17:51] rodmeurer commented on #110
@KimMcMahon we are trying to talk with Alex to configure the pages not to be crawled by Google. After that we will make the correction and make them live.

[2019-10-04 17:52] rodmeurer commented on #110
@KimMcMahon of maybe if you have another person that has permissions in wordpress to do that, because we have not.

[2019-10-04 18:24] dankohn commented on #110
Please make them live. @alexcontini or @cjyabraham can mark them `noindex` later.

[2019-10-04 18:33] rodmeurer commented on #110
Ok, all pages live now.

[2019-10-04 18:45] KimMcMahon commented on #110
Thank you @rodmeurer!  @dankohn FYI - getting them to Lindsay.

Thank you for your quick work!

[2019-10-04 18:46] #110 closed

[2019-10-05 02:27] cjyabraham commented on #110
These pages already appear to have "Allow search engines to show this Event in search results?" set to "No".  Did someone get to that already?

[2019-10-05 04:09] cjyabraham commented on #115
deployed

[2019-10-05 04:09] #115 closed

[2019-10-05 10:38] cjyabraham commented on #101
I just emailed Marijana again for suggestions on this.  We're currently blocked by CORS issues on the form they provided.

[2019-10-07 07:54] cjyabraham commented on #14
I've started a [requirements doc](https://docs.google.com/document/d/1zfaajiOe5roDHHKL7goxroYpMpsVRkU9e7J5Li11Idc/edit?usp=sharing) for us all to edit in prep for our call with a jobboard.io representative.

[2019-10-07 16:06] KimMcMahon commented on #56
@deigolocco @pablodelarocha
Ideally, I would like the badges for each speaker on their individual profile page. Example - Ariel's badges would appear on his profile [page](https://www.cncf.io/speaker/arielmunafi/).

Before any work is done, I would like to know if / how this would be done, can the existing plug-in be used, if not using the existing plug-in what is the recommendation. Please provid

[2019-10-07 16:07] KimMcMahon commented on #94
Remaining for Kim: Emails each Speaker gets.

[2019-10-07 17:09] deigolocco commented on #56
@KimMcMahon the plugin allow some customizations on it templates. Is not a complex task, can be done in a few ours, and this will not affect the plugin's functionalities. Soon @pablodelarocha will send a design proposal.

[2019-10-07 18:21] pablodelarocha commented on #56
![speaker_page](https://user-images.githubusercontent.com/54405572/66337725-14430680-e916-11e9-8a7a-2fabfb3cb435.jpg)
Here's a suggestion for edit profile icon at the top, instead of the gear and also of how to show the badges. Please let us know if this is ok to proceed.

[2019-10-07 20:27] amye opened #118 "Bios that aren't bios"
There's a bunch of data for TOC bios that isn't being rendered:
https://www.cncf.io/persons/alexis-richardson/ has nothing on the page  -- but editing this page shows many many things!
Is this a deprecated content type?

[2019-10-07 22:34] lindsayshaw commented on #110
Typo on prometheus page. Current: Prometheus is an open source serive
monitoring system
Revised: Prometheus is an open source monitoring system

On Fri, Oct 4, 2019 at 7:27 PM Chris Abraham <notifications@github.com>
wrote:

--
Lindsay Shaw
530-448-6375

[2019-10-08 03:12] cjyabraham commented on #110
Fixed.

[2019-10-08 03:17] cjyabraham commented on #118
Hi @amye
How did you get to that page?  I know the info you refer to is rendered on the [TOC page](https://www.cncf.io/people/technical-oversight-committee/) when you click the "Read more" under a person.

[2019-10-08 11:38] dankohn commented on #14
@jordinl83 can build a custom parser for us that converts Hacker News jobs into a feed. He had the following questions:

I think parsing location works reasonably well already…
But I see some issues with the format jobboard.io expects (https://support.jobboard.io/docs/setting-up-3rd-party-xml-job-imports#section-available-fields):
• Title: I might not be able to extract a job title from the post (

[2019-10-08 19:17] KimMcMahon opened #119 "Add Kubernetes Community Days to the Community Menu"
Add Kubernetes Community Days to the Community menu after Membership and before Meetups.

https://kubernetescommunitydays.org/

[2019-10-08 21:53] alexcontini commented on #119
@KimMcMahon this has been updated: https://www.cncf.io/

[2019-10-09 13:49] KimMcMahon commented on #119
Thank you @alexcontini!

[2019-10-09 13:49] #119 closed

[2019-10-09 14:04] KimMcMahon opened #120 "Menu updates to cncf.io"
Rearranging and addition of new menu items.

Menus affected
About
Projects
People
Community
Newsroom

For items that are moving from one high level menu to another, please put redirects in place for any links to the old location:
Trademark
End User Case Studies

The changes are outlined in the bullets. There is a table with the new menu in the [Menu Update document ](https://docs.google.com/docume

[2019-10-10 10:49] alexcontini commented on #120
@KimMcMahon I have made all the updates: https://www.cncf.io/ besides the addition of the Telecom User Group & Cloud native Network Functions (CNFs) page, I can't seem to find the page or link, let me know when you have a chance and I will add!

[2019-10-10 12:23] dankohn opened #121 "New FAQ design"
I'm going to be replacing the text on https://www.cncf.io/about/faq/ and want a new design. The key functionality I'm looking for is that all the sections are always showing but that clicking on a header (which will be a question) changes the URL to https://www.cncf.io/about/faq/ #security-question so that I can link directly to answers.

We came up with a very sophisticated design for the new eve

[2019-10-10 16:27] deigolocco commented on #121
I'll take at look @cjyabraham

[2019-10-10 17:35] KimMcMahon opened #122 "Add Forum Bengaluru and Delhi to cncf.io"
Hi Alex,
Can you create the graphic and add the two new K8s Forum's to https://www.cncf.io/community/kubecon-cloudnativecon-events/

Bengaluru
https://events19.linuxfoundation.org/events/kubernetes-forum-bengaluru-2019/

Delhi
https://events19.linuxfoundation.org/events/kubernetes-forum-delhi-2019/

[2019-10-10 21:51] pablodelarocha commented on #121
@dankohn and @cjyabraham heres a design suggestion according to your request. Please let us know if this is ok - i already discussed about this with @deigolocco and he said it can be done
![FAQ](https://user-images.githubusercontent.com/54405572/66609228-df8db400-eb8e-11e9-8e2f-41b80e99d99a.jpg)

[2019-10-10 22:21] KimMcMahon opened #123 "Redirect for Speakers Bureau"
Can I get a redirect for
cncf.io/speaker

to cncf.io/speakers

Thanks!

[2019-10-11 02:26] cjyabraham commented on #123
done.

[2019-10-11 02:26] #123 closed

[2019-10-11 02:31] cjyabraham commented on #121
A few comments:
- I don't think you need the "Copylink" icon to pop up.  When you scroll down the page to the various section the url should automatically update with the hash.  See [how we do it here](https://dev-lfeventsci.pantheonsite.io/kubecon-cloudnativecon-north-america/call-for-proposals/#suggested-topics).
- I don't like the ">" icons to the left of each of the menu items.  To me, they ma

[2019-10-11 12:10] pablodelarocha commented on #121
@cjyabraham yeah, i guess it works without the ">". Let us know if this is ok now.
![FAQ](https://user-images.githubusercontent.com/54405572/66650406-ec4dee80-ec06-11e9-907a-95732b71a584.jpg)

[2019-10-11 12:43] cjyabraham commented on #121
LGTM.  @dankohn @KimMcMahon ?

[2019-10-11 12:46] rodmeurer commented on #56
@KimMcMahon can we proceed with this?

[2019-10-11 12:50] cjyabraham commented on #56
My 2c: I prefer the gear icon.  I think it's more obviously the place I'd go if I was looking to edit my profile.

And another design option to explore: just having the certification badges in place of the word "Ambassador" in your mockup, instead of where you have them.

[2019-10-11 12:59] KimMcMahon commented on #56
@rodmeurer Sorry - I forgot to comment!

I agree with @cjyabraham - please keep the Gear icon.

I also agree that we put the badges under their name (as you have) and remove Certifications on the left side. Keep the Travel Range that is on the left side.

Can you do another mockup for review?

Thanks!

[2019-10-11 14:11] KimMcMahon opened #124 "Site slow (October 11)"
I'm experiencing significant slowdown on cncf.io, specifically on the Speakers Bureau page. 5 seconds to load a page.

[2019-10-11 14:34] KimMcMahon opened #125 "Split "Areas of Expertise" field into two new fields "Project" and "Expertise""
Split the current "Areas of Expertise" field into two new fields "Project" and "Expertise".

Steps:
- [x] provide a mapping of data to show how our current "Areas of Expertise" data should map to data in the two new fields (Kim)
- [x] create the two fields (Chris)
- [x] migrate the current "Areas of Expertise" data into these two new fields (Chris)
- [x] remove current expertise filter and add bot

[2019-10-11 14:50] pablodelarocha commented on #56
Yeah, sure. Let us know if we may proceed with the below design:
![speaker_page](https://user-images.githubusercontent.com/54405572/66661340-38a42900-ec1d-11e9-8bd5-32c54ffb8441.jpg)

[2019-10-11 14:59] KimMcMahon commented on #125
@deigolocco

Instead of Projects and Expertise, can you show a view of "All areas of expertise" and use these items as a choice? I know we discussed this is long for a drop down (when we did webinars), but I would like to see how it looks.

Application & Development (includes Brigade, Helm & Telepresence)
Case studies
CI/CD
Community
Customizing & Extending Kubernetes
Machine Learning & Data
Netwo

[2019-10-11 15:48] KimMcMahon commented on #56
Looks great @pablodelarocha! Please proceed with the development.

Thanks!
Kim

[2019-10-11 15:52] cjyabraham commented on #124
I don't believe the site has slowed down at all.  What makes you think it is slower @KimMcMahon .

The cncf.io site is very slow, in general, due to the way it is built.  We are planning on addressing this during the rebuild.  I don't think it's worth putting much more effort than we already have done to speed up the current site.

@deigolocco if there's any way to make the Speaker's Bureau filter

[2019-10-11 15:53] cjyabraham commented on #124
One other thing to add, @KimMcMahon if you are logged in to the admin, the site will be significantly slower than if you are not.  That's because you are not getting a cached version.  This is by design.  The general public, however, will be experiencing the cached version which is faster.

[2019-10-11 15:54] KimMcMahon commented on #124
Thanks @cjyabraham. Yes, I'm logged in. I'll close this.

[2019-10-11 16:15] dankohn commented on #124
I'm not logged in but when I go to https://www.cncf.io/speakers/?languages=Bengali&_lc=languages and click reset it takes over 10 seconds to load the page of 81 speakers. I'd like you and @deigolocco to look at why. I suspect https://www.cncf.io/speakers/ is not being cached.

[2019-10-11 16:51] deigolocco commented on #124
@dankohn the way that Ultimate Members saves the information in metas as serialized arrays
![Captura de tela de 2019-10-11 11-14-37](https://user-images.githubusercontent.com/5631313/66661038-a865e400-ec1c-11e9-83f1-485d9061890f.png)
Makes the queries that we need to run complex and slow, especially because the filters interact with each other.
We are working to improve the cache of these queries

[2019-10-12 04:01] cjyabraham commented on #124
@deigolocco using transients sounds like a good idea.  I'd be interested to see how you do that.

Additionally, I took a quick look at the ajax requests made by the filters.  None of them are being cached by Pantheon as each request is sent with these headers: `cache-control: no-cache, must-revalidate, max-age=0`.  I think this is because you are calling `wp-admin/admin-ajax.php` which is never ca

[2019-10-14 12:06] KimMcMahon opened #126 "Case studies cut off on right"
Cannot see the full content on a case study.
<img width="1114" alt="Screen Shot 2019-10-14 at 6 05 14 AM" src="https://user-images.githubusercontent.com/29307455/66750084-c1eb7380-ee48-11e9-8e7f-6cfd1718b6d4.png">

[2019-10-14 15:20] KimMcMahon commented on #126
https://www.cncf.io/case-study/denso/

[2019-10-14 15:21] #126 closed

[2019-10-14 15:25] dankohn opened #127 "Provide HN jobs feeds"
https://support.jobboard.io/docs/setting-up-3rd-party-xml-job-imports#section-available-fields

Set up a parsing engine that provides XML to the CNCF jobs site in the format above based on parsing news.ycombinator.com. If remote jobs specify the headquarters location, include them and ensure Remote is in the header. If a job has 2 locations, just include the first one. If you can't successfully pa

[2019-10-14 15:42] cjyabraham opened #128 "Change Speaker's Bureau filter text"
Change the text that says "All certifications" to say "All CNCF Affiliations" on the filter.

[2019-10-14 15:49] jordinl83 commented on #127
@dankohn What keywords should it match? Kubernetes, k8s, anything else?

[2019-10-14 15:52] cjyabraham commented on #4
@KimMcMahon asks that all the projects are kept in the DB once so that all filters and such can easily be updated across the site when a project changes category or if there's a new project added etc.

[2019-10-14 16:00] dankohn commented on #127
Just those two to start, please.

[2019-10-14 16:08] KimMcMahon commented on #125
Mapping

<current category> --> Project category --> Expertise category

CNI --> CNI --> Networking
Cloud Events --> none --> Serverless
Community --> none --> Community
CoreDNS --> CoreDNS --> Networking
Envoy --> Envoy --> Service Mesh
Fluentd --> Fluentd --> Observability
Helm --> Helm --> Application and Development
Jaeger --> Jaeger --> Observability
Kubernetes --> Kubernetes --> none
Linkerd

[2019-10-14 16:48] alexcontini commented on #122
@KimMcMahon this has been updated: https://www.cncf.io/community/kubecon-cloudnativecon-events/

[2019-10-14 16:54] KimMcMahon commented on #122
Thanks @alexcontini!

[2019-10-14 16:54] #122 closed

[2019-10-14 16:56] KimMcMahon opened #129 "Create graphic for Kubernetes Forum Delhi and Bangaluru"
For Events we'll be at. Use the Kubernetes Forum branding.

[2019-10-14 17:01] rodmeurer commented on #125
Ok @KimMcMahon , understood. We'll wait for Chris to create the two fields and export the current data, so we can implement the filters.

[2019-10-14 18:20] pablodelarocha commented on #129
![delhi](https://user-images.githubusercontent.com/54405572/66773739-1701a680-ee96-11e9-95cb-02a05d387c53.jpg)
![bengaluru](https://user-images.githubusercontent.com/54405572/66773740-179a3d00-ee96-11e9-94b5-a463a3e5c950.jpg)
![bengaluru_squared](https://user-images.githubusercontent.com/54405572/66773742-179a3d00-ee96-11e9-90d4-09c1da37b8fc.jpg)
![dehli_squared](https://user-images.githubusercont

[2019-10-15 08:38] cjyabraham commented on #125
@rodmeurer, @deigolocco  can you update the code to hide the current "Areas of expertise" filter from the search?

[2019-10-15 11:20] cjyabraham commented on #125
Ok.  My part is done.  I've migrated all the data into two new fields.  I've also updated both the [registration form](https://www.cncf.io/speakers/register/) and the [profiles](https://www.cncf.io/speaker/raravena80/) to use these new fields.  Assigning over to Diego and team...

[2019-10-15 18:27] KimMcMahon commented on #129
Thank you @pablodelarocha

[2019-10-15 18:27] #129 closed

[2019-10-15 21:26] deigolocco commented on #124
@cjyabraham https://fz-124-cncf.pantheonsite.io/speakers/

The implementation was made using the WordPress Transient API, and for each query executed on the page, a hash of the arguments is generated and this hash is used as the transient key.
​
Ex:
[code]
​
The hash generated will be: *fuerza_speakers_92b28d7f74b0c944452e139d4d785644*

Therefore, in the next query with these same arguments, the a

[2019-10-15 21:30] deigolocco commented on #125
@KimMcMahon please lets us know, when you have a chance, what we need to put in place of the `Areas of Expertise` inside the card
![Captura de tela de 2019-10-15 11-31-39](https://user-images.githubusercontent.com/5631313/66871320-c6fc1000-ef79-11e9-951c-527c55217e01.png)

[2019-10-15 21:44] deigolocco commented on #121
guys the page is done https://fz-121-cncf.pantheonsite.io/about/faq/

No deploy is necessary, because we did everything through manager.

But differently of the [reference page](https://dev-lfeventsci.pantheonsite.io/kubecon-cloudnativecon-north-america/program/super-long-multi-part-page/#cloud-native-transformation-summit), we don't have sections under the FAQ, so using the side navigation we can

[2019-10-15 21:46] deigolocco commented on #128
we did together issue 124 - https://fz-124-cncf.pantheonsite.io/speakers/

[2019-10-15 21:53] dankohn commented on #121
Could you please figure out an approach for mobile.

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-10-16 01:03] KimMcMahon commented on #125
Sorry @deigolocco for the delay.
Remove Areas of Expertise from the profile tiles.

[2019-10-16 05:16] cjyabraham commented on #128
Can you make "Affiliations" be lowercase "affiliations" so that it matches the format of the other filters.  Sorry to have given you the uppercase originally.

[2019-10-16 06:37] KimMcMahon opened #130 "Redirect for a training item"
A training partner advised that one of the CNCF URL's is incorrect -it's prompting candidates to download a CKA/CKAD candidate handbook dated January 2019.

Can you update the following URL: https://www.cncf.io/certification/candidate-handbook
Redirect it to: https://training.linuxfoundation.org/go/cka-ckad-candidate-handbook

[2019-10-16 12:19] deigolocco commented on #125
@KimMcMahon informations about "Project" and "Expertise" should be visible inside the card?

[2019-10-16 12:30] deigolocco commented on #128
np @cjyabraham, it's adjusted

[2019-10-16 13:23] KimMcMahon commented on #125
@deigolocco Project and Expertise is NOT visible from inside the card. The red area you marked in your image should be removed.

[2019-10-16 18:39] pablodelarocha commented on #121
Sure @dankohn ! Does the below design for mobile works?
![FAQ_mobile](https://user-images.githubusercontent.com/54405572/66948462-236b3800-f02b-11e9-90a8-205e8e11b295.jpg)

[2019-10-16 19:14] dankohn commented on #121
Does selecting from the dropdown change the fragment ID in the URL and automatically jump you to the right section? If so, than LGTM

[2019-10-16 19:17] deigolocco commented on #121
yes @dankohn, thanks! We'll proceed here

[2019-10-17 06:38] #130 closed

[2019-10-17 07:53] cjyabraham commented on #121
there's a problem when you scroll to the bottom of the page:
<img width="781" alt="Screen Shot 2019-10-17 at 2 51 05 PM" src="https://user-images.githubusercontent.com/463160/66988947-9d63f580-f0ed-11e9-9513-4195bc7a019a.png">
Note how it is done on the [reference site](https://dev-lfeventsci.pantheonsite.io/kubecon-cloudnativecon-north-america/program/super-long-multi-part-page/).

[2019-10-17 13:43] deigolocco commented on #124
hi guys, could you check the performance now? https://fz-124-cncf.pantheonsite.io/speakers/

[2019-10-17 13:44] deigolocco commented on #125
done https://fz-125-cncf.pantheonsite.io/speakers/

[2019-10-17 14:57] KimMcMahon commented on #124
@deigolocco Its faster. Still about 5 seconds to load the filter when I filter on a project.

[2019-10-17 16:47] KimMcMahon opened #131 "Add Chinese language case studies to cncf.io"
- [x] Update the menu. Add an option for Chinese language case studies under the End User Case Study menu item.

- [x] Create a page for the Chinese case studies, exactly as the English case studies. Including tiles.

- [x] No filtering on the Chinese language case study page (at this time)

- [x] Kim: Translate the English case study page content to Chinese.

- [ ] Kim or Julie: Upload the case s

[2019-10-17 16:52] deigolocco commented on #124
@KimMcMahon could you send the url of the slow filtering please?

[2019-10-17 16:56] KimMcMahon commented on #124
@deigolocco https://fz-124-cncf.pantheonsite.io/speakers/?cncf_expertise=Kubernetes&_lc=cncf_expertise

[2019-10-17 17:01] deigolocco commented on #124
@KimMcMahon for me is taking less than one sec, please reset your filtering and try again

[2019-10-17 17:54] KimMcMahon commented on #131
[Document](https://docs.google.com/document/d/1JpR4nVberj6Yq-Ce2H9admaFEOclwR8pACAGzSf52iY/edit) with the translated text

[2019-10-17 19:50] KimMcMahon commented on #124
Tested - timing is quick now. Thank you!

[2019-10-18 03:03] cjyabraham opened #132 "Remove google fonts from cncf.io"
They don't work in China so we need to replace them with something else.

[2019-10-18 03:06] dankohn commented on #132
We can use the Google Fonts but they need to be hosted on our site.

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-10-18 07:07] cjyabraham commented on #125
This is deployed.

[2019-10-18 07:07] #125 closed

[2019-10-18 07:17] cjyabraham commented on #128
looks like this was deployed when I deployed #125.

[2019-10-18 07:17] #128 closed

[2019-10-18 12:23] deigolocco commented on #124
adjusted and merged @cjyabraham, you can deploy

[2019-10-19 09:48] cjyabraham commented on #124
When you pick an expertise and a project at the same time, the server times out.  [Try this for example](https://fz-124-cncf.pantheonsite.io/speakers/?expertise=Community&_project=CloudEvents&_lc=expertise).  Does it work for you?

Also, [other queries](https://fz-124-cncf.pantheonsite.io/speakers/?languages=Chinese&_lc=languages) [don't seem to work either](https://fz-124-cncf.pantheonsite.io/spe

[2019-10-20 03:20] cjyabraham commented on #14
[I've requested LF setup our subdomain for this](https://jira.linuxfoundation.org/browse/WEB-392).

[2019-10-20 04:25] KimMcMahon commented on #56
@pablodelarocha Is this ready to test so we can deploy?

[2019-10-20 05:06] cjyabraham commented on #124
Hmm.  They seem to be working today.  Did anything change?

[2019-10-21 05:49] cjyabraham commented on #14
Some things we need to do:
- [ ] setup analytics; we may want to link this with the cncf analytics account
- [ ] pick a theme
- [ ] write css to override with CNCF colors
- [ ] customize theme with images, logo, favicon etc.

[2019-10-21 06:19] cjyabraham commented on #118
Closing this due to inactivity.  Feel free to reopen @amye if there's something more you want here.

[2019-10-21 06:19] #118 closed

[2019-10-21 06:37] KimMcMahon commented on #14
@cjyabraham I'm getting caught up with this issue.

A couple of questions / comments:

- Why a different theme to 'override with CNCF colors'. I read this and assume this is to make it look different than the CNCF site?

- Comment on the member posts and giving them a better location on the job site. Can we also add a badge or something to indicate a post from a member?

[2019-10-21 07:00] cjyabraham commented on #14
@KimMcMahon
The job board software has a number of different themes we can pick from.  Once we pick a theme, we can insert some CSS so that the theme uses CNCF colors.  I figure this would be good to brand it as close to CNCF as possible.

Members will be given a coupon code with which they can post a "featured" post which will be listed in prime locations on the board.  I don't think we can add a

[2019-10-21 07:13] cjyabraham opened #133 "Launch CNCF job board"
- [x] setup analytics
- [x] setup maps API
- [x] pick a theme
- [x] customize theme with images, logo, favicon etc.
- [x] write css to override with CNCF colors
- [x] test various use-cases; make sure notifications work and all the messaging is clear
- [x] get [subdomain setup](https://jira.linuxfoundation.org/browse/WEB-392) ([IT ticket](https://jira.linuxfoundation.org/servicedesk/customer/porta

[2019-10-21 07:14] cjyabraham commented on #14
I'm starting a new clean issue focused on the launch.  Closing this ticket in favor of #133.

[2019-10-21 07:14] #14 closed

[2019-10-21 11:14] deigolocco commented on #132
yes @dankohn. We mapped where these fonts are being requested.
Gravity Forms is calling the font josephine sans and Youtube roboto.
For GF was necessary disable the css and substitute the style directly at the theme(that's what I'm doing now, not done yet).
Youtube will be necessary to do the same as we did for events. I'll need your help for this. For each Youtube video we'll need to have a subst

[2019-10-21 11:19] deigolocco commented on #124
@cjyabraham yes. When we merged issue 125 with 124 the cache was clear. We are pre-caching all itens for each filter, but their combinations are being cached on demand.
Was necessary to run these commands at server on database:
[code]

[2019-10-21 11:20] deigolocco commented on #56
yes @KimMcMahon https://fz-56-cncf.pantheonsite.io/speaker/janakiramm/

[2019-10-21 11:25] deigolocco commented on #132
cool! @dankohn!
But Gutembergue is not being used at website yet. Anyway, I'll finish GF for now.
Thanks

[2019-10-21 12:30] deigolocco commented on #117
guys this was fixed during the issue 56 implementation https://fz-56-cncf.pantheonsite.io/speaker/janakiramm/

[2019-10-21 13:01] KimMcMahon commented on #56
@deigolocco looks good. This profile should have an icon to symbolize Sig-Storage.
https://fz-56-cncf.pantheonsite.io/speaker/chira001/

For SIG Security, use this image. Can you suggest an icon for SIG Storage and SIG App Delivery?
![sig-security-icon-color](https://user-images.githubusercontent.com/29307455/67207309-86185700-f3d0-11e9-9897-6d8800bad865.png)

[2019-10-21 13:15] cjyabraham commented on #124
deployed

[2019-10-21 13:15] #124 closed

[2019-10-21 13:44] deigolocco commented on #132
Gravity Forms is finished, is not requesting google fonts anymore.
Now, only Youtube videos are calling google fonts.
There's another situation that I don't if is a problem or not, at this [page](https://www.cncf.io/about/members/) external fonts are being called
<img width="432" alt="Captura de Tela 2019-10-21 às 10 39 29" src="https://user-images.githubusercontent.com/5631313/67210484-8f64ec00-

[2019-10-21 14:13] dankohn commented on #56
@KimMcMahon Please talk to @amye as they'll be coming up with their own logos soon.

If you need something in the meantime, you can use these emoji:

App Delivery: 📨🚚
Storage: 🗄

[2019-10-21 14:15] KimMcMahon commented on #56
@deigolocco Please use the emoji's Dan shared

@dankohn Amye and I talked - she will let me know when they have a logo.

[2019-10-21 14:34] dankohn commented on #132
No, calling fonts from landscape.cncf.io isn't a problem. We host them locally to avoid relying on Google, so things work in China.

We won't be able to offer qq videos for all of our webinars yet, but could you please create a new issue to have the video at the bottom of the homepage play on qq when the person is in China.

[2019-10-21 16:27] cjyabraham opened #134 "Make video at bottom of homepage play the qq video for users in China"
Use the main concepts from [this block](https://github.com/cncf/china-video-block)

[2019-10-21 16:27] cjyabraham commented on #132
#134 created for the video task

[2019-10-21 16:36] deigolocco commented on #134
@dankohn the Gutemberg [plugin](https://github.com/cncf/china-video-block) uses the same logic and API that we used for events.
<img width="980" alt="Captura de Tela 2019-10-21 às 13 27 14" src="https://user-images.githubusercontent.com/5631313/67224173-078adc00-f407-11e9-9f53-4bd62b172967.png">
will be great to use it after CNCF rebuilt, having Gutemberg.
For now we need implement manually for h

[2019-10-21 17:33] deigolocco commented on #132
I did through manager, so it's live

[2019-10-21 17:52] dankohn commented on #132
I did a hard reload and still see in view source:
[code]

[2019-10-21 18:25] deigolocco commented on #132
Inspecting the page Network/Font, you can observe the font is not being requested
<img width="1329" alt="Captura de Tela 2019-10-21 às 15 17 01" src="https://user-images.githubusercontent.com/5631313/67231981-c3073c80-f416-11e9-94fd-ab040e106461.png">
But I'll work to remove this from the head

[2019-10-22 00:55] deigolocco commented on #134
it's done https://fz-132-cncf.pantheonsite.io/

[2019-10-22 01:15] dankohn commented on #134
Tally in Beijing confirms that the qq video plays correctly.

[2019-10-22 01:18] deigolocco commented on #134
great!

[2019-10-22 02:58] cjyabraham commented on #132
deployed

[2019-10-22 02:58] #132 closed

[2019-10-22 03:59] cjyabraham commented on #134
deployed, and I've asked Tally for confirmation it works on the live site.

[2019-10-22 04:58] cjyabraham commented on #134
Tally has confirmed that it is working.

[2019-10-22 04:58] #134 closed

[2019-10-22 06:40] cjyabraham commented on #56
@KimMcMahon @deigolocco , looking at this demo, I don't like how you have to hover over the logos in order to figure out what they are.  Would you be open to making them larger so that the text can be read in the logos and, perhaps, placing them to the right of the photo?

[2019-10-22 14:34] pablodelarocha commented on #56
@cjyabraham heres a couple of options. I guess the badges can't be smaller than this to still be readable. If we make them larger, then it might be a problem in profiles that has all certifications.
Also, i'm suggesting that we limit the # of characters on the bio and title, and add a "Read more" link to expand it.
Also the plane and train icons, i'm suggesting they still appear below the title an

[2019-10-22 15:20] cjyabraham commented on #56
@pablodelarocha hmm, can you try one other option iterating from your first solution above:
- put the bio back down to where it is in [our current profiles](https://www.cncf.io/speaker/seungkyua/)
- put the title field text in the right-column above the certifications

In this configuration I don't think we'll need read more links.

[2019-10-22 17:10] pablodelarocha commented on #56
@cjyabraham  sure, here's a couple of new suggestions as you requested. Let us know if any of these works for you.

![03](https://user-images.githubusercontent.com/54405572/67311284-a716a000-f4d5-11e9-857a-8a88dfab39ce.jpg)
![04](https://user-images.githubusercontent.com/54405572/67311285-a7af3680-f4d5-11e9-8046-8ecc4eacd309.jpg)

[2019-10-22 21:25] dankohn opened #135 "Replace 404 image"
You replaced the Phippy 404 SVG with a PNG to avoid it becoming distorted on small screens. The attached SVG should do the same because it includes a viewbox to keep the ratio constant. Please use as the 404 image and confirm it looks good on small screens.

[404-phippy.svg.zip](https://github.com/cncf/wordpress-site/files/3758689/404-phippy.svg.zip)

[2019-10-23 02:26] cjyabraham commented on #56
I like the second one, except I don't like where the airplane icon is.  I wonder if we need that icon at all since we have that info below in the Travel Range field and I don't think that info really needs to be so prominent.  So my preference would be the second option without the airplane icon.

@KimMcMahon @dankohn ?

[2019-10-23 05:05] cjyabraham commented on #11
This may be the simplest and quickest user story that achieves this functionality:

1. Member filters the list of speakers
2. If the resulting set of speakers is less than, say, 50, we expose a link/button: "Email selected speakers"
3. If the member clicks that button, it pops open their email client with an email addressed to speakers in the set
4. The member fills in the subject and body of the

[2019-10-23 06:34] dankohn commented on #56
LGTM. Let's put the plane in front of the word International at the bottom left.

[2019-10-23 07:44] dankohn commented on #11
I love simple, but unfortunately, this proposal encourages abuse. With 500 members, someone will decide to fetch all of the email addresses (50 at a time) in order to create a list of influencers.

Instead, we need to have a form that allows logged in users to send a message to a subset of users, and have that actually send email, not use a private messaging service.

[2019-10-23 08:09] cjyabraham commented on #11
Ok, so how about this?

1. Member filters the list of speakers
2. If the resulting set of speakers is less than, say, 50, we expose a link/button: "Email selected speakers"
3. If the member clicks that button, it goes to a form where they fill in subject and message.  The form will likely be a Gravity form with validation, spam control, etc.
4. On send, the form takes the filter parameters and gen

[2019-10-23 09:30] dankohn commented on #11
Sounds good. If you select more than 50, it should add a note saying that
you can only email 50 or less. All emails send should cc a private mailing
list that we can monitor to look for bad behavior.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar

[2019-10-23 12:08] cjyabraham commented on #11
Ok, I'll write up a new issue for Diego that looks like below.  Let me know if ok.  Separately, @KimMcMahon @dankohn @cjyabraham will need to work on messaging around this so members are aware they can do this.  One question: is it clear to members how to login to the site?  Here's the issue for Diego's team:

**Members can email filtered search results of speakers**

Add a button to [the Speaker'

[2019-10-23 12:13] pablodelarocha commented on #56
Ok @dankohn and @cjyabraham we'll proceed with the below design then. Thanks!
![profile](https://user-images.githubusercontent.com/54405572/67391583-60788280-f575-11e9-8bc8-2e451f7d939d.jpg)

[2019-10-23 14:01] dankohn opened #136 "Set up SPF for jobboard.io emails"
https://support.jobboard.io/docs/increase-email-deliverability

[2019-10-23 14:03] dankohn opened #137 "Enable LinkedIn authentication"
https://support.jobboard.io/docs/linkedin-authentication

[2019-10-23 14:08] deigolocco commented on #135
replaced https://fuerza-cncf.pantheonsite.io/qowiuhehuqwh

[2019-10-23 14:23] dankohn commented on #135
LGTM, thanks.

[2019-10-24 04:09] cjyabraham opened #138 "Members can email filtered search results of speakers"
Add a button to [the Speaker's Directory](https://www.cncf.io/speakers/) below the filters that says "Email Matching Speakers".  This button only shows when someone is logged in and has the role member, ambassador or maintainer.  It is visible but greyed out unless 50 or fewer speakers are being displayed.  When it is greyed out there's a tooltip that shows on hover: "Bulk email only available for

[2019-10-24 04:09] cjyabraham commented on #11
Ok.  Clean issue created for Diego at #138.  Closing this one now.

[2019-10-24 04:09] #11 closed

[2019-10-24 04:30] cjyabraham commented on #135
The iPhone X views seem problematic.  Can these be fixed:
- portrait view - too much white space so you have to scroll quite a lot
- landscape view - image too small and "back home" button overlaps with the footer

<img width="356" alt="Screen Shot 2019-10-24 at 11 25 42 AM" src="https://user-images.githubusercontent.com/463160/67453634-75c2df00-f651-11e9-9aab-c3ec4025a1a1.png">
<img width="742" a

[2019-10-24 04:41] cjyabraham commented on #136
[Issue created.](https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-18033)

[2019-10-24 04:50] cjyabraham commented on #137
Linked and tested that it works.

[2019-10-24 04:50] #137 closed

[2019-10-24 11:07] KimMcMahon opened #139 "Create template for Chinese case studies."
I would like the Chinese case studies to look similar to the English version. But we need a separate template so they feed a Chinese case study page, not the English case study page.

Related to #131

[2019-10-24 14:16] #139 closed

[2019-10-24 14:20] cjyabraham commented on #131
@KimMcMahon, @deigolocco and I just discussed this.  We're trying to figure out the best way to build this so want to make sure we're understand the vision for this correctly.

Are we correct in assuming that this list of Chinese case studies will be separate from the English case studies?  They'll be on their own page, own url, and won't be related to the English case studies in any way now or in

[2019-10-24 14:23] dankohn commented on #131
Yes, the plan is to have parallel pages for the Chinese. So, there's be a separate menu item saying "Case Studies" in Chinese, and each of the case studies there would be separate.

While theoretically, we may decide to post more parts of our site in Chinese, it's unlikely for the next year or two. This is the only thing we want to translate right now.

[2019-10-24 15:50] KimMcMahon commented on #131
Adding: Case Study template for the China case studies. @cjyabraham please prioritize this. I can share a translated case study as part of a campaign without the web page complete.

[2019-10-24 18:21] deigolocco commented on #135
adjusted @cjyabraham

[2019-10-24 19:09] rodmeurer commented on #56
Done @cjyabraham

https://fz-56-cncf.pantheonsite.io/speaker/jgarr/

[2019-10-24 21:37] dankohn opened #140 "Change case studies path"
Please have the case studies live at https://www.cncf.io/newsroom/case-studies/ instead of https://www.cncf.io/projects/case-studies/ and have the old path redirect.

[2019-10-25 04:24] cjyabraham commented on #140
done

[2019-10-25 04:45] cjyabraham commented on #135
deployed

[2019-10-25 04:45] #135 closed

[2019-10-25 04:57] cjyabraham commented on #56
Nice.  A few comments:
1. Can you make the text used in the title to be the same font, size etc. as that used for the bio?
2. Speakers without a title have [some](https://fz-56-cncf.pantheonsite.io/speaker/prydonius/) [render](https://fz-56-cncf.pantheonsite.io/speaker/carlisia/) issues
3. When you hover on a badge, the mouse cursor changes making it seem like you can click on them, but you can't.

[2019-10-25 08:23] #127 closed

[2019-10-25 10:21] dankohn commented on #140
Please also update the link at the top of https://www.cncf.io/people/end-user-community/.

[2019-10-25 10:22] dankohn commented on #56
Unlinked is fine.

[2019-10-25 19:08] rodmeurer commented on #56
@cjyabraham fixed.

https://fz-56-cncf.pantheonsite.io/speaker/carlisia/
https://fz-56-cncf.pantheonsite.io/speaker/prydonius/
https://fz-56-cncf.pantheonsite.io/speaker/aberoham/
https://fz-56-cncf.pantheonsite.io/speaker/jgarr/

[2019-10-25 19:15] deigolocco commented on #131
@KimMcMahon created
https://fz-131-cncf.pantheonsite.io/newsroom/case-studies-cn/
You can add more cases [here](https://fz-131-cncf.pantheonsite.io/wp-admin/edit.php?post_type=case_study_cn)
<img width="161" alt="Captura de Tela 2019-10-25 às 16 04 53" src="https://user-images.githubusercontent.com/5631313/67597696-2f997880-f742-11e9-8eda-d61f82721f60.png">
I just cloned one from the english case

[2019-10-26 06:07] cjyabraham commented on #140
done.

[2019-10-26 06:07] #140 closed

[2019-10-26 06:58] cjyabraham commented on #131
@deigolocco I believe you can use the [same taxonomy of projects](https://fz-131-cncf.pantheonsite.io/wp-admin/edit-tags.php?taxonomy=cstudies_project&post_type=case_study) for the Chinese case studies that are used on the English case studies.

@dankohn do Cloud Types (i.e. hybrid, private, public) and Product Type (i.e. distribution, hosted, installer) need translating or can we use the english

[2019-10-26 07:16] cjyabraham commented on #56
Almost there.  Can you look at the alignment of the [photo and title here](https://fz-56-cncf.pantheonsite.io/speaker/liviucostea/)?  They look too far right and don't match the alignment of the Bio section.

[2019-10-27 07:27] cjyabraham opened #141 "Develop process of designating members, ambassadors and maintainers in cncf.io"
This is needed for #138.

from @dankohn :
"ambassadors and maintainers are intersecting but not a subset. I think we want to ask them to log in and then request via the new memberdesk to be upgraded to be able to send emails. It would be  a checkbox that Taylor could set. I'm open to more streamlined ideas but I don't think it's necessary."

[2019-10-27 13:54] KimMcMahon commented on #56
@cjyabraham The photo and title you reference looks good to me. Can you please deploy.

As a FYI - I'm waiting on sending the second email to speakers until this new design is ready. Thank you.

[2019-10-27 13:58] KimMcMahon commented on #131
@cjyabraham @deigolocco

All I need (first three items in the issue description:

- Update the menu. Add an option for Chinese language case studies under the End User Case Study menu item.

- Create a page for the Chinese case studies, exactly as the English case studies. Including tiles.

- No filtering on the Chinese language case study page (at this time). **So - we don't need to do anything w

[2019-10-27 14:58] deigolocco commented on #131
@KimMcMahon they are done [here](https://fz-131-cncf.pantheonsite.io/newsroom/case-studies-cn/)

@alexcontini could you tell me which issues you have with case studies? Please feel free to ping at hangouts or slack.

@cjyabraham if some moment the taxonomies will be translate I don't recommend. Please confirm if should I use the same for all of them.

[2019-10-27 14:59] deigolocco commented on #56
@cjyabraham and @KimMcMahon we finished the adjustments yesterday

[2019-10-27 15:00] deigolocco commented on #121
fixed and adjusted to work on mobile
https://fz-121-cncf.pantheonsite.io/about/faq/

[2019-10-27 17:38] KimMcMahon commented on #131
@deigolocco Please add the Chinese text to this page - above the English text. The translated text is in the Google Doc referenced above.

Can you tell me what "taxonomies" are. It sounds like filtering to me - and I don't want filtering at this time.

[2019-10-28 04:03] cjyabraham commented on #131
@KimMcMahon  we know you don't want filtering, however we use taxonomies to describe the case studies and add some structure to the data.  The taxonomies populate the right column on [each case study page](https://www.cncf.io/case-study/adform_prometheus/).  That's why [I was asking @dankohn](https://github.com/cncf/wordpress-site/issues/131#issuecomment-546576771) whether we could use English wor

[2019-10-28 04:19] cjyabraham commented on #121
A couple of issues:
- when I click on the last entry in desktop view it doesn't highlight in the left column but instead highlights the second-to-last entry
- in mobile, the question picker looks like a drop-down but behaves like an accordion: when you click it open, the questions show up below it rather than inside the drop-down.  First, do we need to have this expandable at all or can we just sh

[2019-10-28 04:33] cjyabraham commented on #56
@deigolocco alignment looks better, thx.

Can you use [the logos Dan mentioned](https://github.com/cncf/wordpress-site/issues/56#issuecomment-544533881) for SIG App Delivery, SIG Security and SIG Storage?  Will they work?  I'm seeing Sig Storage is missing from [here](https://fz-56-cncf.pantheonsite.io/speaker/chira001/) and [all three from here](https://fz-56-cncf.pantheonsite.io/speaker/randy.ab

[2019-10-28 06:13] dankohn commented on #131
English is fine.

[2019-10-28 06:15] dankohn commented on #121
We want to show all questions on mobile, please.

[2019-10-28 06:57] cjyabraham commented on #141
@dankohn someone has gone to some trouble to setup these roles within cncf.io:
_Editor + Gravity Forms (1) | Administrator (25) | Admin (15) | Member (13) | Editor (16) | Editor with Menu (4) | Editor with Salient (2) | Subscriber (154) | Speaker (256) | No role (1)_

As you can see, however, most aren't being used.  For the purposes of this email functionality, we could use the "Member" role that

[2019-10-28 07:04] dankohn commented on #141
@ccraigross Can you speak to how these rolls were set up?

I think just Member is fine, as some people are Member, Ambassador, and Maintainer, so what to select would be non-obvious, and their rights (to send emai) will be the same in all cases.

[2019-10-28 12:38] deigolocco commented on #121
ok guys, we're adjusting the mobile to let them open.

@cjyabraham as I mentioned on my [first interaction](https://github.com/cncf/wordpress-site/issues/121#issuecomment-542418075) we don't have space under the FAQ section to scroll until the last item.
I did a simulation how much space do we need for that
<img width="1678" alt="Captura de Tela 2019-10-28 às 09 28 17" src="https://user-images.gi

[2019-10-28 13:18] deigolocco commented on #131
@KimMcMahon Chinese copy added
https://fz-131-cncf.pantheonsite.io/newsroom/case-studies-cn/
<img width="239" alt="Captura de Tela 2019-10-28 às 10 11 31" src="https://user-images.githubusercontent.com/5631313/67681154-82a24400-f96b-11e9-8fa9-2cc4eecf0be0.png">

@cjyabraham using same taxonomies from english case studies

[2019-10-28 13:22] KimMcMahon commented on #131
@deigolocco Looks good. Thank you.

@cjyabraham If this is good for you, please deploy.

Thanks!

[2019-10-28 13:33] rodmeurer commented on #56
@cjyabraham we used the logos as suggested, let us know if it is as expected. We couldn't get the SVG version for the "delivery" logo.

[2019-10-28 13:37] ccraigross commented on #141
@dankohn - I can speak to the default roles but I am not sure who added the Member and Speaker roles - @cjyabraham? In any case, we can assign multiple roles to someone so perhaps we add an Send Email role along with Member?

[2019-10-28 16:29] cjyabraham commented on #121
@deigolocco I think you misunderstand my statement.  When I click on the last link in the menu it doesn't highlight.  Can you get it to highlight?  I understand that you can't scroll that content to the top of the window.  That's not a problem for me.

Here is the screen right after I click on the last menu item.  You see, the second-to-last item is highlighted and not the last:

<img width="708"

[2019-10-28 16:32] cjyabraham commented on #141
@ccraigross ok, I'll think about that.  I think "Send Email" is more of a capability that should be assigned to each of the roles: "Member", "Ambassador" and "Maintainer" but maybe I'm being too much of a purest here :)

[2019-10-28 16:35] cjyabraham commented on #56
Thanks @rodmeurer .

@dankohn @KimMcMahon the logos we have for SIG App Delivery and SIG Storage [are not self-explanatory](https://fz-56-cncf.pantheonsite.io/speaker/randy.abernethy/).  Do you suggest we add text below them or wait for something recognizable form @amye ?

[2019-10-28 16:40] deigolocco commented on #121
@cjyabraham we're still working.
About you question is not possible, the item needs to be at the top of the page, so without an extra space below this is not be possible. We can force on click, but I believe this will be a "false positive" and may confuse the user, because he/she will see a different item at the top compared to the highlight menu item.

[2019-10-28 19:25] taylorwaggoner commented on #4
@cjyabraham wanted to check on timeline for this issue.  I had an example pop up today about why the project pages need to be updated: CloudEvents is moving from Sandbox to Incubating - in order to make this change in WordPress, I have to manually copy and paste all of CloudEvent's info from the edit screen of https://www.cncf.io/sandbox-projects/ to the edit screen of https://www.cncf.io/projects

[2019-10-29 02:32] cjyabraham commented on #4
Sounds good @taylorwaggoner .  We should be kicking of development of the rebuild in the next month or two.

[2019-10-29 02:40] cjyabraham commented on #138
FYI I investigated our email sending capacity with our current AWS mail server:
The limits are as follows:

"Max24HourSend": 50000.0,
"MaxSendRate": 14.0,  (that's 14/second)

"SentLast24Hours": 4469.0

So our current account should be sufficient for us to run this new feature.

[2019-10-29 02:45] cjyabraham commented on #136
this is done.

[2019-10-29 02:45] #136 closed

[2019-10-29 07:50] KimMcMahon commented on #56
@cjyabraham @deigolocco
At one point, did we have the words pop up with a hover over the icon? I thought I saw a conversation on that, but I don't recall the outcome.

Change "certifications" to "affiliations" on the individual speaker page.
<img width="806" alt="Screen Shot 2019-10-29 at 1 49 48 AM" src="https://user-images.githubusercontent.com/29307455/67747507-7b704a00-f9ee-11e9-95a1-c2ea8e708

[2019-10-29 08:22] cjyabraham commented on #56
Yes, we had hover tooltips before when the other icons were very small.  We could have them again for these ones that don't have text but not needed now for the others?

[2019-10-29 08:45] cjyabraham commented on #131
@deigolocco there was a small problem but I made a quick fix so that I could deploy:

[code]

@KimMcMahon this is deployed so you can start adding Chinese case studies then we can link the directory in to the menu.

[2019-10-29 13:30] deigolocco commented on #131
thank you @cjyabraham!

@KimMcMahon I did the necessary adjustments after deploy, here is the page https://www.cncf.io/newsroom/case-studies-cn/

I cloned an english case study as chinese, so you'll have a template to use.
Please let me know if any adjustment is necessary.

[2019-10-29 13:51] deigolocco commented on #121
@cjyabraham the adjustments for mobile are done, please confirm if we need to force the active statement onclick at menu.

[2019-10-29 13:52] deigolocco commented on #56
@KimMcMahon please confirm, if necessary we can add the tooltip back

[2019-10-30 07:29] cjyabraham commented on #121
LGTM.  @dankohn, ok to deploy?

@deigolocco I assume that I'll deploy the code then you'll go in and apply the template in the wp-admin?

[2019-10-30 09:03] dankohn commented on #121
Yes, please deploy.

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-10-30 09:05] cjyabraham commented on #121
@deigolocco can you resolve merge conflicts please and then I'll deploy?

[2019-10-30 11:41] deigolocco commented on #121
fixed @cjyabraham.
After the deploy I'll apply the template.

[2019-10-30 20:27] deigolocco commented on #138
thanks @cjyabraham, we finished https://fz-138-cncf.pantheonsite.io/speakers/
- The user only can see the button if is logged in
<img width="1327" alt="Captura de Tela 2019-10-30 às 17 20 01" src="https://user-images.githubusercontent.com/5631313/67895588-8e436580-fb39-11e9-8f29-38eacc5ed0ca.png">
- We are using A Gravity Form default, please let us know if you need something prettier
- For the S

[2019-10-31 06:29] cjyabraham commented on #121
Ok deployed.
@deigolocco can you apply the template?

[2019-10-31 06:54] cjyabraham commented on #138
Great.  It'll take some time to test this properly but I'll give you some feedback to start with:
- Can you make the greyed-out state of the button more greyed-out so that it's more obvious that the button is disabled?  Right now the button looks like just a normal button when disabled.
- Can you try putting the button over on the far-right and not have it push the "Displaying 79 matching speakers

[2019-10-31 08:00] dankohn commented on #138
No need. We should just sent the email to the group selected.

[2019-10-31 12:01] deigolocco commented on #121
applied @cjyabraham

[2019-10-31 16:04] cjyabraham commented on #121
Looks great!

[2019-10-31 16:04] #121 closed

[2019-11-01 02:10] deigolocco commented on #121
@cjyabraham we did an adjustment, when a user is logged in
![image](https://user-images.githubusercontent.com/5631313/67997606-9384db00-fc33-11e9-8906-cd84d92577e2.png)
It's fixed, could you deploy one more time please?

[2019-11-01 02:11] deigolocco commented on #138
@cjyabraham it's adjusted

[2019-11-01 11:43] cjyabraham commented on #121
Ok.  Deployed.

[2019-11-01 12:49] cjyabraham commented on #138
@deigolocco I think we need a title at the top of the form: "Email Speakers About Your Event"

Then you could use these field names to make them less ambiguous:
- Your Name
- Your Email
- Speakers to Email
- Email Subject
- Message
- Event Start Date
- Event End Date
- Will You Provide Travel Funding for Speakers
- Expected Number of Attendees at Event
- Main Language at Event
- CAPTCHA

@dankohn

[2019-11-01 14:53] KimMcMahon commented on #56
@deigolocco We are going to have custom icons in the next couple of weeks. Let's not worry about tooltips for now. If there is confusion, we can add them back.

[2019-11-01 15:06] deigolocco commented on #56
ok, thanks @KimMcMahon

@cjyabraham I believe we are good to deploy

[2019-11-01 16:03] dankohn commented on #138
I'm OK with editing if you recommend it. I just don't want to expose email
addresses to the sender.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Fri, Nov 1, 2019 at 8:49 AM Chris Abraham <notificat

[2019-11-01 16:49] cjyabraham commented on #56
@KimMcMahon I think there will immediately be confusion if we deploy as is.  I recommend we use tooltips, have text under the ambiguous icons, or even just have text and no icons for now.  Otherwise, if we deploy this and then announce it, people will immediately start filling in their certifications and will be confused by mail-inbox icons and filing-cabinet icons, IMHO.  Some will complain about

[2019-11-02 03:48] cjyabraham opened #142 "Mobile menu format broken"
Mobile menu is not filling the full width of the screen anymore.  Please fix.

<img width="314" alt="Screen Shot 2019-11-02 at 10 42 41 AM" src="https://user-images.githubusercontent.com/463160/68065551-8cf28280-fd5d-11e9-8b52-26017a2e97e5.png">

[2019-11-02 04:04] cjyabraham commented on #142
It looks like this was the commit that broke things.  Any ideas @deigolocco:
[code]

[2019-11-02 04:20] cjyabraham commented on #131
Assigning to Kim since the remaining items are for her to do.

[2019-11-02 04:23] cjyabraham commented on #120
@KimMcMahon is this issue still active?  If not, please close.

[2019-11-02 04:24] cjyabraham commented on #94
@KimMcMahon is this issue still active?  If not, please close.

[2019-11-02 04:26] cjyabraham commented on #141
@dankohn any thoughts on this?

[2019-11-02 04:53] cjyabraham commented on #117
I can no longer duplicate this issue so assume it is fixed.  @KimMcMahon feel free to reopen if it's still a problem for you.

[2019-11-02 04:53] #117 closed

[2019-11-02 04:55] cjyabraham commented on #101
Marijana delivered a new form which fixes CORS issues but does not have field validation, the CSS is poorly written etc.  I have provided feedback to her on Oct 24 and have been waiting for a reply since then.

[2019-11-02 04:57] cjyabraham commented on #86
Still waiting for a working form.  See #101 .

[2019-11-02 04:59] cjyabraham commented on #32
Still waiting for working forms from Marijana's team.

[2019-11-02 06:50] dankohn commented on #101
Please email Marijana again and cc me and Katelin Wussow.

[2019-11-02 06:53] dankohn commented on #141
I don't think we need to differentiate.

[2019-11-03 06:44] cjyabraham opened #143 "Update WP and various plugins from LF-Engineering upstream"
I'm waiting for WP 5.3 to be released on Nov 12 for this.  I would like to avoid upgrading Salient as that often breaks things and I don't think there's anything for us to gain from it.  Ongoing, these kinds of updates should be made, say, once/month.  I'll add a reminder for myself.

tasks
- [x] deactivate 3 The Events Calendar tribe events plugins
- [x] deactivate 2 WP RSS plugins
- [x] deactiva

[2019-11-04 22:30] KimMcMahon opened #144 "UTC time for the webinars is not correct for webinars in China"
I believe the UTC-X is static, not a calculation based on the time zone. We have 2 webinars in China that show UTC-8 when it should be UTC+8

[2019-11-05 01:44] deigolocco commented on #142
adjusted @cjyabraham https://fz-142-cncf.pantheonsite.io/

[2019-11-05 03:55] cjyabraham commented on #142
This doesn't seem to work for me on mobile, both my physical Pixel 3a and [this Browserstack Samsung](https://drive.google.com/open?id=1kjwDW2hg3-SiPDhTphm0xnp1uZRbMPmP).  The menu expands when I click the hamburger but then immediately contracts to just a small bar.  Any ideas?

[2019-11-05 03:56] cjyabraham commented on #144
@KimMcMahon can you provide links to the webinars you want looking at?

[2019-11-05 05:02] taylorwaggoner commented on #144
@cjyabraham
https://www.cncf.io/webinars/gain-confidence-in-compliance-advanced-image-scanning-with-harbor-2/
https://www.cncf.io/webinars/network-traffic-management-in-cloud-native-application/

[2019-11-05 06:42] cjyabraham commented on #133
Initial IT setup done.  Full launch is being managed by Kristi according to [this plan](https://docs.google.com/document/d/1j8CBiUrOsoNn0xRElxNFECqPCys8VQsfzMMgLLC18Oo/edit?ts=5dc09a49).

[2019-11-05 06:42] #133 closed

[2019-11-05 07:41] cjyabraham commented on #141
Organizing thoughts around this [here](https://docs.google.com/document/d/1HUdcafXh-PX4CRG7dUKhbOhf9BaGsI5yGCE21BHOiyM/edit#).

[2019-11-05 07:43] cjyabraham commented on #56
@dankohn do you have thoughts on this ^ ?

[2019-11-05 11:15] dankohn commented on #56
I would suggest that we remove the SIGs for now. They are different than being a CKA or ambassador. We could decide later to allow people to select SIGs and projects that they're associated with, but that probably fits better in a bio.

[2019-11-05 13:13] cjyabraham commented on #56
Ok.  I will deploy.

[2019-11-05 14:16] cjyabraham commented on #56
this is deployed.

[2019-11-05 14:16] #56 closed

[2019-11-05 16:16] KimMcMahon commented on #131
Update:
Julie is translating Pinterest so we can use it for our planned China campaign.

I have asked Julie to work with Alex to get the existing translated case studies into the template.

Once we have them in the template, Donald has read them, we'll upload to the website and make the page live.

[2019-11-05 19:02] rodmeurer commented on #142
@cjyabraham adjusted. We made tests for Pixel 3a, Pixel, Samsung S10, S7 and some more in Browser Stack. Can you test in your mobile please?

[2019-11-05 23:29] deigolocco commented on #144
@KimMcMahon we did some adjustments
https://fz-144-cncf.pantheonsite.io/webinars/
https://fz-144-cncf.pantheonsite.io/webinars/gain-confidence-in-compliance-advanced-image-scanning-with-harbor-2/

if you add CST at time, will show UTC + 8
<img width="244" alt="Captura de Tela 2019-11-05 às 17 29 42" src="https://user-images.githubusercontent.com/5631313/68255026-dadfe280-000a-11ea-8269-3f7a94265d8

[2019-11-07 08:18] cjyabraham commented on #142
Looks fine.  Can you resolve the merge conflicts please and then I'll deploy.

[2019-11-07 11:18] deigolocco commented on #142
solved @cjyabraham

[2019-11-07 11:29] deigolocco commented on #138
@cjyabraham we did the adjustments that we discussed on our call and I set the emails for you, so you can test the completed flow

[2019-11-07 17:20] KimMcMahon opened #145 "New page: Telecom User Group"
Page content in the [Google Doc](https://docs.google.com/document/d/1A_PVaDyQHFilM_RuW_XBmC-UDeLvXUtsGPwgwBLU8Cs/edit?usp=sharing)

- [ ] Page Design

- [ ] Populate with content

- [ ] Add to Community menu above Infrastructure Lab

[2019-11-07 17:27] KimMcMahon opened #146 "Video link not working on the job board"
I received an email from a member:
I just wanted to let you know that the youtube ID is not working on the company profile page (that the job board links to). Attached is the screenshot.
<img width="1281" alt="Screen Shot 2019-11-07 at 9 47 37 AM" src="https://user-images.githubusercontent.com/29307455/68412241-1bde1100-0149-11ea-98e6-a0894057a439.png">

[2019-11-07 17:40] KimMcMahon opened #147 "Remove "older newsletters" from the newsletter page"
Leave the link to the archive

https://www.cncf.io/newsroom/newsletter/

[2019-11-07 23:18] dankohn commented on #146
I submitted to jobboard and they said the URL is wrong.

[2019-11-07 23:18] #146 closed

[2019-11-08 06:33] cjyabraham commented on #142
The menu appears broken again.  Whatever you just did to resolve conflicts appears to be the original cause of this issue:
<img width="313" alt="Screen Shot 2019-11-08 at 1 33 03 PM" src="https://user-images.githubusercontent.com/463160/68454811-61bfd580-022c-11ea-9503-47f801836b08.png">

[2019-11-08 07:20] cjyabraham commented on #146
The particular ui for this on jobboard.io admin is not very clear.  If the particular video they want to feature is https://www.youtube.com/watch?v=ntLlHBTNOB0 then they should enter ntLlHBTNOB0 in the YouTube ID field.

[2019-11-08 07:29] cjyabraham commented on #147
Are you saying you want the title "Older Newsletters" removed and everything below it?  Or just the title?

[2019-11-08 10:03] cjyabraham commented on #142
@deigolocco, with respect to this issue and our work in general, would you please remind your team to both check that their branches can merge to master and thoroughly test their work before passing things to me to deploy?

[2019-11-08 12:31] deigolocco commented on #142
you are right @cjyabraham, sorry for that. I did the merge, and was nothing at the code indicating possible problems, so I just did the merge and didn't double check. I'll do next time, my bad.

But the conflict is solved and the menu is tested, you can deploy this time.

[2019-11-09 03:11] cjyabraham commented on #142
this is deployed

[2019-11-09 03:11] #142 closed

[2019-11-12 22:56] KimMcMahon commented on #147
Yes. Older newsletters and everything below it. Thank you!

[2019-11-12 23:00] KimMcMahon commented on #144
Thank you @deigolocco. This looks good. Please implement and deploy.

[2019-11-12 23:07] KimMcMahon commented on #94
@cjyabraham This is still open. I need to update the emails.

[2019-11-12 23:08] KimMcMahon commented on #120
@cjyabraham Yes. Until the new Telecom page is built. #145

[2019-11-13 04:17] cjyabraham commented on #147
done.

[2019-11-13 04:17] #147 closed

[2019-11-13 04:18] cjyabraham commented on #144
@deigolocco is this ready to deploy from your POV?  Let me know what you want me to do.

[2019-11-13 12:04] deigolocco commented on #144
yes @cjyabraham, please deploy.

[2019-11-13 15:22] cjyabraham commented on #144
this is deployed.

[2019-11-13 15:22] #144 closed

[2019-11-16 07:09] cjyabraham commented on #138
@deigolocco
For the email form, can you change "Event start date" to "Event Start Date" and do the same for end date?

Once you send the message to the speakers, it gives this message: "Thanks for contacting us! We will get in touch with you shortly."  Can you change to: "Your message has been sent."  And show a link or button: "Back to Speakers Bureau"

Regarding the email that I got when sending

[2019-11-17 06:37] cjyabraham commented on #138
Additionally, we'd like to log each email to this email address for our admins to moderate: speakers-bureau-messages@lists.cncf.io
I don't think each individual email needs to be cc'd there, rather, it may make more sense to send one email for each group of speakers that receive an email.  In it you could list all speakers who received the email.

[2019-11-17 11:08] dankohn commented on #138
No, we don't want to share speakers email with each other. So, if we can
send one email, they should be in the Bcc list. That implies that we want
to send one message to the archive where the speakers email (and the
archive address) are in the To line, and one where they're in the Bcc line.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation

[2019-11-17 16:18] cjyabraham commented on #138
@dankohn , I'm not sure if I understand everything you say here but @deigolocco and I have already discussed that each speaker will receive their own email with just them in the to: line.  So there's no way that any speaker will know of any other speaker.

What I'm suggesting in my comment above is, as a log, have one final email going to the group archive list and, in the contents of that email,

[2019-11-17 17:25] dankohn commented on #138
Sounds good.

[2019-11-18 19:21] rodmeurer commented on #138
@cjyabraham up to date! We set both emails for your gmail address, so you can test.

[2019-11-19 08:35] cjyabraham commented on #138
Looking good.

Can you make it so that only users with the role Member or Administrator can see the button?

[2019-11-19 08:57] cjyabraham opened #148 "Deployment of Speakers Bureau bulk email"
- [x] Prepare updated text for [Speakers Bureau page](https://www.cncf.io/speakers/) and [instruction page](https://www.cncf.io/cncf-member-instructions/) and get approvals (Chris)
- [x] Update code to send to live emails (Diego)
- [x] Get Nirav to install and test the LFID login on the live site (Chris)
- [x] Deploy updated code (Chris)
- [x] Update [login page](https://www.cncf.io/speakers/login

[2019-11-19 18:20] rodmeurer commented on #138
Done @cjyabraham !

[2019-11-20 04:23] cjyabraham commented on #138
@rodmeurer I created a test user and assigned him Member and Administrator roles but I can't get the button to show up for him at all.  See screenshot when he is currently an Administrator:

<img width="1315" alt="Screen Shot 2019-11-20 at 11 21 34 AM" src="https://user-images.githubusercontent.com/463160/69208942-fceb7000-0b87-11ea-93e7-2d36fdca24ef.png">

Also, if someone is not an Administrator

[2019-11-20 05:13] cjyabraham commented on #143
on deploy
- [ ] deactivate 3 The Events Calendar tribe events plugins
- [ ] deactivate 2 WP RSS plugins
- [ ] deactivate Cool Timeline pro plugin

[2019-11-20 09:17] cjyabraham commented on #63
this is being done in #143.

[2019-11-20 09:17] #63 closed

[2019-11-20 14:01] rodmeurer commented on #138
@cjyabraham fixed, it was a cache problem with the button. Removed the black bar also if the user is not Administrator.

[2019-11-21 04:07] #143 closed

[2019-11-21 05:31] cjyabraham commented on #16
I've added this to the [requirements doc for redesign](https://docs.google.com/spreadsheets/d/1ufJUHCkt4cT_Ovdm3T7y8oRTvj69IEMI9cqJHDYSM6w/edit#gid=952198595)

[2019-11-21 13:38] alexcontini commented on #131
@KimMcMahon @deigolocco
I have put together the Chinese version of Pinterest here - https://www.cncf.io/case-study-cn/pinterest/ - but I am seeing that it's not showing up on the landing page - https://www.cncf.io/newsroom/case-studies-cn/ - do you know why this might be happening?

[2019-11-21 14:59] dankohn opened #149 "Jobs section"
Please rename the section to "Training, Certification, and Jobs". Add a third column titled "Free CNCF Job Board" and that has several entries from https://jobs.cncf.io/jobs.rss and a link to https://cncf.jobboard.io/ from the title and at the bottom.

[2019-11-21 16:27] cjyabraham commented on #149
The final link should be to https://jobs.cncf.io/ I believe, not https://cncf.jobboard.io/.

[2019-11-22 02:43] thetwopct commented on #16
We can set it so:
1. Uses featured image if present
2. Grabs first image in post if present
3. Else, uses default image

Should make it look a lot better with some images;  we can update the layout too as the super wide line length is not that attractive. Should also apply this to announcements and news pages (any post archive):
https://www.cncf.io/newsroom/in-the-news/
https://www.cncf.io/newsroo

[2019-11-22 11:33] deigolocco commented on #149
hi guys, it's done https://fz-149-cncf.pantheonsite.io/
please let me know if some adjustment is necessary.

[2019-11-23 05:27] cjyabraham commented on #149
@dankohn do we want "job board" or "jobs board"?  Currently in the Community menu we have "Free Jobs Board".  Also, are you sure you want the word "free"?  I feel we don't need to emphasize this in a permanent way like in menu links etc.

@dankohn additionally, I think the section should be titled "Latest Jobs" and the button text  at the bottom "CNCF Job Board"

@deigolocco is it possible to styl

[2019-11-23 12:39] dankohn commented on #149
"job board" singular, please. I agree about "Latest jobs".
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Sat, Nov 23, 2019 at 12:27 AM Chris Abraham <notifications@github.com>
wrote:

[2019-11-23 14:49] cjyabraham commented on #149
Thanks @dankohn.  I've updated the menu.  I assume you wanted to keep the word "free".

[2019-11-23 15:59] dankohn commented on #149
WDYT?
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Sat, Nov 23, 2019 at 9:49 AM Chris Abraham <notifications@github.com>
wrote:

[2019-11-23 16:28] cjyabraham commented on #149
I think we should drop "free".  It makes it sound cheap... which it is... but I don't think saying "free" will necessarily attract more people.  We do say "free" on the [home page of the board](https://jobs.cncf.io/) which I think is enough.

[2019-11-23 17:01] dankohn commented on #149
OK.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Sat, Nov 23, 2019 at 11:28 AM Chris Abraham <notifications@github.com>
wrote:

[2019-11-23 22:38] deigolocco commented on #149
Copy and front adjusted

[2019-11-25 11:36] cjyabraham commented on #149
@deigolocco I didn't intend for you to copy the exact styles from the job board to use on the cncf homepage.  I was just suggesting you use some variety in font styles to distinguish between the job title, date, company etc rather than having them all look the same and be on the same line.

Could you use existing styles on the cncf homepage instead of copying new styles from the job board?  Maybe

[2019-11-25 17:04] rodmeurer commented on #149
@cjyabraham we adapted the styles from CNCF to this section, let us know it it's ok now.

[2019-11-26 15:08] cjyabraham commented on #149
Thanks @rodmeurer .  Looking at it now, I'm thinking the date doesn't really add much and takes up a lot of space so don't include the date.

@dankohn any thoughts on [the design](https://fz-149-cncf.pantheonsite.io/) before we deploy?

[2019-11-26 18:44] dankohn commented on #149
No view.

[2019-11-26 20:28] deigolocco commented on #149
@cjyabraham date removed

[2019-11-27 03:28] cjyabraham commented on #149
@deigolocco can you remove the background shading please?  Then I think we're good to deploy.

[2019-11-27 05:50] cjyabraham commented on #141
done

[2019-11-27 05:50] #141 closed

[2019-11-27 05:52] cjyabraham commented on #138
Ok @rodmeurer .  This is ready to deploy.  Can you set the email addresses to email the real speakers email and the archive email list?

[2019-11-27 12:52] rodmeurer commented on #138
@cjyabraham we set up the emails and already configured the form in the live website. You must set a Google account for the CAPTCHA.

![image](https://user-images.githubusercontent.com/54405402/69724495-c7e89b80-10fa-11ea-9579-b4c779876b31.png)

![image](https://user-images.githubusercontent.com/54405402/69724522-d767e480-10fa-11ea-8ca0-e1d56595b9ec.png)

[2019-11-27 12:54] deigolocco commented on #149
@cjyabraham  background shading removed

[2019-11-27 13:30] cjyabraham commented on #149
deployed

[2019-11-27 13:30] #149 closed

[2019-11-27 13:38] cjyabraham commented on #138
Ok.  CAPTCHA is configured.
Could you please fix merge conflicts and then I'll deploy?

[2019-11-27 14:32] deigolocco commented on #138
fixed @cjyabraham

[2019-11-28 04:25] cjyabraham commented on #138
deployed

[2019-11-28 05:15] cjyabraham commented on #138
I have added a new speaker but it is not showing up in the "Speakers to Email" field on the form when I go to send an email.  This field needs to dynamically fill with new speakers as they get added.

[2019-11-28 06:19] cjyabraham opened #150 "Can't update emails in ultimate member"
When you try and edit the body of [the emails](https://www.cncf.io/wp-admin/admin.php?page=um_options&tab=email) and click "save" the changes don't stick.

[2019-11-28 06:20] cjyabraham opened #151 "Update ultimate member email text as per doc"
@KimMcMahon  has added new text for emails in [this document](https://docs.google.com/document/d/1IUA1O4Zr73cdtBSJQB9mcEdO0lisxWagNEaofICdty0/edit?disco=AAAAD-dXXG8&ts=5dde8452&usp_dm=true#heading=h.5jfz35magu6v).  Update the emails with the new text she has provided and then she'll test.

[2019-11-28 06:20] cjyabraham commented on #151
This is currently blocked by #150

[2019-11-28 08:25] cjyabraham commented on #16
closing [in favor of this](https://github.com/cncf/cncf.io/issues/11).

[2019-11-28 08:25] #16 closed

[2019-11-28 08:27] cjyabraham commented on #45
Closing [in favor of this](https://github.com/cncf/cncf.io/issues/10).

[2019-11-28 08:27] #45 closed

[2019-11-28 08:29] cjyabraham commented on #4
closing this in favor of [this board](https://github.com/cncf/cncf.io/projects/1?fullscreen=true).

[2019-11-28 08:29] #4 closed

[2019-11-28 08:32] cjyabraham commented on #18
closing [in favor of this](https://github.com/cncf/cncf.io/issues/5).

[2019-11-28 08:32] #18 closed

[2019-11-28 08:33] cjyabraham commented on #17
closing [in favor of this](https://github.com/cncf/cncf.io/issues/12).

[2019-11-28 08:33] #17 closed

[2019-11-28 13:32] rodmeurer commented on #138
Fixed @cjyabraham, can you test it again at https://fz-138-cncf.pantheonsite.io/speakers please?

[2019-11-28 13:57] KimMcMahon commented on #145
@alexcontini Do you work have time to work on this page design (with KubeCon behind us!)?

[2019-11-28 13:59] KimMcMahon commented on #94
Closing. New issue for the emails. I will manually check for compliance with our required items and deactivate profiles with communications to the speaker.

[2019-11-28 13:59] #94 closed

[2019-11-29 04:31] cjyabraham opened #152 "No speakers contact form when logged in as a speaker"
When I am logged in as a user with role "speaker" and I go to a [speaker's profile](https://www.cncf.io/speaker/puja/) I see this:
<img width="901" alt="Screen Shot 2019-11-29 at 11 29 38 AM" src="https://user-images.githubusercontent.com/463160/69843822-b094e400-129b-11ea-87b0-7f58b08173e3.png">

Why isn't there a form there?  When I am a "member" or an "Administrator" the form is there.

[2019-11-29 04:32] cjyabraham commented on #138
thx

[2019-11-29 04:32] #138 closed

[2019-11-29 18:09] rodmeurer commented on #152
fixed @cjyabraham at https://fz-152-cncf.pantheonsite.io/speaker/puja/

[2019-11-30 02:40] cjyabraham opened #153 "Event Schedule Email fallback value"
If "Event Schedule Email" field on the [events we're at](https://www.cncf.io/events-well-be-at/) isn't set, please make the button go to meeting@cncf.io.  Right there are many buttons that don't link anywhere.

[2019-11-30 04:27] cjyabraham commented on #152
deployed

[2019-11-30 04:27] #152 closed

[2019-12-02 12:08] deigolocco commented on #150
@cjyabraham we did some tests and this is a writing permission issue.
When we edit a email template, the file is saved at `themes/salient-child/ultimate-member/email`
However at homologation and production envs the application doesn't have permission to create files, so we can't save.
We tried to create manually by FTP without success.
Someone with server access could chance the permissions? This

[2019-12-02 18:10] rodmeurer commented on #153
Done @cjyabraham
https://fz-153-cncf.pantheonsite.io/events-well-be-at/

[2019-12-03 05:51] cjyabraham commented on #153
thanks.  deployed.

[2019-12-03 05:51] #153 closed

[2019-12-03 07:30] cjyabraham opened #154 "Speakers Bureau upgrade investigation"
Hi @deigolocco , we are considering the best way to move Speakers Bureau into our cncf rebuild project.  Since your team has been working on it most recently, we'd like you to investigate and come up with a recommendation for what we should do.

1. First, there is a new release of [the Ultimate Member plugin](https://wordpress.org/plugins/ultimate-member/), however, if you upgrade, you'll find you

[2019-12-03 16:58] alexcontini commented on #145
@KimMcMahon sounds great! I can do this for sure. I have created some rough drafts for the page and they are below. Let me know any feedback when you have a chance!

![telecom-user-group-page-designs-04](https://user-images.githubusercontent.com/27962005/70072026-367a9d00-15c4-11ea-872c-335bea9e9eb6.jpg)
![telecom-user-group-page-designs-03](https://user-images.githubusercontent.com/27962005/70072

[2019-12-03 18:38] KimMcMahon commented on #131
@alexcontini LGTM. Do you have others to upload to the website? I'd like to make the menu item live with case studies. Can you let me know please?

Thank you!

[2019-12-03 18:40] KimMcMahon commented on #145
@alexcontini I like the second one for the top and the "learn more" from the 3rd one. Can you get that onto cncf.io and update the menu?

Thanks!

[2019-12-03 18:41] alexcontini commented on #131
@KimMcMahon sorry I didn't mean to close and reopen!

I see the links to the docs above. I will have those all done by the end of the week for sure

[2019-12-04 07:49] cjyabraham commented on #150
Ok.  Thanks.  Looks like I can edit locally and create files in salient-child and then commit them to the repo to get deployed live.

[2019-12-04 07:50] cjyabraham commented on #151
This is now unblocked.  In order to edit the emails, I'll need to do it locally to generate the new template files.  These can then be added to the repo and deployed live.

[2019-12-04 08:59] cjyabraham commented on #151
@KimMcMahon I left some comments on your document.

[2019-12-04 12:01] deigolocco commented on #150
Locally it works, but this shouldn't be versionated. This template must be dynamic because at manager when you save a template the file is create/update, and this is not working without change the folder permissions.
![Captura de tela de 2019-11-29 10-40-50](https://user-images.githubusercontent.com/5631313/70140926-9cbef880-1674-11ea-98a8-7d4b66e40297.png)
Did you change the folder permission?

[2019-12-04 14:49] cjyabraham commented on #150
As discussed, please check if the emails work in the same way in the new version of UM plugin.

[2019-12-04 14:50] cjyabraham opened #155 "Create export tool for UM Speakers to facilitate Kim's management of the Speakers Bureau"

[2019-12-04 14:51] cjyabraham opened #156 "Upgrade the UM plugin and get Speakers Bureau to work"
[WIP](https://fz-154-cncf.pantheonsite.io/speakers/)

[2019-12-04 16:05] alexcontini commented on #145
@KimMcMahon sounds good!

here is the page - https://www.cncf.io/community/telecom-user-group/ - it's not in the menu yet, just wanted to get your approval first

Let me know if it looks good and I will add to the menu

[2019-12-04 18:55] rodmeurer commented on #155
Done @cjyabraham . It exports a CSV file with all approved speakers.

https://fz-155-cncf.pantheonsite.io/wp-admin/tools.php?page=export-speakers

[2019-12-05 05:05] cjyabraham commented on #114
After discussions on Slack, it was decided to make this consistent with the Case Studies, Event's We're At and Webinars displaying messages:
- unfiltered view: "Displaying x speakers"
- filtered view: "Displaying y of x speakers"

[2019-12-05 07:19] cjyabraham commented on #155
Great.  @KimMcMahon does this function give you what you need?  If so, I'll deploy.

[2019-12-05 07:28] #114 closed

[2019-12-05 07:38] cjyabraham commented on #29
We've captured this requirement for the rebuild, so closing this issue here.

[2019-12-05 07:38] #29 closed

[2019-12-05 07:39] cjyabraham commented on #32
Closing in favor of [this issue](https://github.com/cncf/cncf.io/issues/20).

[2019-12-05 07:39] #32 closed

[2019-12-05 07:40] cjyabraham commented on #101
Tracking this now in [this issue](https://github.com/cncf/cncf.io/issues/20).

[2019-12-05 07:41] cjyabraham commented on #48
We will be doing this kind of testing in [this issue](https://github.com/cncf/cncf.io/issues/20).

[2019-12-05 07:41] #48 closed

[2019-12-06 22:01] alexcontini commented on #131
@KimMcMahon I have finished putting together all of the case studies that we have translated and they are all on this page - https://www.cncf.io/newsroom/case-studies-cn/ - Let me know if these look good to you and I will make the page live!

[2019-12-06 22:29] dankohn commented on #131
We need to change `Read the Case Study` to Chinese

[2019-12-08 08:11] cjyabraham commented on #151
done and deployed

[2019-12-08 08:11] #151 closed

[2019-12-08 10:41] cjyabraham commented on #131
There are quite a few words in English [here](https://www.cncf.io/case-study-cn/ant-financial/) as well.  Can we defer doing this until the new site launch or do you want it done now @dankohn ?

[2019-12-08 11:11] dankohn commented on #131
Now, please

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-12-09 03:57] cjyabraham commented on #131
Can someone provide the translation?  And then I'll get the template updated.

[2019-12-09 08:12] dankohn commented on #145
Yes, please add to the menu.

[2019-12-09 12:31] KimMcMahon commented on #131
@cjyabraham Please make the menu item for the Chinese language case studies and the individual case studies live. I'll have Julie get the translations and update the website.

Thank you!

[2019-12-09 13:29] KimMcMahon commented on #155
@cjyabraham @rodmeurer
Works great! Please deploy.

[2019-12-09 13:49] cjyabraham commented on #155
deployed.  [Go here to export](https://www.cncf.io/wp-admin/tools.php?page=export-speakers).

[2019-12-09 13:49] #155 closed

[2019-12-09 13:53] cjyabraham commented on #131
@alexcontini can you make the page live please?

@KimMcMahon translating the remaining English text will require a code change.  If Julie can provide those then I can update the code.

[2019-12-09 15:52] jkld11 commented on #131
@cjyabraham @deigolocco The translations of the words can be found here: https://docs.google.com/document/d/15Xt_OeNv7l_BEKZtrxzV1U1lffvrgOjr1GAP8XtKcvQ/edit?usp=sharing Please let me know if you have any questions. Thanks!

[2019-12-09 17:24] deigolocco commented on #150
@cjyabraham exactly the same

[2019-12-09 17:25] deigolocco commented on #156
@cjyabraham up to date https://fz-154-cncf.pantheonsite.io/speakers/

[2019-12-09 17:26] deigolocco commented on #154
@cjyabraham up to date as [#156 ](https://github.com/cncf/wordpress-site/issues/156)

[2019-12-10 04:11] cjyabraham commented on #101
hi @deigolocco , Marijana has provided [this code](https://docs.google.com/document/d/1cyA0IXJ5dvPsA1uX0f5PXe6i2g1Amv8CwMKogMSc_i8/edit?ts=5def1829).  Would you please see if you can replace the newsletter on the cncf.io homepage with it?

As for the code, the only thing that is important is the names of the fields and the submit action url.  You should rewrite all the css and js to improve them a

[2019-12-10 04:29] donaldliu commented on #131
@jkld11 I made comments on your online doc.  Thanks.

[2019-12-10 05:03] cjyabraham opened #157 "Add translations for Chinese case studies"
Add more translations to the Chinese case studies templates.  Translations are provided [here](https://docs.google.com/document/d/15Xt_OeNv7l_BEKZtrxzV1U1lffvrgOjr1GAP8XtKcvQ/edit).

[2019-12-10 05:04] cjyabraham commented on #131
I've created #157 to have @deigolocco add the translations to the templates.

[2019-12-10 05:26] cjyabraham commented on #150
thanks for checking

[2019-12-10 05:26] #150 closed

[2019-12-10 05:28] #154 closed

[2019-12-10 06:21] cjyabraham commented on #156
A few points:
- The [reCAPTCHA](https://wordpress.org/plugins/um-recaptcha/) needs upgrading in order to work with this version of UM
- I'm not seeing the "X"s anymore, on the live site either, for removing items:
<img width="386" alt="Screen Shot 2019-12-10 at 1 13 11 PM" src="https://user-images.githubusercontent.com/463160/70500826-06e10d00-1b4f-11ea-8a72-319b07d16c0e.png">

[2019-12-11 14:58] deigolocco commented on #157
Translations are done
https://fz-157-cncf.pantheonsite.io/newsroom/case-studies-cn/

@cjyabraham please let me know when it's deployed, because I need to do some adjustments at the dashboard after it.

[2019-12-11 17:28] rodmeurer commented on #156
@cjyabraham Both items have been fixed/updated.

[2019-12-11 21:29] phumberdroz opened #158 "X-Frame-Police Options on /community/calendar"
Please see attached Picture
<img width="914" alt="Screenshot 2019-12-11 at 22 24 51" src="https://user-images.githubusercontent.com/3389721/70661992-ad1f3680-1c65-11ea-8b37-d9545ebf78e1.png">

https://www.cncf.io/community/calendar/

Firefox Version Info:
72.0b5
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:72.0) Gecko/20100101 Firefox/72.0

[2019-12-12 00:39] dankohn commented on #158
Super helpful report, thanks. I'm not seeing it on Chrome but we'll look into correcting.

[2019-12-12 08:49] cjyabraham commented on #156
great!  deployed.

[2019-12-12 08:49] #156 closed

[2019-12-12 09:07] cjyabraham commented on #158
I'm not able to reproduce on Firefox 71.0 or 72.0b1 on macOS 10.15.  Perhaps this is a FF bug introduced between 72.0b1 and b5?  [This looks like the issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1593321) but looks like they have fixed it.  Perhaps it'll be released in a later beta.

Closing since it looks like there's nothing for us to do on cncf.io.

[2019-12-12 09:07] #158 closed

[2019-12-12 18:24] deigolocco commented on #101
working @cjyabraham https://fz-101-cncf.pantheonsite.io/

[2019-12-13 03:42] cjyabraham commented on #101
thanks.  deployed.

[2019-12-13 03:42] #101 closed

[2019-12-13 06:11] cjyabraham commented on #157
[translations are ready](https://docs.google.com/document/d/15Xt_OeNv7l_BEKZtrxzV1U1lffvrgOjr1GAP8XtKcvQ/edit?ts=5df31037)

[2019-12-13 14:06] deigolocco commented on #157
Added @cjyabraham
Please remember to add the case study type here
![Captura de Tela 2019-12-13 às 10 55 27](https://user-images.githubusercontent.com/5631313/70805812-9f1e0280-1d98-11ea-80b0-374f3125faf9.png)

[2019-12-14 06:08] cjyabraham commented on #157
Deployed.  @deigolocco please do your adjustments.

[2019-12-15 19:52] KimMcMahon commented on #157
@cjyabraham please make the menu item for the Chinese case studies visible.

[2019-12-16 02:19] deigolocco commented on #157
@cjyabraham adjustments are done
@KimMcMahon menu item is visible now

[2019-12-16 03:42] cjyabraham commented on #157
Great. Thanks.

[2019-12-16 03:42] #157 closed

[2019-12-16 03:48] cjyabraham commented on #131
@KimMcMahon is this issue complete now?

[2019-12-16 03:51] cjyabraham commented on #145
@alexcontini did this get added to the menu?  (I'm not sure where to look for it)

[2019-12-16 11:17] cjyabraham opened #159 "Redirect pardot form to Contact Us page"
When you go to this page https://www.cncf.io/people/end-user-community/, scroll to the bottom, and click “I have questions. Can someone contact me?” you get a pardot form which pops up.  Instead, we'd like this link go to the [contact page](https://www.cncf.io/about/contact/).

[2019-12-16 13:08] alexcontini commented on #145
@cjyabraham added under community (community > Telecom User Group), so this should be good to close, thank you!

[2019-12-16 17:14] KimMcMahon commented on #131
Yes @cjyabraham

[2019-12-16 17:14] #131 closed

[2019-12-17 18:07] #145 closed

[2019-12-17 21:18] deigolocco commented on #159
done @cjyabraham
https://www.cncf.io/people/end-user-community/

[2019-12-17 21:25] #159 closed

[2019-12-19 11:43] KimMcMahon commented on #120
Please move the TUF menu item to the location noted in the [Menu Update ](https://docs.google.com/document/d/1W5YH0fms_w_vycZH0toBbrKN8F_nya9O9nrXLIAy0mA/edit#heading=h.5jfz35magu6v)document.

[2019-12-19 14:15] #120 closed

[2019-12-19 14:16] KimMcMahon commented on #7
Newsletter archives are on the newsletter mail list.

[2019-12-19 14:16] #7 closed

[2019-12-20 02:36] KimMcMahon opened #160 "Images for "Events we'll be at""
Need both the home page featured image and the featured image for each of these events. I've shared the event page for the event for image inspiration.

https://events.linuxfoundation.org/lf-member-summit/
https://events.linuxfoundation.org/open-networking-edge-summit-north-america/
https://events.linuxfoundation.org/open-networking-edge-summit-europe/
https://cloud.withgoogle.com/next/sf/
https:/

[2019-12-20 13:55] pablodelarocha commented on #160
@KimMcMahon sure thing! Here they are:

![Open_Source_Summit_EU_square](https://user-images.githubusercontent.com/54405572/71259404-28908000-2317-11ea-9000-8dc48529507d.jpg)
![Open_Source_Summit_EU_wide](https://user-images.githubusercontent.com/54405572/71259405-28908000-2317-11ea-8632-107ba13e0d89.jpg)
![Next_square](https://user-images.githubusercontent.com/54405572/71259406-28908000-2317-11ea-

[2019-12-20 16:58] KimMcMahon commented on #160
Thank you! Awesome!

[2019-12-20 16:58] #160 closed

[2019-12-23 18:47] KimMcMahon opened #161 "Add Kubernetes Days India 2019 transparency report to cncf.io"
Menu:
About
Conference Transparency Reports
Between Seattle and Shanghai

[Kubernetes Days India 2019 _ Transparency Report.pdf](https://github.com/cncf/wordpress-site/files/3995912/Kubernetes.Days.India.2019._.Transparency.Report.pdf)

[2019-12-27 16:32] alexcontini commented on #161
@KimMcMahon I have added the pdf to the menu - https://www.cncf.io/ - let me know if this doesn't work!

[2019-12-28 02:59] dankohn commented on #161
In the menu, please change "Kubernetes Day March 2019" to "Bengaluru March
2019"

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Fri, Dec 27, 2019 at 11:32 AM Alex Contini <notifications@github.com>

[2019-12-31 14:45] alexcontini commented on #161
@dankohn  updated! https://www.cncf.io/

[2020-01-01 08:28] #161 closed

[2020-01-01 18:15] KimMcMahon opened #162 "Images for 'Events we'll be at' page"
Hello Pablo,
Can you create some more images for the Events we'll be at page? Square and rectangle.

https://www.socallinuxexpo.org/scale/18x
https://www.susecon.com/
https://www.isc-hpc.com/
https://events.linuxfoundation.org/open-source-summit-japan/

Thank you and Happy New Year!

[2020-01-02 13:54] pablodelarocha commented on #162
Sure @KimMcMahon here's the banners for all 4 events:

![susecon](https://user-images.githubusercontent.com/54405572/71670242-21716500-2d4e-11ea-94af-a930695ee68d.jpg)
![ISC](https://user-images.githubusercontent.com/54405572/71670243-2209fb80-2d4e-11ea-887d-7badbb0f551b.jpg)
![ISC_square](https://user-images.githubusercontent.com/54405572/71670245-2209fb80-2d4e-11ea-8fe0-e91fefc23981.jpg)
![susec

[2020-01-07 14:23] cjyabraham commented on #148
@KimMcMahon @dankohn I still have not seen any use of this feature.  Is there any real user that we could ask to test it out yet?

[2020-01-07 14:58] KimMcMahon commented on #148
I don't have anyone I want to ask. I am working with our PR firm to promote the speaker's bureau and the member feature. We'll have to give it time.

[2020-01-07 15:01] KimMcMahon commented on #162
Thank you @pablodelarocha!

[2020-01-07 15:01] #162 closed

[2020-01-07 15:09] dankohn commented on #148
This is a feature that will be mainly used by Kubernetes Community Days. Perhaps @KTan1226 or @oicheryl know of a KCD that wants to solicit for speakers.

[2020-01-13 06:32] dankohn opened #163 "Long job not displaying right"
![image](https://user-images.githubusercontent.com/3083270/72236323-62fedd00-35a4-11ea-9761-81885d297405.png)

https://jobs.cncf.io/jobs/27903066-cloud-devops-engineer-at-an-innovative-digital-partner-for-a-list-brands-that-aims-to-create-a-dent-in-the-digital-landscape

It looks like you need to truncate long company names so that the location will show.

[2020-01-13 06:44] cjyabraham commented on #163
@dankohn what url did you go to to see that?  I can't reproduce.

[2020-01-13 07:05] dankohn commented on #163
On cncf.io

[2020-01-13 20:20] rodmeurer commented on #163
Hi @cjyabraham, it will truncate the company name like in this example
https://fz-163-cncf.pantheonsite.io/  (we put the name of the company in the code just for testing purposes by now). Is this what you intended?

The other possibility is to display all company's name in more then one line.

[2020-01-14 04:08] cjyabraham commented on #163
LGTM

[2020-01-14 13:08] rodmeurer commented on #163
@cjyabraham it's done.

https://fz-163-cncf.pantheonsite.io/

[2020-01-15 04:24] cjyabraham commented on #163
thanks.  deployed.

[2020-01-15 04:24] #163 closed

[2020-02-03 21:02] taylorwaggoner opened #164 "CNCF Staff Page"
When adding new staff members to https://www.cncf.io/people/staff/, we change the "publish" date and time in order to keep Dan and Chris as the first and second entries on the page (meaning everyone after Dan and Chris is organized alphabetically with a later and later publish time).  Is there any plan to change this in the website rebuild?  Would it be possible to have them as entries that we can

[2020-02-04 04:46] cjyabraham commented on #164
Hi @taylorwaggoner , yes, [we have this down as a key requirement](https://docs.google.com/document/d/1rsgfAKWY0MC70ddX0a0eYV91VenG_loT_tS8aoGz0cQ/edit#heading=h.9w82y1yfck2) for the new CNCF site and will make sure we build something that makes this a lot easier to manage.  I'll close this issue for now since we won't be using this repo anymore.

[2020-02-04 04:46] #164 closed

[2020-02-04 07:48] cjyabraham opened #165 "Replace contact form with SFMC form and style it"
We'd like to replace the [join contact form](https://www.cncf.io/join-contact-form/) and [regular contact form](https://www.cncf.io/about/contact/) with this form from SFMC.  You can strip out any inline styles on the form and use existing cncf styles to make it work for cncf.io and look good.

[code]

[2020-02-04 08:05] cjyabraham opened #166 "Add CAPTCHA to cncf.io forms"
Do this for the newsletter form and the contact forms.  Add text in the footer and hide the badge as in LFEvents.  Update #165 when done.  Then add the forms to the [list for Pratik here](https://jira.linuxfoundation.org/browse/LE-2741?focusedCommentId=321906&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-321906).

[2020-02-04 09:48] cjyabraham commented on #166
done and deployed

[2020-02-04 09:48] #166 closed

[2020-02-04 18:02] rodmeurer commented on #165
@cjyabraham done.

https://fz-165-cncf.pantheonsite.io/join-contact-form/

https://fz-165-cncf.pantheonsite.io/about/contact/

[2020-02-05 03:44] cjyabraham commented on #165
It looks like your css changes have affected the [footer at the bottom of the homepage](https://fz-165-cncf.pantheonsite.io/).  See how it compares with [the current homepage](https://www.cncf.io/).  Can you fix please?

[2020-02-05 08:01] cjyabraham commented on #165
Can you also hide the reCAPTCHA badge using this code?
[code]
I had added that to salient-child/assets/css/main.css but that only seems to have affected its appearance on the homepage and not on these contact pages.  You can move that code so that it affects every page.

[2020-02-05 14:08] rodmeurer commented on #165
Adjusted @cjyabraham

[2020-02-06 02:58] cjyabraham commented on #165
Thanks.  I'm just waiting on confirmation for which fields to include and then I'll deploy.

[2020-02-06 16:31] cjyabraham opened #167 "Lower hyphen by 3 pixels in date ranges that span months"
<img width="344" alt="Screen Shot 2020-02-06 at 11 30 57 PM" src="https://user-images.githubusercontent.com/463160/73957310-c298a000-4938-11ea-9717-eac6790e46a5.png">

For date ranges like this that span two months, could you make the hyphen exactly 3px lower, so it looks like this:
<img width="331" alt="Screen Shot 2020-02-06 at 11 26 55 PM" src="https://user-images.githubusercontent.com/463160/7

[2020-02-07 19:46] rodmeurer commented on #167
Done @cjyabraham
https://fuerza-cncf.pantheonsite.io/events-well-be-at/

[2020-02-07 20:25] KimMcMahon opened #168 "Work with VideoKen to integrate their product into the CNCF website"
When Kuldeep (kuldeepyadav) accepts the request to join this repo, he will be assigned this issue to work with Chris.

Kuldeep can explain the project and the technical need.

[2020-02-07 20:35] dankohn commented on #167
Looks great!

[2020-02-08 09:45] cjyabraham commented on #167
Thanks.  Deployed.

[2020-02-08 09:45] #167 closed

[2020-02-10 16:13] dankohn opened #169 "Calendar broken on latest Chrome"
From Slack: Santiago Torres Arias  11:11 AM
It appears to me that the calendar under https://www.cncf.io/community/calendar/ doesn't seem to load on the latest chromium due to content-policy stuff (mayybee?)

[2020-02-10 17:01] SantiagoTorres commented on #169
probably relevant, but here are the logs from chromium:
[code]

[2020-02-11 03:32] cjyabraham commented on #169
What version of Chromium is this on?  And I assume this hasn't hit Chrome, Safari or any other browser yet?  I wasn't able to reproduce on those.

[2020-02-11 03:35] dankohn commented on #169
I could reproduce on Version 79.0.3945.130 (Official Build) (64-bit) for
Mac. It worked in a regular window but not in an incognito window.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Mon, Feb 10,

[2020-02-11 03:38] cjyabraham commented on #169
Weird. Ok.  It's working for me on v80.0.3987.87 in incognito and regular.

[2020-02-11 04:36] cjyabraham commented on #169
I can reproduce in BrowserStack on v79.  If it's fixed in v80 then I'm not too worried.  @SantiagoTorres what v were you using?

[2020-02-11 05:14] kuldeepyadav commented on #168
Hi @cjyabraham, Please create a CNAME entry in your DNS dashboard mapping 'https://videos.cncf.io/' to 'https://lake.videoken.com/cncf'.

Once the CNAME entry is created, please share the SSL certificate hosted by cncf.io with us and we will make configuration changes on our side.

[2020-02-11 05:18] cjyabraham commented on #168
Thanks.  I've submitted this request upstream to LFIT.  [Ticket for my own reference](https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-18936).

[2020-02-11 12:38] cjyabraham commented on #165
Deployed.

[2020-02-11 12:38] #165 closed

[2020-02-11 13:02] KimMcMahon opened #170 "Add events to KubeCon + CloudNativeCon events page"
https://www.cncf.io/community/kubecon-cloudnativecon-events/

Hi Alex,
Can you add gRPC, the 3 CNCF Amsterdam co-located events, and the Contributor Summit to this page?

Cloud Native Security Day:
https://events.linuxfoundation.org/cloud-native-security-day/

Service MeshCon
https://events.linuxfoundation.org/servicemeshcon/

Serverless Practitioners Summit
https://events.linuxfoundation.org/serv

[2020-02-11 15:08] SantiagoTorres commented on #169
I'm running:

[code]

It's strange because it appears it's google maps the one that's returning a 404...

[2020-02-11 15:35] alexcontini commented on #170
@KimMcMahon the events have been added! https://www.cncf.io/community/kubecon-cloudnativecon-events/

[2020-02-11 16:47] cjyabraham commented on #168
@kuldeepyadav, regarding your request for SSL certificate, the IT guys said this: "Not sure what you mean by SSL certificate. We request that through our registrar and uses Let's Encrypt. There really isn't anything to provide"

What exactly do you need?

[2020-02-11 17:16] cjyabraham commented on #168
@kuldeepyadav regarding the CNAME request, IT replied:

Any thoughts?

[2020-02-12 12:47] #170 closed

[2020-02-12 13:08] kuldeepyadav commented on #168
Regarding the SSL certificate, you need to provide us "fullchain.pem and privkey.pem" files, which you have generated for the ROOT domain (ie cncf.io) using LetsEncrypt. This is needed because we will be serving a sub-domain **videos.cncf.io** from our cloud.

[2020-02-12 14:01] cjyabraham commented on #169
@deigolocco can you guys test to see if the calendar is broken on your systems?

[2020-02-12 14:10] rodmeurer commented on #169
@cjyabraham it's working for me on Chrome Version 80.0.3987.100 (Official Build) (64-bit), in regular and incognito window. Also working on Safari and Firefox.

[2020-02-12 14:26] SantiagoTorres commented on #169
Huh, it works today.  I wonder if it was an issue on G's side...

[2020-02-12 14:29] cjyabraham commented on #169
I love it when issues just resolve themselves :).  Ok, well, I'll demote this issue for a while and if it still works next time I check, I'll close it.  Let us know, however, if you see it not working again.

[2020-02-12 15:41] kuldeepyadav commented on #168
@cjyabraham, For CNAME, please make an entry from **videos.cncf.io** to **cncf.videoken.com**

[2020-02-13 04:56] cjyabraham commented on #168
The CNAME has been setup.  I'll email you the SSL files.

[2020-02-13 05:22] dankohn commented on #168
Will the SSL files stop working after 90 days? Note that with Netlify, we
just setup the CNAME and they configure Let's Encrypt.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Wed, Feb 12, 2020 at 11

[2020-02-13 17:03] kuldeepyadav commented on #168
@cjyabraham the CNAME seems to be redirecting to **videoken.com** instead of https://cncf.videoken.com/ . Can you please correct that.

Yes, that is a good point. We will generate it ourselves from LetsEncrypt so that updation can be done easily.

[2020-02-14 02:43] cjyabraham commented on #168
@kuldeepyadav I don't think that redirect is happening on our side.  The LF IT guys have confirmed that the CNAME is setup correctly.  See below:
<img width="1050" alt="Screen Shot 2020-02-13 at 9 26 13 AM" src="https://user-images.githubusercontent.com/463160/74496822-73410980-4f0e-11ea-975f-6b9d2263e862.png">

[2020-02-14 18:37] kuldeepyadav commented on #168
@cjyabraham thanks for your help. The website is up now, https://videos.cncf.io/

We will work with @KimMcMahon after this, may need your help again in putting this link somewhere on the CNCF website homepage for visibility as well as it will start getting indexed by search engines.

[2020-02-15 03:02] cjyabraham commented on #168
Very nice!  Ok, keep me posted.  I'll close out this issue for now.

[2020-02-15 03:02] #168 closed

[2020-02-15 07:34] cjyabraham opened #171 "ACF js error preventing configuring social links for People"
@amye has reported this and said that it has only started happening in the last week:
If you go to the [live site](https://www.cncf.io/wp-admin/post-new.php?post_type=persons) and try and add/edit a person, in the Links section when you choose "Add Row", the dropdown that appears has no values.  Clicking "Add Row" triggers a js error: "Uncaught TypeError: r.select2 is not a function" and the admin

[2020-02-15 07:41] cjyabraham commented on #86
this is done

[2020-02-15 07:41] #86 closed

[2020-02-17 13:31] deigolocco commented on #171
fixed @cjyabraham https://fz-171-cncf.pantheonsite.io/wp-admin/post-new.php?post_type=persons

There was a function removing the select2 and some other scripts from everything related to Ultimate Member's plugin. But in this case didn't have the '_utm' prefix, so was removing the select2 from all places.
![screenshot_20200217-102158](https://user-images.githubusercontent.com/5631313/74658198-86531

[2020-02-17 13:43] cjyabraham commented on #171
deployed.  thanks!

[2020-02-17 13:43] #171 closed

[2020-02-29 05:23] cjyabraham opened #172 "Large PDFs won't upload"
Reported by @taylorwaggoner, when you upload a large PDF (45MB) you get this error message: "Unexpected response from the server. The file may have been uploaded successfully. Check in the Media Library or reload the page."

I spoke with Pantheon about it and they suggest trying [this fix](https://pantheon.io/docs/wordpress-known-issues#force-wordpress-to-use-gd-library-instead-of-imagick).  If th

[2020-02-29 05:24] cjyabraham commented on #148
This has been successfully tested by a user.

[2020-02-29 05:24] #148 closed

[2020-02-29 05:49] cjyabraham commented on #172
The Pantheon fix didn't work.  They are now escalating the issue internally.

[2020-03-01 06:05] cjyabraham commented on #172
Pantheon have pointed me to this [59s limitation on file uploads](https://pantheon.io/docs/platform-considerations#upload-speed).  I'm asking if there's a workaround, however, we may just need to do large uploads from a connection that can get it done in under 59s.

[2020-03-03 02:28] cjyabraham commented on #172
I have uploaded Taylor's initially problematic PDF and she doesn't have any more that are currently a problem.  I'll close this out for now since we now have an understanding of the problem and a workaround.

[2020-03-03 02:28] #172 closed

[2020-03-05 18:49] KimMcMahon opened #173 "Add filter by language to webinars"
Can we add a filter on recorded webinars so a user can select either English language or Chinese language webinars?
https://www.cncf.io/webinars/

[2020-03-05 22:35] KimMcMahon opened #174 "Featured and home page image for 3rd party gRPC"
https://events.linuxfoundation.org/grpc-conf/

[2020-03-06 02:46] cjyabraham commented on #174
@KimMcMahon what are you wanting to happen with this issue?

[2020-03-06 02:48] cjyabraham commented on #173
Yes, I'll add this as a requirement to our rebuild.

[2020-03-06 03:04] KimMcMahon commented on #174
I need the images created that I add to the 3rd party event to go on this page: https://www.cncf.io/events-well-be-at/grpc-conf-2020/

[2020-03-06 04:05] cjyabraham commented on #174
I see, ok.  Should we assign to Alex then?  Is she the one who normally does those?

[2020-03-06 13:02] pablodelarocha commented on #174
@cjyabraham and @KimMcMahon it's been a while, but i think i was the one who did the last banners. Here's both versions for this event:

![gRPC_square](https://user-images.githubusercontent.com/54405572/76085799-85ecb280-5f91-11ea-8168-cbcc61f57f12.jpg)
![gRPC_wide](https://user-images.githubusercontent.com/54405572/76085804-871ddf80-5f91-11ea-87ac-27f982f1dc90.jpg)

[2020-03-08 11:59] cjyabraham opened #175 "Speakers Bureau filter actions are timing out"
When I try and go [here](https://www.cncf.io/speakers/?sb_certifications=Ambassador&languages=Arabic&_lc=sb_certifications) the request times out.  If I try other filter combinations, they are timing out too.

Digging into this, there appear to be some slow queries occurring:
<img width="754" alt="Screen Shot 2020-03-08 at 7 47 46 PM" src="https://user-images.githubusercontent.com/463160/76162155-

[2020-03-08 13:39] cjyabraham commented on #175
The issue is fixed for now.  I worked with the Pantheon support guys and after trying a number of things they suggested running [optimize table](https://www.thegeekstuff.com/2016/04/mysql-optimize-table/) in mysql, which I did on the `wp_users` and `wp_usermeta` tables.  This defragments and reclaims unused space on the tables.  The speakers bureau filters now work normally for me.

I'll keep this

[2020-03-09 02:38] cjyabraham commented on #175
Following the instructions [here](https://www.thegeekstuff.com/2016/04/mysql-optimize-table/), I thought I'd take the opportunity to optimize various other tables in the db as there are a number with quite a lot of free space and are misreporting the amount of used space.

`select table_name, round(data_length/1024/1024) as data_length_mb, round(data_free/1024/1024) as data_free_mb from informatio

[2020-03-09 08:18] cjyabraham commented on #175
The new version of Ultimate Member has an "Enable custom table for usermeta" option which might make our searches faster and more robust.  It may not be related to this issue but could be worth investigating.

[2020-03-09 09:52] cjyabraham commented on #175
The original issue showed up again just now and I had to go in and `optimize table wp_usermeta;` which fixed the problem.

@deigolocco can you look back through code changes to see if there is anything we've done recently that may have caused this?

[2020-03-10 07:13] cjyabraham commented on #175
A few updates:
- @deigolocco and team are looking into refactoring the search to use the "Enable custom table for usermeta" to see if that can be a more robust or performant solution
- I am waiting to see if the filters freeze up again, at which point I'll download the db locally to [experiment with](https://www.thegeekdiary.com/beginners-guide-to-implementing-table-maintenance-in-mysql/) before r

[2020-03-10 08:21] cjyabraham opened #176 "Setup alerting to get notified when server issue occur"
To be more proactive in catching and addressing issues [like this one](https://github.com/cncf/wordpress-site/issues/175) I will setup some alerts within New Relic to get notified about performance issues as they occur.  I am also reaching out to Craig to see if there's already a best practice for this for LF sites.

We should also setup similar alerts for LFEvents.

[2020-03-11 01:17] cjyabraham commented on #175
The search filters are slow again this morning.  Some filter combinations seem to take about 45s to return results.  This isn't running into the 59s Pantheon limit on requests so results are being returned, however, it is taking a long time.

When I clear the cache, to load [this request](https://www.cncf.io/speakers/?sb_certifications=CKAD&expertise=Customizing+%26+Extending+Kubernetes&_project=E

[2020-03-11 07:14] cjyabraham commented on #175
I pulled out a real query with real values:
[code]

I ran this locally and it takes about 14s to run.  On prod it takes about 19s to run.

[2020-03-11 07:45] cjyabraham commented on #175
One idea to speed up filtering is to create a new Speakers CPT with taxonomies that essentially mirrors the data behind each user.  We could write filter hooks on each add/edit/delete action to a user of role speaker to sync the data with the CPT.  We could then query the CPT directly using taxonomies which would be super fast, much like we do with webinars, case studies, etc...

[2020-03-11 09:55] cjyabraham commented on #176
@dankohn can we have a slack channel for alerts?  Maybe #wordpress-alerts?  That way key people can turn on notifications for all posts to this channel, as opposed to #wordpress-logs.  And can you install the [New Relic integration app](https://slack.com/apps/A0F827KK2-new-relic-alerts) into the CNCF Slack please?

[2020-03-11 20:28] deigolocco commented on #175
@cjyabraham it's working now, you can check here https://fz-175-cncf.pantheonsite.io/speakers/.

### 1 - The ultimate-member plugin cannot create the table in pantheon.

`WordPress database error Index column size too large. The maximum column size is 767 bytes. for query CREATE TABLE wp_um_metadata (
umeta_id bigint(20) unsigned NOT NULL auto_increment,
user_id bigint(20) unsigned NOT NULL defaul

[2020-03-12 05:31] cjyabraham commented on #175
Thanks Diego.  I did some testing today with [these results](https://docs.google.com/spreadsheets/d/18ely7z_DUkUqeumaLT6uCXL4k-ee_1LUa0v_CY8alZo/edit?usp=sharing).  You'll see your new method in column C.  Additionally, I included tests from the live site before and after running `optimize table`.  It seems optimizing needs to be done almost every day now to keep the db in good health.

It's not c

[2020-03-12 17:22] deigolocco commented on #175
hi @cjyabraham . I believe it's better we proceed with option 1, this can be implemented in just a few hours. Did you have a chance to test [here](https://fz-175-cncf.pantheonsite.io/speakers/.)?
Option 2 will demand a few days of implementation.
You are right about we don't yet the reason these things are happening. This suddenly started, and looks like this behavior exist only in prod, the [dev-

[2020-03-13 04:17] cjyabraham opened #177 "Upgrade plugins to latest versions"

[2020-03-13 05:41] cjyabraham commented on #175
I have actually reproduced the issue on dev sites as well as prod.

I agree, let's deploy option 1 and see how it goes for the next few days.  I have tested it out today and it seems solid.  It sounds like this deploy will need several stages:
1. Deploy the modified ultimate member plugin
2. Create the new table directly in MySQL
3. Run the migration steps in ultimate member
4. Roll back the ultim

[2020-03-13 06:02] cjyabraham commented on #176
#wordpress-alerts has been created and the New Relic integration app has been installed.

[2020-03-13 07:14] cjyabraham opened #178 "Change Newsletter signup to SFMC form"
Take the form code that is on the footer of the homepage and submits to SFMC and replace [this old Gravity Form](https://www.cncf.io/newsroom/newsletter/) with it.  You can keep the styles roughly the same.

[2020-03-13 07:41] cjyabraham commented on #177
done

[2020-03-13 07:41] #177 closed

[2020-03-13 13:24] KimMcMahon commented on #174
Thank you @pablodelarocha
Can you also create images for PromCon?

https://promcon.io/2020-vancouver/

[2020-03-13 13:25] KimMcMahon commented on #173
@cjyabraham Yes

[2020-03-13 13:27] cjyabraham commented on #173
ok, closing here for now

[2020-03-13 13:27] #173 closed

[2020-03-13 13:37] KimMcMahon opened #179 "Add a classification of blogs based by offer"
On the CNCF blog, we have multiple classifications of authors:
CNCF Staff
Member
Ambassador
Project
SIG
Community Member

I would like each blog to have the author type listed at the top of the blog.

To make it easier for the person posting the blog and to ensure consistency with the author classification, I would like the blog to have a checkbox for each author type.

<img width="909" alt="Scree

[2020-03-13 13:55] cjyabraham commented on #179
hi @KimMcMahon .  For the new site we're thinking of use the byline for our in-house authors (Dan, Chris An, Ihor, Amye) and use a Gutenberg block to feature guest author bios.  How do you suggest we use these categories?  Could we state who a person is within the guest author bio?

[2020-03-13 14:17] cjyabraham commented on #175
Option 1 has been deployed.  Let's keep an eye on this for the next week or so to see if there are any problems.

[2020-03-13 15:04] KimMcMahon opened #180 "Add our new Video Lake tool to cncf.io"
We have a new video tool for search and indexing. I would like this link and a short description on the home page, preferably above the fold, to advertise this new tool.

Also in the Newsroom drop down after the Video menu item.

Link: https://videos.cncf.io/

If you want to see more information on the tool, see the [draft blog post](https://docs.google.com/document/d/1YRzM6EmrDKMre5LFZWA4cTosvQPr

[2020-03-13 18:12] KimMcMahon commented on #179
@cjyabraham FYI - in-house author, add me to that list.

Similar to how we list whether a webinar is a member webinar, project webinar, etc, we need to do the same with the blogs.

[2020-03-13 19:03] pablodelarocha commented on #174
Sure Kim, here they are:

![promcon2020_square](https://user-images.githubusercontent.com/54405572/76651858-23bd2000-6544-11ea-8a9a-8c62a250861a.jpg)
![promcon2020_wide](https://user-images.githubusercontent.com/54405572/76651861-2586e380-6544-11ea-90f7-6b1fb241ab9c.jpg)

[2020-03-13 19:29] KimMcMahon commented on #174
Great! Thank you!

[2020-03-13 19:29] #174 closed

[2020-03-14 03:01] cjyabraham commented on #175
The filters are [testing well today](https://docs.google.com/spreadsheets/d/18ely7z_DUkUqeumaLT6uCXL4k-ee_1LUa0v_CY8alZo/edit#gid=0).

[2020-03-14 03:17] cjyabraham commented on #179
I see.  We currently categorize all CNCF posts as either:
- Blog
- Announcement
- News

So you're wanting a separate categorization for Blog posts specifically with the following categories?
- CNCF Staff
- Member
- Ambassador
- Project
- SIG
- Community Member

Is that right?  If a blog post is categorized as "CNCF Staff", what does that mean?  If one is classified as "Project", what does that mea

[2020-03-14 03:23] cjyabraham commented on #180
@deigolocco can your team design something for this please?  We'll get feedback on the design and, once approved, you can implement.

[2020-03-16 12:03] KimMcMahon commented on #179
Hello @cjyabraham, Correct - the 5 classifications.

A blog post can only be classified as one type of blog.

CNCF Staff blog is a blog written by one of the CNCF team members.
Project blog is a blog written about a CNCF graduated or incubating project.

Thank you!
Kim

[2020-03-16 12:53] KimMcMahon commented on #179
More definition on blog posts:
Project: Any blog post on a graduated and incubating project. This is written by or on behalf of the project. If written by a member, this blog is still classified as a Project blog. Example is a Harbor blog written by the VMware team. The blog is classified as a project blog.

Member blog: Any blog post written by a member. The blog must comply with the blog guideli

[2020-03-16 13:04] cjyabraham commented on #179
Thanks Kim.  As we discussed, I've transposed this request into our functional spec for the new site.  I'll close out this issue for now and we can track it there.

[2020-03-16 13:04] #179 closed

[2020-03-16 13:23] cjyabraham commented on #175
All looking good today.

[2020-03-17 11:59] cjyabraham commented on #175
Looking good today.  I'll close for now.  Thanks for the help with this.

[2020-03-17 11:59] #175 closed

[2020-03-17 19:24] rodmeurer commented on #178
It's done @cjyabraham
https://fz-178-cncf.pantheonsite.io/newsroom/newsletter/

[2020-03-17 20:44] rodmeurer commented on #180
Hi @KimMcMahon @cjyabraham we did three versions for it.

01 is a card fixed on scrolling
02 is a pop-up window
03 is more discreet, just a bar below the hero image.

let us know if one of this works for you.

![Video-Lake-Add01](https://user-images.githubusercontent.com/54405402/76899234-e6bf9900-6875-11ea-929d-57373f822e88.jpg)
![Video-Lake-Add02](https://user-images.githubusercontent.com/544054

[2020-03-17 23:53] cjyabraham commented on #180
I think maybe option 3, except below the "Building Sustainable Ecosystems..." paragraph.  @KimMcMahon what do you think?

[2020-03-17 23:55] dankohn commented on #180
Less is more. I also think we want to promote the service, not their brand name.

[2020-03-17 23:57] cjyabraham commented on #178
Thanks.  When I type in text it's almost impossible to read.  Can you make the text darker?

[2020-03-18 12:16] KimMcMahon commented on #180
I agree with Dan and Chris. Option 3.

Remove "Video Lake" from the first sentence.

Change the remaining text to:
CNCF has added a powerful search and indexing tool for our KubeCon + CloudNativeCon Europe and North America 2019 videos.
Try it out and let us know what you think. (link info@cncf.io or my email address).

[2020-03-18 12:55] pablodelarocha commented on #180
Ok! Here's the updated design. Also, i'm sending a variation with the bar below the "Building Sustainable Ecosystems..." paragraph as suggested by Chris, but in that case it would be below the fold.
![Video-Lake-Add_2](https://user-images.githubusercontent.com/54405572/76961114-8d01b200-68fb-11ea-9876-f8f9dfac52ec.jpg)

![Video-Lake-Add](https://user-images.githubusercontent.com/54405572/76960410-

[2020-03-18 12:56] cjyabraham commented on #180
I think if it goes below it might benefit from having just a solid background color so it doesn't compete with the gradient of the numbers block below it...

[2020-03-18 13:49] pablodelarocha commented on #180
@cjyabraham ok, here's some color variations for the bar below the fold.

![04](https://user-images.githubusercontent.com/54405572/76966477-cee32600-6904-11ea-8bf5-f0f5b2452260.jpg)
![03](https://user-images.githubusercontent.com/54405572/76966649-1073d100-6905-11ea-9f11-438b4499c053.jpg)
![01](https://user-images.githubusercontent.com/54405572/76966842-5466d600-6905-11ea-89e3-b84a22444030.jpg)
![

[2020-03-18 14:17] KimMcMahon commented on #180
Thank you @pablodelarocha! I think the gray stands out the most.

[2020-03-18 17:16] rodmeurer commented on #178
Fixed @cjyabraham
https://fz-178-cncf.pantheonsite.io/newsroom/newsletter/

[2020-03-19 06:51] cjyabraham commented on #178
Thanks.  Deployed and tested live.

[2020-03-19 06:51] #178 closed

[2020-03-20 03:55] cjyabraham opened #181 "Events We're At homepage images"
Can we get an image for the homepage for [Promcon](https://www.cncf.io/events-well-be-at/promcon-2020/)?
<img width="594" alt="Screen Shot 2020-03-20 at 11 50 47 AM" src="https://user-images.githubusercontent.com/463160/77134260-261dfd80-6aa1-11ea-93bd-7a11c2a25d6c.png">

And also one for [Kubernetes Forum Tokyo 2020](https://www.cncf.io/events-well-be-at/kubernetes-forum-tokyo-2020/).

I think al

[2020-03-20 12:39] pablodelarocha commented on #181
@cjyabraham Sure! I already had sent the banners for PromCon, but here they are again:
![promcon_square](https://user-images.githubusercontent.com/54405572/77164241-9b340780-6a8e-11ea-86c1-ee6280f1eb29.jpg)
![promcon_wide](https://user-images.githubusercontent.com/54405572/77164250-9ec78e80-6a8e-11ea-8c08-265e4f506fa0.jpg)

And here's the Kubernetes Forum Tokyo banners:

![kubernetes_tokyo_square]

[2020-03-20 13:47] KimMcMahon commented on #181
Completed!

[2020-03-20 13:47] #181 closed

[2020-03-20 14:59] cjyabraham opened #182 "Render issue with Events on homepage"
See screenshot:
<img width="474" alt="Screen Shot 2020-03-20 at 10 57 34 PM" src="https://user-images.githubusercontent.com/463160/77176026-71b2c480-6afe-11ea-9247-e088b64da437.png">

[2020-03-20 18:22] rodmeurer commented on #182
fixed @cjyabraham

https://fuerza-cncf.pantheonsite.io/

[2020-03-21 02:18] cjyabraham commented on #182
Ok.  I think there's still a problem on narrow screens:
<img width="569" alt="Screen Shot 2020-03-21 at 10 17 13 AM" src="https://user-images.githubusercontent.com/463160/77217416-5a56f400-6b5d-11ea-9e96-0c32ba4ac6ea.png">
<img width="311" alt="Screen Shot 2020-03-21 at 10 17 01 AM" src="https://user-images.githubusercontent.com/463160/77217419-5e831180-6b5d-11ea-9775-a4e63701891b.png">

[2020-03-23 12:16] rodmeurer commented on #180
@KimMcMahon can we proceed to implement  the gray bar?

[2020-03-23 14:43] KimMcMahon commented on #180
@cjyabraham Can @rodmeurer proceed with implementation?

[2020-03-23 16:47] rodmeurer commented on #182
Sorry for that @cjyabraham, fixed now
https://fuerza-cncf.pantheonsite.io/

[2020-03-24 03:32] cjyabraham commented on #180
Sounds great!

[2020-03-24 03:41] cjyabraham commented on #182
Thanks.  Deployed.

[2020-03-24 03:41] #182 closed

[2020-03-24 17:30] rodmeurer commented on #180
@cjyabraham @KimMcMahon here it is, let us know if it's ok.

https://fz-180-cncf.pantheonsite.io/

[2020-03-25 04:13] cjyabraham commented on #180
- Could you make the "let us know what you think" link and "Learn More" button open in new tabs?
- Can you decrease the vertical padding a bit between the "New Tool" badge and "Find your favorite..." text on mobile?
<img width="350" alt="Screen Shot 2020-03-25 at 12 12 00 PM" src="https://user-images.githubusercontent.com/463160/77501088-df117d00-6e91-11ea-868b-74f394585012.png">

[2020-03-25 13:00] cjyabraham commented on #176
Apdex alerts are now sending email to me and dropping a message in the #wordpress-alerts channel for violations on the cncf.io, lfasiallc and lfevents sites.

[2020-03-25 13:00] #176 closed

[2020-03-25 14:35] KimMcMahon opened #183 "Images for Events We'll Be At Page"
Hi @pablodelarocha
Can I get these images today for our Events we'll be at page?

https://cloudnativesummit.online/
https://info.d2iq.com/20-04-01-d2iq-virtual-summit-registration.html

Thank you!

[2020-03-25 19:31] pablodelarocha commented on #183
Sure @KimMcMahon here's both banners on two sizes:

![Cloud-Native-Summit-Online-wide](https://user-images.githubusercontent.com/54405572/77577686-f8c4bb80-6eb5-11ea-8cec-f8533fc5d166.jpg)
![Cloud Native Virtual Summit featuring Kubernetes Wide](https://user-images.githubusercontent.com/54405572/77577694-fc584280-6eb5-11ea-8696-63f12cafc31b.jpg)
![Cloud Native Virtual Summit featuring Kubernetes_s

[2020-03-25 19:46] rodmeurer commented on #180
@cjyabraham updated.
https://fz-180-cncf.pantheonsite.io/

[2020-03-26 02:23] cjyabraham commented on #180
Looks good!  @KimMcMahon ok to launch?

[2020-03-26 17:51] KimMcMahon commented on #183
Thank you!

[2020-03-26 17:51] #183 closed

[2020-03-26 17:56] iamcippino opened #184 "Make Comments Section for Blogs on cncf.io"
Is it possible to enable a comments section on certain cncf.io blogs in order to start a dialogue?

[2020-03-27 01:47] dankohn commented on #184
Thanks for the proposal, but we're not a fan of comments sections on blogs as they attract spam and tend to overly highlight negative points of view. Instead, I'd suggest commenting on Twitter and/or posting to Hacker News and commenting there.

[2020-03-27 01:47] #184 closed

[2020-04-01 13:31] KimMcMahon commented on #180
Yes - please launch!

[2020-04-02 04:37] cjyabraham commented on #180
This is deployed.

@KimMcMahon do you think "Explore Videos" might be a better label for the button instead of "Learn More"?

[2020-04-02 13:00] KimMcMahon commented on #180
@cjyabraham I agree! "Explore Videos".

Thanks and it looks great!

[2020-04-02 14:27] cjyabraham commented on #180
Ok, this has been updated.

[2020-04-02 14:27] #180 closed

[2020-04-12 19:04] KimMcMahon opened #185 "Images for "Events we'll be at page""
Hello @pablodelarocha!
Can you create the featured images (square and rectangle) for these events?
Thank you!!!

https://nats.io/nats_connect/
https://www.writethedocs.org/conf/portland/2020/news/init/
https://events.linuxfoundation.org/cloud-native-security-day/
https://www.allthetalks.org/
https://konghq.com/events/destination-decentralization/

[2020-04-13 15:44] pablodelarocha commented on #185
Sure @KimMcMahon
Here's the two banners for all 5 events:

![Destination_square](https://user-images.githubusercontent.com/54405572/79134701-83495e00-7d84-11ea-8449-59e517f31c41.jpg)
![AllTheTalks_square](https://user-images.githubusercontent.com/54405572/79134708-85132180-7d84-11ea-9fa7-3962119f5679.jpg)
![Destination_wide](https://user-images.githubusercontent.com/54405572/79134710-85abb800-7d84

[2020-04-14 19:29] KimMcMahon commented on #185
Thanks @pablodelarocha !

[2020-04-14 19:29] #185 closed

[2020-04-17 12:31] cjyabraham opened #186 "Blog listing enhancement on homepage"
We'd like to be able to pin a blog post to the top of the blog listing column on the [homepage](https://www.cncf.io/).  For that particular post, we'd also like to be able to show a featured image, if there is one.

[2020-04-17 15:04] cjyabraham commented on #186
Cancelling this as we've found a different way to address this use-case.

[2020-04-17 15:04] #186 closed

[2020-04-18 06:14] cjyabraham opened #187 "Speakers Bureau email updates"
Write SB emails to support the following process:
For speakers currently in the speakers bureau that are missing info, I suggest we do this:
1. Deactivate the account with a message explaining why it has been deactivated and, if they would like to be in the speakers bureau, they should email and ask to be re-activated.
2. They would email you asking for re-activation.
3. You re-activate, which sen

[2020-04-22 03:35] cjyabraham commented on #187
@KimMcMahon I have updated the following emails:
- [account approved email](https://www.cncf.io/wp-admin/admin.php?page=um_options&tab=email&email=approved_email)
- [account deactivated email](https://www.cncf.io/wp-admin/admin.php?page=um_options&tab=email&email=inactive_email)

I have also updated [the registration page](https://www.cncf.io/speakers/register/) to require all required fields from

[2020-04-23 12:30] KimMcMahon commented on #187
Looks great! Thanks Chris!

[2020-04-23 13:43] cjyabraham opened #188 "Technology Spotlight on homepage"
We want a new section on the homepage for a Technology Spotlight.  See the mockup attached.

We will always have three blocks up, titled MAINTAINER, AMBASSADOR, PROJECT.  The image and the description text need to be configureable in each.  The image and "READ MORE" button needs to be configurable to link to a blog post.

Please implement this in whatever way is easiest and allows for the configur

[2020-04-24 03:16] cjyabraham commented on #188
Please also add the following paragraph directly below the "Technology Spotlight" title:

[2020-04-24 07:41] cjyabraham commented on #187
This has been copied over to the CNCFCI site.

[2020-04-24 07:41] #187 closed

[2020-04-24 14:40] cjyabraham opened #189 "Add blurb to newsletter forms"
Add this blurb below both newsletter forms: [at the bottom of the homepage](https://www.cncf.io/) and [on this page](https://www.cncf.io/newsroom/newsletter/):

`By submitting this form, I acknowledge that my information is subject to <a href="https://www.linuxfoundation.org/privacy/">The Linux Foundation’s Privacy Policy.</a>`

[2020-04-24 18:25] rodmeurer commented on #189
@cjyabraham updated. The second page (/newsletter), if you approve, must be updated in WP Admin also when deployed..

https://fz-189-cncf.pantheonsite.io/

https://fz-189-cncf.pantheonsite.io/newsroom/newsletter/

[2020-04-25 02:23] cjyabraham commented on #189
Thanks.  Deployed.

[2020-04-25 02:23] #189 closed

[2020-04-27 14:08] rodmeurer commented on #188
@cjyabraham it's done.

The custom fields on this page are created in WPAdmin, so when deployed they must be replicated for production environment. Let us know to create it.

https://fz-188-cncf.pantheonsite.io

[2020-04-28 14:22] cjyabraham commented on #188
Thanks.  First, can we change the background color to grey so it looks like this:
<img width="1324" alt="Screen Shot 2020-04-28 at 10 19 25 PM" src="https://user-images.githubusercontent.com/463160/80498652-93755600-899e-11ea-9b72-1febab0fbc17.png">

And place the section in between the numbers countup section and the "What is CNCF?" section.

Finally, can you decrease the vertical height of the s

[2020-04-28 14:28] rodmeurer commented on #188
@cjyabraham must the title change to "Maintainer, Ambassador, and Project Spotlight" as on the image above?

[2020-04-28 14:32] caniszczyk commented on #188
maybe "Community Spotlight" is better"

[2020-04-28 14:35] cjyabraham commented on #188
@rodmeurer let's go with "Community Spotlight" then.  Thanks.

[2020-04-28 18:35] rodmeurer commented on #188
Adjusted @cjyabraham can you check if it's better now?

https://fz-188-cncf.pantheonsite.io/

[2020-04-29 02:18] cjyabraham commented on #188
Looking good.

Can you make the "Text about project" text in the PROJECT section the same size as the description in the other sections?

Can you make it so that the section can be hidden?  As I'm not sure if all the content is ready yet.

What do we need to do to launch this?  Do you need to add the fields at the same time I deploy the code?

[2020-04-29 14:05] cjyabraham commented on #188
One other thing: can you style the buttons the same as the other pink buttons on the page?  So same font, same color, etc?

[2020-04-29 17:30] rodmeurer commented on #188
Fixed the text in Projects and button's style @cjyabraham

We created a checkbox to hide the section and created the fields in production already, so you can deploy anytime.

[2020-04-30 02:24] cjyabraham commented on #188
Almost there: Can you make the images a link as well as the button?

[2020-04-30 13:34] cjyabraham commented on #188
Thanks.  Deployed.

[2020-05-01 01:55] cjyabraham commented on #188
@rodmeurer I've deployed this to the live site but I'm not able to get the section to show.  You can try [editing it here](https://www.cncf.io/wp-admin/post.php?post=27434&action=edit) and unchecking "Hide this section".  Is there something else we need to do to make it work?

Note: if you do get it to work please don't leave it visible as it's just test data there right now.

[2020-05-01 02:14] fuerzastudio commented on #188
@cjyabraham Sorry about that, there was a misspelling in the field name. We've fixed it and the section remains hidden.

[2020-05-01 02:19] cjyabraham commented on #188
That works.  Thanks for the quick fix.

[2020-05-01 02:19] #188 closed

[2020-05-06 08:22] cjyabraham commented on #89
We can close this for now since we'll do it a different way on the new site.

[2020-05-06 08:22] #89 closed

[2020-05-06 08:24] cjyabraham commented on #169
Closing now as it appears to be working but let me know if this is still a problem for anyone.

[2020-05-06 08:24] #169 closed

[2020-06-01 17:11] thetwopct opened #190 "Improperly formatted webinar date and time breaks Add to Calendar function"
On upcoming webinars, the time of the webinar is being incorrectly parsed and converted to an invalid ISO format, and preventing the Add to Calendar button from properly displaying with JS console error of `RangeError: Invalid Date`.

![20200601180618-CNCF Member Webinar: 20,000 Upgrades Later, Lessons From a Year of Managed Kubernetes Upgrades - Cloud Native Computing Foundat…](https://user-image

[2020-06-02 01:31] cjyabraham commented on #190
@deigolocco please find a quick fix for the current site.  As mentioned, we'll be doing things differently in the new site but just need something to fix this for the current site for the next couple of months.

[2020-06-04 03:06] cjyabraham commented on #190
@deigolocco hold off for now fixing this.  I figured out that the editor just needs to include spaces around the hyphen for the times so this will be adequate for now.

[2020-06-04 08:36] cjyabraham commented on #190
This is still broken in Safari at least.  Reopening...

[2020-06-05 04:00] cjyabraham commented on #190
Thanks.  Deployed.

[2020-06-05 04:00] #190 closed

[2020-06-24 09:57] cjyabraham opened #191 "Sticky "featured" posts"
When a post is marked "sticky" it should stay at the top of the blog and top of the homepage listing. It should have some new way of being tagged "Featured" both on the blog page and on the homepage.

[2020-07-02 05:50] cjyabraham commented on #191
deployed

[2020-07-02 05:50] #191 closed