[2019-08-02 03:27] cjyabraham opened #1 "Update form on home page"
Pallavi wants the form on the [home page](https://www.cncf.io/) updated to https://cloud.email.thelinuxfoundation.org/CNCFNewsletterSubscribe

[2019-08-02 03:29] cjyabraham opened #2 "Re-order plugin"
Check to see if the re-order plugin is used anywhere on the site.  It is currently causing issues with the [blog posting order](https://www.cncf.io/newsroom/blog/).  While the order can easily be corrected, we should deactivate the plugin if it's not being used.

To figure this out, backup live on to dev then deactivate the plugin on dev and do a page compare across the site to see any effects.

[2019-08-02 03:38] cjyabraham opened #3 "Hummingbird not refreshing assets"
During our last deployment I couldn't get Hummingbird to refresh its cache and produce new concat/minified files.  I had to deactivate the plugin and when I re-activated it, it had lost all settings.

First step to resolve this is to install the latest version of the Hummingbird plugin.  Then we can test this more closely across various dev instances during our next js/css deployment.

[2019-08-02 03:39] cjyabraham commented on #3
Waiting on @jeska for the new Hummingbird plugin.

[2019-08-02 03:44] cjyabraham opened #4 "CNCF Rebuild"
This is a long term project to completely rewrite the CNCF site to achieve the following:
- faster load times
- faster admin UI
- easier administration leveraging Gutenberg
- easier development process through use of CI, github, etc.
- streamlined and enhanced features
- automated testing to catch render errors prior to deployment; visual regression tests using wraith

The project will adopt a sim

[2019-08-02 03:51] cjyabraham opened #5 "CNCF Community Menu Updates"
Update the Community menu [as described here](https://docs.google.com/document/d/1W5YH0fms_w_vycZH0toBbrKN8F_nya9O9nrXLIAy0mA/edit?ts=5d3f6829#heading=h.5jfz35magu6v).

[2019-08-02 03:53] cjyabraham opened #6 "CNCF Events We're Attending page"
Create a page for listing 3rd-party events [as described here](https://docs.google.com/document/d/1KD9WGZTTPON4tmukwN3dDgAWR9tURrj4BfiS_IEvTzU/edit#).  Page will look similar to the new [LFEvents Community Listing](https://dev-lfeventsci.pantheonsite.io/about/community-events/).

[2019-08-02 03:54] cjyabraham commented on #6
Diego currently working on [designs](https://www.dropbox.com/s/uldyi1p29os37d0/01-events-main.jpg?dl=0).

[2019-08-02 03:56] cjyabraham opened #7 "Newsletter Archives"
Latest newsletters need to be exposed in an archive.  [See doc](https://docs.google.com/document/d/1KKgxPby92EYWjygNRtARcHlCqnJLT0vO504DFeQmhPE/edit?ts=5d2d464e#).

[2019-08-02 03:57] cjyabraham opened #8 "Webinar faceted search and page design"
[New webinar infrastructure and search](https://docs.google.com/document/d/1-5lGjs6fusNa2OniI0SRFu1rmlTFw_mY1FEkDsstdnQ/edit#heading=h.5jfz35magu6v).

- [x] Create a new webinar Custom Post Type (Chris)
- [x] Design and implement new webinar single post page for both upcoming and recorded webinars (Diego)
- [x] Create faceted search for webinar CPT; list new CPT in order of start date metadata in

[2019-08-02 03:58] cjyabraham commented on #8
Diego currently implementing designs

[2019-08-02 04:01] cjyabraham opened #9 "Speakers Bureau faceted search"
Implemented a faceted search in the same way we are doing for webinars and case studies

[2019-08-02 04:01] cjyabraham opened #10 "Add certifications to Speakers Bureau"
Allow speakers to list whether they are certified as CKA, CKAD, and Ambassador.

[2019-08-02 04:03] cjyabraham opened #11 "Speakers Bureau group emails"
This allows CNCF Members to authenticate (log in).  Then they could use the speakers filter to select a subset of speakers and they would have access to a special button, say, that allows them to email all of the filtered speakers in the list.

[2019-08-02 04:03] cjyabraham commented on #11
Next step is for Kim to write up a more formal requirements doc.

[2019-08-02 04:09] cjyabraham opened #12 "Case Studies redesign"
The [new design](https://www.cncf.io/case-study/amadeus/) for these are currently being deployed to all existing case studies by Julie, assisted by Alex and Chris.

[2019-08-02 04:41] cjyabraham commented on #1
Waiting on Alex or Pallavi for html to insert.

[2019-08-02 05:09] cjyabraham commented on #2
I’ve done a pretty thorough test to see if deactivating the re-order plugin would have any negative effect on the site but didn’t see any, so I have deactivated it.  So this should make it impossible for blog posts to be out of order again.

[2019-08-02 05:09] #2 closed

[2019-08-02 05:09] cjyabraham commented on #5
Waiting on Kim for the go-ahead.

[2019-08-02 07:40] cjyabraham commented on #1
@dankohn are you aware of them wanting to insert [this form](https://cloud.email.thelinuxfoundation.org/CNCFNewsletterSubscribe) with the boxes stacked vertically like that in place of the current horizontal newsletter form?  I'm not sure who has approved this but it seems a suboptimal design. Additionally the form error messages don't look so good...

[2019-08-02 11:55] dankohn commented on #1
Is it possible for us to style?

[2019-08-02 13:28] KimMcMahon commented on #5
@cjyabraham This menu is approved. Please implement.
@alexcontini has a new design for the KubeCon + CloudNativeCon page. This should be implemented

[2019-08-02 13:32] KimMcMahon commented on #7
@cjyabraham I am going to email the past newsletters to the email list. Currently, there is a Salesforce Marketing Cloud issue that the Linux Foundation team is working to fix. Once this is fixed, I will email the newsletters.

We then need to remove the archive from the Newsletter page and replace it with a statement and link to the email list.  newsletter@lists.cncf.io

[2019-08-02 13:44] cjyabraham commented on #1
I suppose so, if we integrate their html/css/js into our site, but it's a beast.  Currently they are recommending using an iframe, in which case we wouldn't be able to change the look at all.  I think Craig has been part of this conversation so I wonder what his thoughts are and what he has done on other instances on LF sites...

[2019-08-02 13:47] dankohn commented on #1
@ccraigross Could you please comment?

[2019-08-02 13:57] ccraigross commented on #1
@cjyabraham @dankohn - The digital marketing team is replacing all of our existing forms with forms built directly in Salesforce Marketing Cloud. It is the next step from Pardot > Gravity Forms > Marketing Cloud. My expectation (need to 100% confirm) is that we will be able to provide the digital marketing team with CSS or a link to a CSS file that would be leveraged so that these can be styled as

[2019-08-02 14:03] cjyabraham opened #13 "New design for the KubeCon + CloudNativeCon page"
@alexcontini has created a new design for the page and it has been approved.

@deigolocco please implement this design.

[2019-08-02 14:04] KimMcMahon commented on #13
[cncf-events-redesign.pdf](https://github.com/cncf/wordpress-site/files/3461561/cncf-events-redesign.pdf)
See attached design. Option #1 is approved.

[2019-08-02 14:13] KimMcMahon commented on #9
Can we add a more granular search? Not just country (i.e. United States), but state.

Need to figure out what to do outside the US.

[2019-08-02 15:14] dankohn commented on #9
I'm not sure if it's feasible and worth the trouble. If it is, you probably want to emulate the Headquarters Locations options in the filter bar: https://landscape.cncf.io/format=card-mode&grouping=headquarters

[2019-08-02 16:05] dankohn opened #14 "Add jobs site to cncf.io"
It would be nice to add a jobs site to cncf.io for employers to reach potential employees. As a member benefit, we could highlight CNCF members more prominently.

To populate the site during startup (and maybe forever) we can take the feed of Kubernetes jobs from Hacker News: https://hnrss.org/jobs?q=kubernetes+OR+K8s

There are multiple Wordpress plugins we could use or one of these white label s

[2019-08-02 16:49] KimMcMahon commented on #7
Adding Google Doc with project requirements. https://docs.google.com/document/d/1KKgxPby92EYWjygNRtARcHlCqnJLT0vO504DFeQmhPE/edit?usp=sharing

[2019-08-02 16:50] KimMcMahon commented on #5
Adding Google Doc documenting the project
https://docs.google.com/document/d/1W5YH0fms_w_vycZH0toBbrKN8F_nya9O9nrXLIAy0mA/edit?usp=sharing

[2019-08-02 16:50] KimMcMahon commented on #6
Adding Google Doc describing the project
https://docs.google.com/document/d/1KD9WGZTTPON4tmukwN3dDgAWR9tURrj4BfiS_IEvTzU/edit?usp=sharing

[2019-08-02 17:44] dankohn opened #15 "Update News and Community Testimonials"
Let's update the News and Community Testimonials section on the homepage to just show the title and first dozen few characters of the latest 3 blog posts, 3 announcements, and 3 news articles, and their dates. We've tried to do fancier and more graphical stuff in the past, but it always gets outdated. The headings of the columns (blog, announcements, news) should be links to the three pages.

Then

[2019-08-02 19:30] KimMcMahon commented on #5
@cjyabraham News KC + CNC + Summit page is up. Please work on implementing the menu.

[2019-08-02 19:33] KimMcMahon commented on #5
Note: Alex updated the top menu item to KubeCon + CloudNativeCon & Other CNCF Events

Please make the other menu updates.

[2019-08-03 04:21] cjyabraham commented on #1
I've integrated what they've sent us into the [dev site](https://dev-cncf.pantheonsite.io/) via iframe.  I see a few problems:

1. form validations don't appear
2. the Sign Up button jumps when you click it and can go below the iframe border
3. I think a horizontal layout of the buttons would work better in this location
4. the contents of the iframe require 13 requests, 135KB transferred

It soun

[2019-08-03 12:50] dankohn commented on #1
I'm fine either way.

[2019-08-04 05:05] cjyabraham commented on #1
@ccraigross do you have any preference which way we go given the above points?

[2019-08-05 12:29] KimMcMahon commented on #15
@alexcontini Can you do a design for the three boxes on the Home page? When I say "design" I mean choose a color option for the box - white with a color line around them or the boxes are each a different color - whatever you think looks best on the page.

The boxes clearly labeled "Blog" "Announcements" "News".

As Dan mentioned, the three latest of each with a few dozen characters.

[2019-08-05 12:46] KimMcMahon opened #16 "Blog Page: Update Design"
For Blog page: https://www.cncf.io/newsroom/blog/
Instead of a listing of the blogs with title and first characters of the blog, use featured image associated with the blog.
The goal - make the page more visually attractive.
Could also look at using the Snippet to provide a meta description and pull that into the description for each blog.

Using the Snippet meta description will also show up in a

[2019-08-05 12:47] KimMcMahon opened #17 "Ambassador Page: Update design"
A request from the team.

Kim to gather requirements.

[2019-08-05 12:48] KimMcMahon opened #18 "Join Now Page: Update"
Request from Katelin.

Update. Review the content and update to make sure it aligns with our messaging.
Feedback from members is that there is a lot of information on the page and it's long and complicated.
Possibly: Look at what Cheryl did for the end user page and apply to that page.

[2019-08-05 12:49] cjyabraham commented on #16
FYI, blog posts do not currently have featured images so they will need to be added.

[2019-08-05 13:30] fuerzastudio commented on #15
sure @KimMcMahon

[2019-08-05 13:37] deigolocco commented on #15
sure @KimMcMahon

[2019-08-05 13:37] KimMcMahon commented on #10
Identify what information, in addition to certifications, we want Speakers to update.

[2019-08-05 13:38] #13 closed

[2019-08-05 13:41] KimMcMahon commented on #5
Wait for #6 and #8

[2019-08-05 15:17] KimMcMahon opened #19 "KCSP Page Update"
Text documented [[here](https://docs.google.com/document/d/1zZTSu00BuNuGKDk7wXrjPra3jqJc-1w8sb_dZG1GCKM/edit?usp=sharing)]

We need to update the copy on the KCSP page.  We do not provide leads to companies, I didn't realize this was listed on the site.  We provide marketing and brand awareness to help end users locate consulting partners.  ).

Katelin and Kim working on content.

[2019-08-05 16:15] KimMcMahon opened #20 "Job Board"
Host a job board on CNCF site.

Thoughts:
Populate with ads from HackerNews
Members can do ads
RSS feed

Kim and/or Chris Blum to work on this.

[2019-08-05 16:41] dankohn commented on #20
Please add your comments to #14 instead and then close this.

[2019-08-05 17:05] KimMcMahon commented on #14
Host a job board on CNCF site.

Thoughts:
Populate with ads from HackerNews
Members can do ads
RSS feed

Kim and/or Chris Blum to work on this.

[2019-08-05 17:05] #20 closed

[2019-08-05 17:09] KimMcMahon opened #21 "Possible issue with Google Analytics"
I've pulled blog stats for April, May, June, and July. Total blog views for April, May, and June are very low - approximately 300 for the month. Total blog views for July are nearly 4,000.

I suspect an issue with Google Analytic page view counts.

Stats are [here](https://docs.google.com/spreadsheets/d/1doEHIIhlbLvVGySbgnzkWL15Di73LVrSMNyCa-Ruyz4/edit?usp=sharing), News and Blog Calendar tab.

[2019-08-06 03:29] cjyabraham commented on #21
Where are you getting this data from?  My view of Google Analytics shows pageviews from 25000-40000 for all of those months:
<img width="1250" alt="Screen Shot 2019-08-06 at 10 28 30 AM" src="https://user-images.githubusercontent.com/463160/62509330-ffbe9100-b834-11e9-8afd-41faf3fc45d5.png">

[2019-08-06 13:15] deigolocco commented on #15
hi @KimMcMahon here is our design proposal https://www.dropbox.com/s/6maf78sduuvn23k/01-home.jpg?dl=0

[2019-08-06 13:18] dankohn commented on #15
Thanks. Could you please do a version where the three boxes are in the same row instead of stacked. Inside each the three items would be stacked. Also, please note that that section goes lower down on the page.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation  https://www.cncf.io
+1-415-233-1000  https://www.dankohn.com

[2019-08-06 13:22] deigolocco commented on #15
sure @dankohn

[2019-08-06 13:26] KimMcMahon commented on #21
The stats were for individual blogs. I just ran a quick report again and the numbers are at a more expected page view. I'll investigate more today.

[2019-08-06 13:34] deigolocco commented on #15
under which section should the boxes go?

[2019-08-06 13:48] dankohn commented on #15
I was wrong. They should stay above Membership, where they are now.

[2019-08-06 13:50] deigolocco commented on #15
ok, thanks

[2019-08-06 14:47] #21 closed

[2019-08-06 15:08] ccraigross commented on #1
@dankohn @cjyabraham - just closing the loop on this, let's migrate from Pardot to Gravity Forms and then revisit in the near future. The ability to track users across all channels is the primary benefit for Cloud Forms, but we will need to balance that against any performance concerns, etc.

[2019-08-06 17:58] KimMcMahon commented on #19
Updated 8/6/2019

[2019-08-06 17:58] #19 closed

[2019-08-06 19:40] deigolocco commented on #15
@dankohn here is the new proposal according last request https://www.dropbox.com/s/p7x8cyfno2nhbse/01-home_v2.jpg?dl=0
Do you think is necessary limitate the title length, to avoid height differences?

[2019-08-06 19:45] KimMcMahon commented on #15
I'd like to see just the title and date. Often, the first couple of sentences is not adding any value to the text.

[2019-08-06 20:43] deigolocco commented on #15
https://www.dropbox.com/s/jx1k0rtnyxb04il/01-home_v3.jpg?dl=0

[2019-08-06 20:53] KimMcMahon commented on #10
The person would update their profile to check a box for each certification or as an ambassador.

CKA, CKAD, Ambassador symbol can appear in the box with their picture, perhaps to the left of their picture.

[2019-08-06 21:30] dankohn commented on #15
Diego, please remove " | Blog" and " | Announcement" everywhere since the category type is shown at the top.

Please also move the "View All Blogs" buttons into the white boxes rather having them below.

But, no need to do another design unless you want to. You can go ahead and implement.

[2019-08-06 22:54] deigolocco commented on #15
Ok @dankhon, we'll proceed with the development

[2019-08-07 02:19] cjyabraham commented on #1
@ccraigross sounds good.  So for next steps, should I just duplicate the current form using Gravity Forms?  And would you be able to take care of the Salesforce linkup?

[2019-08-07 03:30] #12 closed

[2019-08-07 05:17] cjyabraham commented on #3
I have upgraded Hummingbird and cleared its cache and it appears to have successfully generated new files.  I'll close for now and keep an eye on it during our next deployment.

[2019-08-07 05:17] #3 closed

[2019-08-07 12:38] KimMcMahon commented on #6
@deigolocco Comments on the design.
For the 3rd party events page, please put the filtering on the top of the page. Use the full width of the page.

Please share the updated design on GitHub.

[2019-08-07 12:48] ccraigross commented on #1
@cjyabraham - Correct. We will need to make sure that the SF connector is active and functioning as expected. I have reached out to Marijana and Pallavi in the Slack thread we've had with them.

[2019-08-07 13:08] deigolocco commented on #6
@KimMcMahon here is the adjusted design https://www.dropbox.com/s/h7922mckso3vegv/01-events-mainV3.jpg?dl=0

[2019-08-07 13:18] KimMcMahon commented on #6
LGTM. @dankohn Please review design and approve.

NOTE: Upon Dan's approval, use the content in the Google doc to populate the page. It has been updated with recent changes in event information.

[2019-08-07 13:25] deigolocco commented on #6
ok @KimMcMahon

[2019-08-07 15:30] cjyabraham commented on #1
This form has been tested and approved on the dev site.  I will deploy it live first thing tomorrow as it takes quite a bit of configuration to get it to look right.  Then we can test again.

[2019-08-07 21:36] dankohn commented on #6
Please change "Schedule Event" to "Schedule a Meeting". Approved.

[2019-08-08 02:16] cjyabraham opened #22 "Implement site-wide banner"
Make it configurable via the admin so that the text can easily be changed.  Mockups attached.
<img width="1208" alt="Screen Shot 2019-08-08 at 9 14 50 AM" src="https://user-images.githubusercontent.com/463160/62670352-24457500-b9bd-11e9-8f14-c1ddfb52423c.png">

[2019-08-08 03:28] cjyabraham commented on #1
This has been deployed live and tested by Marijana Brown.

[2019-08-08 03:28] #1 closed

[2019-08-08 13:09] KimMcMahon commented on #6
@deigolocco Please make the change Dan has noted and start implementation.

Can we launch this no later than Monday?

[2019-08-08 13:23] KimMcMahon commented on #6
Adding designs
![Picture1](https://user-images.githubusercontent.com/29307455/62706773-6c5c9b80-b9ad-11e9-8ea8-24e2d84eeaff.png)
![Picture2](https://user-images.githubusercontent.com/29307455/62706774-6ebef580-b9ad-11e9-95a3-a18a57267a4a.png)
![Picture3](https://user-images.githubusercontent.com/29307455/62706778-7088b900-b9ad-11e9-88d7-7964b9065e95.png)
![Picture4](https://user-images.githubuserc

[2019-08-08 14:03] deigolocco commented on #6
ok @KimMcMahon , we'll proceed, but these designs are related to webinars. The 3rd party events is this https://www.dropbox.com/s/h7922mckso3vegv/01-events-mainV3.jpg?dl=0
We'll do directly at the code the change "Schedule Event" to "Schedule a Meeting"

[2019-08-08 16:22] KimMcMahon commented on #15
Adding Design
![News and Community](https://user-images.githubusercontent.com/29307455/62720062-78088c00-b9c6-11e9-96e9-410723a91645.jpeg)

[2019-08-08 16:30] KimMcMahon commented on #15
@deigolocco From Dan:  I'm now thinking the new news section would be better with the headlines just being links rather than having 9 READ NOW buttons. It seems like it might even free up enough space to fit 4 headlines per section.

Please change so the headline is linked, remove the read now button, and include 4 headlines.

[2019-08-08 16:42] KimMcMahon commented on #15
@deigolocco Please change the title of the section from "News and Community Testimonials" to "Newsroom"

[2019-08-08 17:16] deigolocco commented on #15
ok @KimMcMahon, design adjusted https://www.dropbox.com/s/jyj19xuzdryzp1o/01-home_v4.jpg?dl=0

[2019-08-08 17:35] KimMcMahon commented on #15
Thank you @deigolocco. Design added.  And you don't need to update the design - you can implement. :)
![Home Page Newsroom v2](https://user-images.githubusercontent.com/29307455/62724368-0fbea800-b9d0-11e9-8ca9-4d50f07c1c00.jpeg)

[2019-08-08 18:03] deigolocco commented on #15
ok @KimMcMahon, thanks

[2019-08-08 19:52] dankohn commented on #15
That looks really good. @deigolocco note that it is nicer to paste the images directly into GitHub, as @KimMcMahon has done, rather than link to Dropbox.

[2019-08-08 21:16] KimMcMahon opened #23 "Member marketing benefits web page - NEW"
Create a page, linked from the Join page, which details the member marketing benefits.

Use the information in the Member Onboarding and the [member benefits .pdf.](https://www.cncf.io/wp-content/uploads/2018/07/cncf-member-benefits-final.pdf)

Kim to start a Google doc with the information to include.
Review with Katelin.
To Dan for approval.

Then, to design and implementation.

[2019-08-08 21:21] KimMcMahon opened #24 "Login for a speaker to Speakers Bureau is not easily found"
The login for Speakers Bureau is only on the [Register](https://www.cncf.io/speakers/register/) page. See image.

It is not intuitive to hit "Click here to learn more about this program." from the [Speakers Bureau page.](https://www.cncf.io/speakers/)

Please add a login to the Speakers page.

Login button
<img width="1530" alt="Screen Shot 2019-08-08 at 3 16 24 PM" src="https://user-images.github

[2019-08-08 21:40] KimMcMahon commented on #10
See [Speaker's Bureau document](https://docs.google.com/document/d/1IUA1O4Zr73cdtBSJQB9mcEdO0lisxWagNEaofICdty0/edit?usp=sharing).

For this task:
Allow speakers to add CKA, CKAD, KCSP, and Ambassador to their profile via a checkbox.

Use the logo / badge icon on the Speaker’s profile.

Place the logo / badge somewhere in the profile. Perhaps on the left and move the Twitter and LinkedIn icon to t

[2019-08-08 21:43] KimMcMahon commented on #9
See [document](https://docs.google.com/document/d/1IUA1O4Zr73cdtBSJQB9mcEdO0lisxWagNEaofICdty0/edit?usp=sharing) on Speakers Bureau updates.

For this requirement:
Implement a faceted search similar to Webinars and Case Studies.

Fields:
Name
Certifications in profile
Industry (as in the Case Studies)
Area of Expertise (all projects - current list for Speakers Bureau)
All challenges (as in Case St

[2019-08-08 21:46] KimMcMahon commented on #9
@dankohn There is an open question in the document on two potential fields for a speaker.

The decision is needed so Chris can update the backend for a speaker to update their profile.
I need the updated backend to send a note to speakers to update their profile.

There is a comment in the document, assigned to you.

[2019-08-08 21:50] KimMcMahon opened #25 "Update the order of fields for each Speaker"
Requirements documented in [Speakers Bureau Google Doc](https://docs.google.com/document/d/1IUA1O4Zr73cdtBSJQB9mcEdO0lisxWagNEaofICdty0/edit?usp=sharing)

Fields for a profile
Please put in this order:

Bio
Area of expertise
Job category
Job title
Company
Location (Country) (updated based on new Search)
Languages spoken
Github
Twitter
LinkedIn
Website
Twitter
Willing to present via Video Conferenc

[2019-08-08 21:52] KimMcMahon commented on #11
Requirements outlined in the [Speakers Bureau Google doc](https://docs.google.com/document/d/1IUA1O4Zr73cdtBSJQB9mcEdO0lisxWagNEaofICdty0/edit?usp=sharing).

[2019-08-08 21:53] KimMcMahon commented on #11
@dankohn to review, update, and approve "Rules for Members to contact speakers bureau members".

Once approved, Chris can start working on functionality.

Due date for functionality: August 30.

[2019-08-08 22:26] deigolocco commented on #15
thank you @dankohn , I'll start pasting images now in front

[2019-08-08 22:34] KimMcMahon commented on #9
@cjyabraham Faceted search items are updated and ready for you!

[2019-08-08 22:36] KimMcMahon commented on #25
@cjyabraham Two additional fields added and fields updated in the Speakers Bureau document.

[2019-08-09 04:46] cjyabraham commented on #6
I don't understand the use-case for a date filter.  Why would someone go to the page and want to use that filter?  Wouldn't users almost always want to browse events starting with the ones happening soonest?

[2019-08-09 05:03] cjyabraham commented on #25
[This is done](https://www.cncf.io/speaker/puja/).

[2019-08-09 05:03] #25 closed

[2019-08-09 05:07] cjyabraham commented on #10
Where in the profile would you like these checkboxes to go and it what order?  And am I correct in assuming we want a checkbox for each of the four designations?

[2019-08-09 07:30] nilsmeyer opened #26 "Consider more contrast for text on the website"
Using grey text on white background can be very difficult to read, especially on mobile devices. For the benefit of accessibility you should consider using colors with more contrast.

See also https://contrastrebellion.com/ for more info, including links to studies, on contrast.

[2019-08-09 11:01] dankohn commented on #26
Yes, we're happy to make that change. Would you mind including a couple links for the pages that you think are the worst offenders?

[2019-08-09 11:05] nilsmeyer commented on #26
Thank you for considering this. It immediately struck me once I opened [https://www.cncf.io/blog/2019/08/06/open-sourcing-the-kubernetes-security-audit/](https://www.cncf.io/blog/2019/08/06/open-sourcing-the-kubernetes-security-audit/), I think the grey on grey on the members page and on some of the community pages also isn't ideal.

[2019-08-09 13:12] KimMcMahon commented on #6
Adding design for 3rd party event page.
![3rd party events](https://user-images.githubusercontent.com/29307455/62781335-fb80b680-ba74-11e9-8811-3b1cbf3ce503.jpeg)

[2019-08-09 13:19] KimMcMahon commented on #8
Adding designs
![Picture1](https://user-images.githubusercontent.com/29307455/62781795-f839fa80-ba75-11e9-8d2b-e58f07e91693.png)
![Picture2](https://user-images.githubusercontent.com/29307455/62781796-f839fa80-ba75-11e9-9096-43dcd0d1bc6a.png)
![Picture3](https://user-images.githubusercontent.com/29307455/62781797-f839fa80-ba75-11e9-8083-05e2ae24108e.png)
![Picture4](https://user-images.githubuserc

[2019-08-09 13:23] KimMcMahon commented on #6
Two items:

1) Deploy the design for 3rd party events and populate the page.
2) Work on the filtering. Diego and Chris to discuss the plug-in versus coding. Deploy the filtering later Friday or Monday after Diego and Chris have made a decision.

For date filtering, the use case I see is:
Filtering on 2020 so you can plan for next year.
Filtering on a month and year instead of scrolling.

If date f

[2019-08-09 13:39] KimMcMahon commented on #10
Check boxes: On the registration page, directly below Bio.

On the profile One suggestion is adding the icon(s) on the same line as Twitter and LinkedIn icon. If that is not possible, the icon(s) can go elsewhere in the speaker card.

Agree - tackle the re-write as you do the faceted search.

[2019-08-09 16:16] KimMcMahon commented on #6
@cjyabraham @deigolocco Changing the name of this page from "3rd party event page" to "Events We'll Be At".

[2019-08-09 16:17] KimMcMahon commented on #5
Note: Changing one menu item. Changing the name of this page from "3rd party event page" to "Events We'll Be At".

[2019-08-09 16:22] KimMcMahon commented on #7
Update: An issue has been opened with Salesforce to allow mailing to newsletter@lists.cncf.io. When this is resolved, I will unblock the issue, execute, and note other needed updates.

[2019-08-09 16:28] dankohn commented on #26
I also want to fix the contrast of the "projects" link (and mouseover color) at the top of https://www.cncf.io and the visited link color on https://www.cncf.io/phippy/. @deigolocco Could you please propose a new design for the default news pages that improves the contrast.

[2019-08-09 16:40] deigolocco commented on #15
@KimMcMahon @dankohn will be done tomorrow morning

[2019-08-09 19:11] deigolocco commented on #26
ok @dankohn

[2019-08-10 05:04] cjyabraham commented on #10
Ok, I've added them on both the registration page and profile page.  See screenshots:

This is the edit screen on the profile:
<img width="870" alt="Screen Shot 2019-08-10 at 11 59 09 AM" src="https://user-images.githubusercontent.com/463160/62817812-cd7b9f00-bb66-11e9-97fa-ca0f5f8e6de0.png">

This is how they will look when entered on the profile:
<img width="782" alt="Screen Shot 2019-08-10 at 1

[2019-08-10 05:09] cjyabraham commented on #10
Could you incorporate the rewriting of the search tiles into #9 and create a separate issue for rewriting the profile to include the icons, if that's something you want to prioritize?  Then we can close out this issue?

[2019-08-10 05:12] cjyabraham commented on #24
Where do you want the login button to go?  Alternatively, we could just added a link at the end of the paragraph: "...or, if you've already registered, log in."

[2019-08-10 13:37] dankohn commented on #10
Certifications are CKA and CKAD. KCSP is something a company gets.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Sat, Aug 10, 2019 at 1:09 AM Chris Abraham <notifications@github.com>
wrote:

[2019-08-10 13:42] KimMcMahon commented on #10
@cjyabraham My fault for not sufficiently researching how a company gets a KCSP. I knew it was xx number of people with a certification - and it's the CKA. Updating the document and removing this.

[2019-08-10 13:44] KimMcMahon commented on #10
@cjyabraham The new certifications section, it was unclear to me (when I did a test signup) of what to put in there. Can it be made check boxes? Or with the "?" can you list the three options?

"Ambassador, CKA, CKAD"

[2019-08-10 13:50] KimMcMahon commented on #10
On the field "Area of expertise", these are the specific items the user needs to select. This will need to be a drop down where multiple items can be checked or check boxes.

[2019-08-10 14:41] dankohn commented on #10
Kim, please write up some bullet points about how we’ll give current speakers 2-3 weeks to update their profiles and deactivate them if they don’t.

We probably want to do a quarterly Check-in to ensure that people are still reachable at that email and still interested in speaking.

[2019-08-11 02:18] cjyabraham commented on #10
@dankohn I've removed KCSP.

@KimMcMahon regarding both the "Certifications" and "Area of expertise", these *are* multi-select controls where you can only select values that are provided in the drop-down.  To see the drop-down, click into the field. Alternatively, I could change it to a set of radio buttons, however, I don't think that would work well for "Area of expertise" since there are so man

[2019-08-11 11:27] dankohn commented on #10
What is the dev URL where I can try this, please?

[2019-08-11 12:09] dankohn commented on #10
Please change "Click here to learn more about this program." to "Learn more about this program." with Learn as the link. We want to avoid all uses of "Click here" https://www.smashingmagazine.com/2012/06/links-should-never-say-click-here/.

[2019-08-11 12:11] dankohn commented on #10
Could we try a design refresh where we show "City, Country" and Areas of Expertise to the right of the picture and make every speaker box the same size? I don't see any reason to highlight Twitter and LinkedIn links from the scrolling page. Instead, it would allow a much denser list of speakers which would be faster to scroll through.

[2019-08-11 12:16] cjyabraham commented on #9
from @dankohn :

[2019-08-11 12:19] cjyabraham commented on #10
@dankohn I've made the link change you asked for.  For your last comment, I've copied it to [the faceted search issue](https://github.com/cncf/wordpress-site/issues/9#issuecomment-520223484) so we can close out this issue without losing it.

[2019-08-11 15:41] KimMcMahon commented on #24
@cjyabraham Agree on the sentence. See below.

Update this paragraph
The CNCF Community Speaker’s Bureau helps connect event organizers with speakers with a variety of expertises within the cloud native ecosystem. Speakers consist of CNCF meetup organizers, ambassadors, and prominent community members who are willing to speak at local events on certain topics they are proficient in. Event organize

[2019-08-11 18:24] KimMcMahon opened #27 "Design refresh of speaker tiles"
from @dankohn :

_Originally posted by @cjyabraham in https://github.com/cncf/wordpress-site/issues/9#issuecomment-520223484_

[2019-08-11 18:37] KimMcMahon commented on #10
@cjyabraham Requirements written up.
Issue 27 created for the design

@dankohn Documented in the [Speaker Google doc](https://docs.google.com/document/d/1IUA1O4Zr73cdtBSJQB9mcEdO0lisxWagNEaofICdty0/edit?usp=sharing).

[2019-08-11 18:40] KimMcMahon opened #28 "Speaker Bureau fields: Change order and add new"
Documented in the [Speakers Bureau page update file](https://docs.google.com/document/d/1IUA1O4Zr73cdtBSJQB9mcEdO0lisxWagNEaofICdty0/edit?usp=sharing)

[2019-08-12 04:59] cjyabraham commented on #24
[Done.](https://www.cncf.io/speakers/)

[2019-08-12 05:02] cjyabraham commented on #24
What do you think about changing the linked text to something more active:

...Learn more about this program and [sign up](https://www.cncf.io/speakers/register/). If you are registered, [log in](https://www.cncf.io/speakers/login/).

[2019-08-12 12:53] deigolocco commented on #15
@KimMcMahon @dankohn https://fuerza-cncf.pantheonsite.io/

[2019-08-12 12:58] dankohn commented on #15
+1. @cjyabraham can deploy once he and @KimMcMahon sign off.

[2019-08-12 12:58] deigolocco commented on #8
@KimMcMahon @cjyabraham https://new-webinar-cncf.pantheonsite.io/webinars/

[2019-08-12 13:02] dankohn commented on #8
LGTM. Please just change "RESET" to "Reset".

[2019-08-12 13:04] deigolocco commented on #8
ok @dankohn

[2019-08-12 14:35] KimMcMahon commented on #24
Good idea @cjyabraham. Updated. This issue is complete.

[2019-08-12 14:35] #24 closed

[2019-08-12 14:57] KimMcMahon commented on #8
@deigolocco
Please change the time for the upcoming webinars from "PST" to "PT" (Pacific time).
We are actually on "PDT", so the "PST" is incorrect.

[2019-08-12 15:00] KimMcMahon commented on #8
On the individual webinar pages such as this [one](https://new-webinar-cncf.pantheonsite.io/webinars/cncf-webinar-series-tools-and-techniques-securing-apis-in-kubernetes-environment/), we can remove "Event Category: Webinars" from the blue box on the right.

If this is difficult or time consuming, disregard this request.

[2019-08-12 15:02] KimMcMahon commented on #8
@deigolocco On the individual webinar pages such as this [one](https://new-webinar-cncf.pantheonsite.io/webinars/cncf-webinar-series-tools-and-techniques-securing-apis-in-kubernetes-environment/), the "Register Now" button is not functional and there is no link to the Website to register in the blue box.

Is this because it's a test site with older webinars that have already occured?

[2019-08-12 15:07] KimMcMahon commented on #8
@deigolocco  On the [page](https://new-webinar-cncf.pantheonsite.io/webinars/security-and-day-2-operations-with-harbor/) for a specific recorded webinar, there is a date and time for the webinar "June 13th, 2019 2:00-5:00PM PST".

I'd like to keep the date of the webinar. Can the time be removed? And the time for this webinar is incorrect, so I'm not sure where the data is getting pulled from.

[2019-08-12 15:11] KimMcMahon commented on #15
+1. @cjyabraham to you for deploy.

[2019-08-12 18:14] deigolocco commented on #8
ok @KimMcMahon

is easy to remove

[2019-08-12 18:23] deigolocco commented on #6
@KimMcMahon https://new-webinar-cncf.pantheonsite.io/events-well-be-at/

[2019-08-12 18:32] KimMcMahon commented on #6
@deigolocco This looks great! Please continue to add the content as detailed in the [Google Doc](https://docs.google.com/document/d/1KD9WGZTTPON4tmukwN3dDgAWR9tURrj4BfiS_IEvTzU/edit#).

I will proof read before the page is deployed live.

[2019-08-12 19:05] deigolocco commented on #6
ok @KimMcMahon

[2019-08-13 06:05] cjyabraham commented on #15
This is now live.

[2019-08-13 06:05] #15 closed

[2019-08-13 07:17] cjyabraham commented on #6
A few points:
- the Reset button doesn't seem to work for the dates filter
- could you turn on the deep-linking to filter settings via url for the dates filter?
- I think the location filter should be hierarchical by continent and country, [similar to case studies](https://www.cncf.io/projects/case-studies/)

If the above would require much work, we should just use the [search/filter plugin](https

[2019-08-13 07:18] cjyabraham commented on #8
@deigolocco where are the filters?

[2019-08-13 07:47] cjyabraham commented on #22
@deigolocco has work started on this and do you have an ETA for Lindsay on when it will be ready?

[2019-08-13 11:10] cjyabraham opened #29 "Auto-apply tint to B&W case studies images"
from @alexcontini and @jkld11:
Currently the images on the [case studies tiles](https://www.cncf.io/projects/case-studies/) are  from the Featured Image for that case study.  It would be better if we could generate them dynamically from the main image of the [case study](https://www.cncf.io/case-study/adform/) and then apply a tint using a color selected for that case study.  This way we don't nee

[2019-08-13 11:58] dankohn opened #30 "Kill Newsroom: Overview"
Now that it's on the homepage. https://www.cncf.io/newsroom/ should redirect to https://www.cncf.io/.

Finishes #15.

[2019-08-13 12:07] dankohn commented on #6
Location filter doesn't work for me. When I choose Amsterdam, I get https://new-webinar-cncf.pantheonsite.io/events-well-be-at/?_location=395.

I don't think date filter makes sense as showing the months makes it noisy and I'd rather just scroll. It would make more sense if we only included years, but we will rarely have events more than 12 months in the future, so I think we should just remove th

[2019-08-13 12:07] alexcontini opened #31 "add Phippy image to cncf.io 404 page"
We would like to add an image of Phippy to the right of the 404 text (as in the screenshot attached). I have attached the png to use as the Phippy image as well.

<img width="884" alt="Screen Shot 2019-08-08 at 8 38 51 AM (1)" src="https://user-images.githubusercontent.com/27962005/62940346-63027300-bda1-11e9-883c-22ddfb18c2f7.png">

![phippy404](https://user-images.githubusercontent.com/27962005/

[2019-08-13 12:11] deigolocco commented on #6
@KimMcMahon content added

[2019-08-13 12:12] dankohn commented on #31
Also, please make the Phippy logo a link to https://www.cncf.io/phippy/.

[2019-08-13 12:15] deigolocco commented on #8
@KimMcMahon @dankohn all adjustments were done. We registered all webinars too. The filtering is not visible because the webinars are not tagged with "Companies" and "Topics" yet, we don't have this information.

[2019-08-13 12:23] deigolocco commented on #31
ok @dankohn

[2019-08-13 12:23] deigolocco commented on #26
![Blog](https://user-images.githubusercontent.com/5631313/62941169-cabdbb80-bdab-11e9-9f20-5304275a9e1f.jpg)
![home](https://user-images.githubusercontent.com/5631313/62941174-cee9d900-bdab-11e9-8efc-248bc8f6abc8.jpg)
![Phippy](https://user-images.githubusercontent.com/5631313/62941176-d01b0600-bdab-11e9-85d5-956f9124c6d4.jpg)
![Speaker](https://user-images.githubusercontent.com/5631313/62941180-d

[2019-08-13 12:24] deigolocco commented on #26
@dankohn there are some design proposals

[2019-08-13 12:36] deigolocco commented on #6
@dankohn @cjyabraham we are checking the location bug. Date filter will be removed and Event Hosting be added

[2019-08-13 13:54] deigolocco commented on #6
@dankohn bug is fixed and new filter implemented

[2019-08-13 14:09] dankohn commented on #6
It seems unchanged to me at https://new-webinar-cncf.pantheonsite.io/events-well-be-at/. Could you please also implement the hierarchial location filter the way @cjyabraham requested.

[2019-08-13 14:25] deigolocco commented on #6
@dankohn probably didn't update to you for some cache reason, but is working. We'll add the location filter according with @cjyabraham instructions

[2019-08-13 14:50] dankohn commented on #6
I'm still not seeing it. I would appreciate in the future that you definitely clear the cache and test it off production before asking others to take a look.

[2019-08-13 15:23] deigolocco commented on #6
<img width="836" alt="Captura de Tela 2019-08-13 às 11 24 12" src="https://user-images.githubusercontent.com/5631313/62953999-fdc07900-bdc4-11e9-80cc-185ad45250f2.png">

[2019-08-13 15:24] deigolocco commented on #6
This was exactly what I did, I cleared hummingbird cache before notify you

[2019-08-13 16:00] dankohn commented on #26
Those look great. Could you please implement on a staging server.

[2019-08-13 16:02] deigolocco commented on #26
Thank you @dankohn, sure

[2019-08-13 16:09] nilsmeyer commented on #26
I concur, and readability is also improved markedly.

[2019-08-13 18:43] deigolocco commented on #6
@dankohn date filter removed and hierarchical locations implemented

[2019-08-13 18:44] deigolocco commented on #31
new 404 page implemented https://fuerza-cncf.pantheonsite.io/345

[2019-08-13 19:23] dankohn commented on #6
There's a math problem with the filter (since there are 5 US events):

![image](https://user-images.githubusercontent.com/3083270/62970676-0a9d9680-bdde-11e9-9913-200b9dfb2882.png)

Also, note that the webinar faceted search includes country names like https://new-webinar-cncf.pantheonsite.io/projects/case-studies/?_sft_cstudies_country=europe

while this one has URLs like https://new-webinar-cncf

[2019-08-13 19:38] dankohn commented on #31
1. You've cut off the top and bottom of Phippy.
2. Can you please get in the habit of doing each feature on its own branch. Feel free to call it fuerza-31-phippy to make clear that it implements this issue.
3. You missed my comment about making Phippy a link.

[2019-08-13 21:34] deigolocco commented on #31
1. fixed
2. sure, we'll do this way now in front
3. sorry, added

[2019-08-13 21:36] deigolocco commented on #6
it's ajusted now

[2019-08-13 22:24] dankohn commented on #31
You seem to have hardcoded the URL to "https://www.cncf.io/phippy/" but I believe it should be "/phippy/" so as to work correctly on these staging servers.

With that change, it's ready to merge @cjyabraham

[2019-08-13 22:30] deigolocco commented on #31
fixed, relative url now

[2019-08-13 23:53] dankohn commented on #6
Looks good. Can you also require that every event has a location and is marked either third-party or CNCF-hosted.

[2019-08-14 03:40] cjyabraham commented on #6
A few notes from me:
- when you select a value in a filter, the other values disappear.  For example, when [set to this](https://new-webinar-cncf.pantheonsite.io/events-well-be-at/?_location=new-york) it should still show all possible options when you open the locations drop-down (with "New York" selected).
- Could you make the filters wider so that the text isn't always truncated?

[2019-08-14 04:03] cjyabraham commented on #31
@deigolocco what's the status of your fuerza branch and how would you like this deployed.  It seems there are unrelated commits (ab1e99f508).

[2019-08-14 04:11] cjyabraham commented on #30
Menu item removed and redirect in place.

[2019-08-14 04:11] #30 closed

[2019-08-14 12:10] deigolocco commented on #6
sure @cjyabraham , we'll do these adjusts

[2019-08-14 13:00] deigolocco commented on #31
@cjyabraham commits adjusted. You can deploy now

[2019-08-14 14:11] cjyabraham commented on #31
This has been deployed.  Was it intentional to have Phippy link open in a new tab?

[2019-08-14 14:44] dankohn commented on #31
No, I specifically asked that it not. It's supposed to be a relative URL.

[2019-08-14 14:50] cjyabraham commented on #31
To be clear, it was a relative url, however it was set to open the link in a new tab.  I have made the change to open the link in the same browser tab.  This is deployed and I think closes this issue.

[2019-08-14 14:50] #31 closed

[2019-08-14 14:52] deigolocco commented on #6
adjusted @cjyabraham

[2019-08-14 15:11] dankohn commented on #6
The other values are still disappearing when you select a country. https://new-webinar-cncf.pantheonsite.io/events-well-be-at/?_location=france

[2019-08-14 15:30] deigolocco commented on #6
It's because not all events were tagged with Hosts. They will be tagged at production after the deploy, we don't have have this information, will be necessary Kim's help. The same for webinars with Companies and Topics.

[2019-08-14 15:55] cjyabraham opened #32 "Move all forms over to Salesforce Marketing Cloud"
Work with Katelin Wussow to move all CNCF forms over to be hosted by Salesforce Marketing Cloud.

[2019-08-14 18:08] caniszczyk opened #33 "Add page that lists "Archived" projects"
We need a new page that lists Archived projects.

It will feature rkt.

[2019-08-14 18:13] caniszczyk commented on #33
ideally I'd love to get this up on friday!

cc: @cjyabraham

[2019-08-14 21:03] deigolocco commented on #26
https://fz-contrast-cncf.pantheonsite.io/blog/2019/08/06/open-sourcing-the-kubernetes-security-audit/
https://fz-contrast-cncf.pantheonsite.io/
https://fz-contrast-cncf.pantheonsite.io/phippy/
https://fz-contrast-cncf.pantheonsite.io/speakers/

[2019-08-14 22:30] dankohn commented on #26
Please change the visited links on the regular posts to be visible (maybe purple?)

The visited links on the Phippy buttons are not good:

![image](https://user-images.githubusercontent.com/3083270/63060863-67be4880-bec1-11e9-8fd5-01feda73d09f.png)

Visited link on the homepage is also not distinguishable.

[2019-08-14 22:32] KimMcMahon commented on #6
@cjyabraham  I have reviewed the “Events we will be at page” and it looks good. It is ready to deploy. Thank you!

[2019-08-14 23:27] taylorwaggoner opened #34 "Bing Custom Search"
@deigolocco, could you please look up how many custom searches are taking place and determine if they are legitimate searches from China? Is there a lower-cost option available?  Thanks!

cc: @dankohn

[2019-08-15 05:22] cjyabraham commented on #6
This still doesn't work right for me:
[In this view](https://new-webinar-cncf.pantheonsite.io/events-well-be-at/?_location=united-states) you see this:
<img width="676" alt="Screen Shot 2019-08-15 at 12 16 23 PM" src="https://user-images.githubusercontent.com/463160/63074251-86225380-bf56-11e9-9224-b96ba28cee65.png">

However, when you choose "CNCF-organized" and then re-open the hosts drop-down,

[2019-08-15 06:17] cjyabraham commented on #33
Are you thinking a page [like this](https://www.cncf.io/projects/) which features only "rkt"?  Are there other archived projects?  And then we link it from the Projects drop-down menu, perhaps below "Sandbox Projects"?

As a lower-profile option, we could add an "Archived" band to [this page](https://www.cncf.io/projects/) and list them there?

CCing @alexcontini who will likely be the best one to

[2019-08-15 18:12] deigolocco commented on #26
adjusted

[2019-08-15 18:22] dankohn commented on #26
@deigolocco I'd like to have active *and* visited link colors set that are different from the default (I'm fine if they're active and visited are the same).

I'm not seeing visited links as a different color on https://fz-contrast-cncf.pantheonsite.io/blog/2019/08/06/open-sourcing-the-kubernetes-security-audit/.

As I said above, black on dark blue is not a good visited color:

![image](https://us

[2019-08-15 20:02] dankohn opened #35 "Display number of records being shown"
Is there a relatively easy way to get the faceted search to show how many records are being displayer? https://www.cncf.io/projects/case-studies/ would show 56 while https://www.cncf.io/projects/case-studies/?_sft_cstudies_project=cni would show 5.

[2019-08-15 20:34] caniszczyk commented on #33
@cjyabraham yes, I'd like a separate page cncf.io/archived-projects that lists them similar to the page you first linked. I'd keep it low profile, can you get something up for tomorrow?

We would also remove rkt from our incubating project page.

[2019-08-15 20:40] deigolocco commented on #26
@dankohn, we did the adjustments and added the missing things

[2019-08-15 20:56] alexcontini commented on #33
I created a private page - cncf.io/archived-projects - you just have to be
logged in to view.

Is that what you were thinking, I wasn't sure what else to include so not
sure if it looks too bare...

On Thu, Aug 15, 2019 at 4:34 PM Chris Aniszczyk <notifications@github.com>
wrote:

[2019-08-15 21:12] dankohn commented on #33
Alex, please also create a PR with
https://github.com/cncf/artwork/blob/master/examples/archived.md that only
has rkt on it.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Thu, Aug 15, 2019 at 4:56 P

[2019-08-15 21:16] caniszczyk commented on #33
That works, thank you

[2019-08-15 21:35] dankohn commented on #26
Looks great. @cjyabraham please merge.

[2019-08-15 22:50] alexcontini commented on #33
Great, I created the PR and the https://www.cncf.io/archived-projects/ page
is now live, let me know if there are any issues!

On Thu, Aug 15, 2019 at 5:16 PM Chris Aniszczyk <notifications@github.com>
wrote:

[2019-08-15 23:43] deigolocco commented on #6
@cjyabraham the filters are adjusted.
I didn't consider this a bug, but a behavior improvement. Anyway, these adjustments would be necessary for webinars(done as well), so replicate to Attending was easier and faster than undone to rebuild with the plugin.
Please deploy these adjustments so we can start to tag them and webinars properly. Any other change can be executed in parallel tomorrow. If yo

[2019-08-15 23:49] deigolocco commented on #22
the bar is implemented https://fuerza-cncf.pantheonsite.io/
We created an option page to edit the bar, enable and disable it too.
![Captura de Tela 2019-08-15 às 19 49 44](https://user-images.githubusercontent.com/5631313/63133964-cfe25c80-bf9d-11e9-96e6-7d9c349f438f.png)
This option page can be used for more global features if necessary.

[2019-08-15 23:53] deigolocco commented on #22
We used provisionally the textarea field because the wysiwyg editor was presenting a bug. We'll investigate and fix tomorrow, so we can replace.

[2019-08-16 02:53] cjyabraham commented on #33
I see a few other tasks before this is complete:
- [ ] remove rkt from [the regular projects page](https://www.cncf.io/projects/)
- [ ] remove rkt from the Incubating Project drop-down menu
- [ ] add the new [archived projects page](https://www.cncf.io/archived-projects/) under "Sandbox Projects" in the Projects menu

Is that correct @caniszczyk ?  If so, @alexcontini do you mind implementing at l

[2019-08-16 03:03] dankohn commented on #33
Correct

[2019-08-16 04:30] cjyabraham commented on #33
I have made the updates to the menu.  @alexcontini would you please remove rkt from [the regular projects page](https://www.cncf.io/projects/).

[2019-08-16 04:34] cjyabraham commented on #35
Yes, this should be easy.  Where would you like it to say this?  It would be easiest to insert below the filters (e.g. "Showing 12 of 56 case studies")?

[2019-08-16 05:21] cjyabraham commented on #6
I have deployed the new-webinar branch.

[2019-08-16 07:00] cjyabraham commented on #6
@deigolocco would you please speak to Gabi about her recent commit d4c0b096eaf03982fd830252ca5ba799acfa4fef which compressed salient-child/public/style.css but, in doing so, she truncated several styles:
[code]
Two of the styles truncated were written by her in 2018 and one of them controlled the scrolling on the mobile menu.  This effectively stopped working when I deployed the webinars branch li

[2019-08-16 07:01] cjyabraham opened #36 "Hook up Wraith to prevent unintended render regressions"
I think we should hookup an automated Wraith test or we could try [Percy](https://percy.io) to try and stop [this kind of thing](https://github.com/cncf/wordpress-site/issues/6#issuecomment-521908125) from happening again.

[2019-08-16 07:40] cjyabraham commented on #26
Deployed.

[2019-08-16 07:40] #26 closed

[2019-08-16 11:56] alexcontini commented on #33
Sounds good. Projects page is updated now: https://www.cncf.io/projects/

On Fri, Aug 16, 2019 at 12:30 AM Chris Abraham <notifications@github.com>
wrote:

[2019-08-16 12:31] cjyabraham commented on #33
Sweet thanks.  I'll close out this ticket.  @caniszczyk feel free to reopen if there's anything we missed.

[2019-08-16 12:31] #33 closed

[2019-08-16 16:32] deigolocco commented on #6
Thank you for the alert @cjyabraham. This piece of code was made before we start to compile css with sass, and was out of the partials. Everything adjusted and in place now.

[2019-08-16 17:38] KimMcMahon opened #37 "Recorded Webinars: Add a button to attach the webinar presentation"
Example: On this [page](https://www.cncf.io/webinars/monitoring-kubernetes-workloads-the-sidecar-pattern/), add a button below the video with the text "Download Slides".

The button on the old page design is black with purple text. Please design the new button so the text "Download Slides" has more contrast and is easily readable.

[2019-08-16 17:39] KimMcMahon opened #38 "Redirect from old webinar URL to new webinar URL"
Redirect from the old URL
https://www.cncf.io/community/webinars/monitoring-k8s-workloads-sidecar-pattern/

to the new URL
https://www.cncf.io/webinars/monitoring-kubernetes-workloads-the-sidecar-pattern/

[2019-08-16 17:41] KimMcMahon opened #39 "Put "more webinars" in date order"
On the new recorded webinar pages, put the "More Webinars" in date order.

The dates should be descending (on the left) and ascending (to the right) from the date of the webinar the user is viewing.

<img width="1525" alt="Screen Shot 2019-08-16 at 11 40 00 AM" src="https://user-images.githubusercontent.com/29307455/63186857-b0d5e000-c01a-11e9-967c-28f9fb6580cd.png">

[2019-08-16 19:03] deigolocco commented on #22
Bug fixed, was conflict with the plugin Cool Timeline Pro. Good to go.
<img width="1378" alt="Captura de Tela 2019-08-16 às 15 59 24" src="https://user-images.githubusercontent.com/5631313/63191648-66b32580-c03f-11e9-9377-7b380262e2e5.png">

[2019-08-16 19:08] dankohn commented on #22
Your bar has significantly more top and bottom margin than the mockup. Could you also try removing some of the black top and bottom margin from the menubar so that the two together take up the same amount of vertical space as just the menubar today?

Also, as a second step after we deploy this, can you add an `x` that makes the banner dismissable?

[2019-08-16 19:14] dankohn commented on #22
Also, the link needs to go to https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/.

[2019-08-16 19:22] KimMcMahon commented on #37
Dependent on getting new Webinar page (combined Upcoming and Recorded) into one page.

[2019-08-16 19:45] lindsayshaw commented on #22
Hi Diego, 3 things from me:

1. Confirm the "learn more" is white and turns purple when someone engages with the link?

2. On mobile (iOS), there is a shaded area when the text breaks to 3 lines, and the link is not clickable in that shaded area.
![Image from iOS-2](https://user-images.githubusercontent.com/54188398/63193349-1a0d2180-c022-11e9-8032-e93e08d2e506.jpg)

3. > Also, the link needs to g

[2019-08-16 19:55] KimMcMahon commented on #22
@lindsayshaw Link updated to the tracking link.

[2019-08-16 20:03] deigolocco commented on #22
@dankohn the user should be able to close the banner? If yes, would be good to save a cookie for the session to avoid the banner open in other pages, because it's global.

[2019-08-16 20:08] deigolocco commented on #37
It already exist @KimMcMahon

[2019-08-16 20:23] dankohn opened #40 "Allow banner to be closable"
Drop a cookie when it's closed.

[2019-08-16 20:23] dankohn commented on #22
I opened a new issue for that: https://github.com/cncf/wordpress-site/issues/40

[2019-08-16 20:37] KimMcMahon commented on #38
Dependent on getting new Webinar page (combined Upcoming and Recorded) into one page.

[2019-08-16 20:37] #37 closed

[2019-08-17 00:23] deigolocco commented on #22
@dankohn padding was reduced. The close button will be implemented on Monday, I'll reply on  issue #40.

@lindsayshaw
1 - Yes, mobile has the same hover color but on click. We can change if necessary
2 - fixed
3 - Copy and link are editable http://cncf.fuerza/wp-admin/admin.php?page=acf-options

[2019-08-17 01:40] cjyabraham commented on #22
@deigolocco the bar seems to make the drop-down menu too long now.  When I open `Projects | Incubating Projects`, I can no longer scroll to the bottom.

@lindsayshaw I think that custom url would work for tracking clicks from this banner.

[2019-08-17 17:51] dankohn opened #41 "Select hero image for cncf.io"
Andy, I'd like your help selecting a hero image for the top of cncf.io that we could also use on the first page of the Overview Deck: https://docs.google.com/presentation/d/1BoxFeENJcINgHbKfygXpXROchiRO2LBT-pzdaOFr4Zg/edit#slide=id.p4

Also, do you think we should apply any filters to it?

Here are some of the better shots from Barcelona:
https://www.flickr.com/photos/143247548@N03/46985432495/in/

[2019-08-17 18:38] dankohn commented on #35
Sounds great. How about "Displaying 56 case studies" or "Displaying 12 of 56 case studies".

[2019-08-17 21:35] andycochran commented on #41
I'd suggest using [this one](https://www.flickr.com/photos/143247548@N03/47855793892/in/album-72157707188120301/) with the following styles…

[code]

![image](https://user-images.githubusercontent.com/409279/63217505-55d4e380-c115-11e9-89cd-940899d98871.png)

[2019-08-17 21:42] dankohn commented on #41
Thanks. What's your #2 choice, as I'd rather not use one with me in it.

[2019-08-17 21:47] dankohn commented on #41
Could you please mockup this one? https://www.flickr.com/photos/143247548@N03/48302285382/in/album-72157707188120301/

[2019-08-17 22:44] dankohn opened #42 "Remove "Click Here""
Please remove "Click Here" and instead make the text "I have questions. Can someone contact me?" clickable.

![image](https://user-images.githubusercontent.com/3083270/63218016-f54aa400-c11e-11e9-80a5-f0f5c4b0e68f.png)

[2019-08-17 23:02] dankohn commented on #34
@taylorwaggoner Could you please get access to the Bing account and check it with @cjyabraham

[2019-08-18 02:50] cjyabraham commented on #41
One idea I had is to use this photo at the top of the homepage and, rather than having the text on top of the image, have it below the image:
<img width="1440" alt="Screen Shot 2019-08-18 at 9 48 58 AM" src="https://user-images.githubusercontent.com/463160/63219517-895b5080-c19d-11e9-87a8-6a2734d54100.png">

[2019-08-18 04:01] cjyabraham commented on #35
[How's this?](https://chris-dev-cncf.pantheonsite.io/projects/case-studies/)

[2019-08-18 04:07] dankohn commented on #35
Looks good, but when you select Hybrid, could it please change to say "Displaying 8 of 56 case studies".

[2019-08-18 05:35] cjyabraham commented on #35
[How's this?](https://chris-dev-cncf.pantheonsite.io/projects/case-studies/?_sft_challenge=availability)

[2019-08-18 10:28] dankohn commented on #35
Gorgeous. Please ship it.

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-08-18 11:36] cjyabraham commented on #35
[Deployed.](https://www.cncf.io/projects/case-studies/?_sft_distribution=distribution)

[2019-08-18 11:36] #35 closed

[2019-08-18 14:16] KimMcMahon commented on #42
End User Community [page](https://www.cncf.io/people/end-user-community/)

[2019-08-18 14:22] KimMcMahon commented on #41
The image @cjyabraham suggested is used in a lot of places. I prefer the image Dan or Andy suggested. Dan I don't see in the image Andy selected with the text.

Other favorites to consider:
https://www.flickr.com/photos/143247548@N03/46985432495/in/album-72157707188120301/
https://www.flickr.com/photos/143247548@N03/48302059237/in/album-72157707188120301/

[2019-08-18 18:21] andycochran commented on #41
Oh, I didn't even notice you were in that one, Dan.

Here's the image you suggested:

![image](https://user-images.githubusercontent.com/409279/63228575-f6cda800-c1c2-11e9-81c1-5280b76fb965.png)

It's very… "Ooh, look at that hat and scarf." Tho it does work well with the gradient that follows it. I still think the first one I mocked up looks best. But if you like this better, it uses slightly dif

[2019-08-18 18:27] andycochran commented on #41
This one makes the text quite hard to read. Don't you think it focuses too much on behind-the-scenes AV tech of the event? The consoles are distracting and oddly almost symmetrical (but not). I like the photos where there's more going on towards the sides.

![image](https://user-images.githubusercontent.com/409279/63228643-deaa5880-c1c3-11e9-9581-924d3e65fd7e.png)

[2019-08-18 18:29] andycochran commented on #41
This one is also awkward how the text overlaps the screen.

![image](https://user-images.githubusercontent.com/409279/63228696-93447a00-c1c4-11e9-810d-1c79a6eb2cf9.png)

[2019-08-18 19:53] dankohn commented on #41
@andycochran Your favorite is the best out of those. Chris, could you please mockup your version.

[2019-08-18 23:34] deigolocco commented on #22
@cjyabraham menu height adjusted

[2019-08-19 04:17] cjyabraham commented on #41
@andycochran will mockup my idea.

[2019-08-19 04:20] cjyabraham commented on #41
@dankohn, @andycochran and I discussed smudging you out so you're not recognizable in the first one if you'd rather not be in it.  But really, we both had to look hard to find you in the first place so maybe it's not as much of an issue than you might think.

[2019-08-19 04:30] cjyabraham commented on #22
The menu no longer looks flush with the bottom of the page.  Also, the purple follow color is hard to read against the pink background:

<img width="1028" alt="Screen Shot 2019-08-19 at 11 29 38 AM" src="https://user-images.githubusercontent.com/463160/63239279-b7f82a80-c274-11e9-85d4-5654a6f8c8b8.png">

[2019-08-19 04:41] cjyabraham commented on #42
Done.

[2019-08-19 04:41] #42 closed

[2019-08-19 06:55] cjyabraham commented on #36
I have configured wraith to do some basic checks.  I will try it out during next deployment.

[2019-08-19 12:07] KimMcMahon opened #43 "Kubernetes Project Journey Report should launch both in HTML and PDF"
The Kubernetes Project Journey Report should launch both in HTML and PDF.

[2019-08-19 14:42] deigolocco commented on #22
adjusted @cjyabraham

[2019-08-19 15:55] cjyabraham commented on #22
Thanks Diego.  I think it's almost there...

The text size varies depending on the page you're on.  [Here](https://fuerza-cncf.pantheonsite.io/services-for-projects/) it's larger than [here](https://fuerza-cncf.pantheonsite.io/about/contact/) for example.  Could you make it consistent.

[2019-08-19 18:21] lucperkins opened #44 "Broken icon"
The "Read More" icon on the blog is broken. Not a new problem but I figured I should register it here.

<img width="201" alt="Screen Shot 2019-08-19 at 11 20 43 AM" src="https://user-images.githubusercontent.com/1523104/63289249-83d03a00-c273-11e9-9303-600f698aa05a.png">

[2019-08-19 18:23] dankohn commented on #44
On https://www.cncf.io/newsroom/blog/ and https://www.cncf.io/newsroom/in-the-news/ and https://www.cncf.io/newsroom/announcements/.

[2019-08-19 18:27] lucperkins opened #45 "Enable code snippets in blog posts"
As far as I know, there's currently no way to add code snippets to blog posts (or other pages on the site). For [this blog post](https://www.cncf.io/blog/2018/10/24/grpc-web-is-going-ga/), for example, I embedded GitHub Gist snippets but the styling is off. I'd strongly recommend using a WordPress plugin to allow content authors to add code snippets natively.

[2019-08-19 20:40] deigolocco commented on #44
Fixed
https://fz-icons-cncf.pantheonsite.io/newsroom/blog/
https://fz-icons-cncf.pantheonsite.io/newsroom/in-the-news/
https://fz-icons-cncf.pantheonsite.io/newsroom/announcements/

[2019-08-19 20:46] deigolocco commented on #39
Adjusted
https://new-webinar-cncf.pantheonsite.io/webinars/kubernetes-1-15-release/

[2019-08-19 20:51] deigolocco commented on #38
all redirects set at https://new-webinar-cncf.pantheonsite.io/, when @cjyabraham deploy will be working on production as well

[2019-08-19 20:53] deigolocco commented on #22
adjusted @cjyabraham. We have duplications of css causing this inconsistence. I believe would be great we consolidate all common css in a single file.

[2019-08-20 01:50] andycochran commented on #41
Meh.

![image](https://user-images.githubusercontent.com/409279/63311183-4eefd180-c2cb-11e9-88cb-7e119c89ae5e.png)

[2019-08-20 01:52] andycochran commented on #41
![image](https://user-images.githubusercontent.com/409279/63311278-924a4000-c2cb-11e9-99e1-f712c9e0d2ef.png)

[2019-08-20 02:03] dankohn commented on #41
I'd like to go with the final one, please. Could you please implement?

Separately, could we use that image in place of the cover image on our standard slides: https://docs.google.com/presentation/d/1BoxFeENJcINgHbKfygXpXROchiRO2LBT-pzdaOFr4Zg/edit#slide=id.g39c264972c_182_212

[2019-08-20 05:46] cjyabraham commented on #22
The presence of the banner removes some whitespace from the top of all page content.  It's [particularly problematic here](https://fuerza-cncf.pantheonsite.io/?s=test) as you can see the "Results for" actually touches the top menu when the page loads.  Can this be corrected across all pages?
<img width="523" alt="Screen Shot 2019-08-20 at 12 46 00 PM" src="https://user-images.githubusercontent.com

[2019-08-20 06:04] cjyabraham commented on #38
@deigolocco just so you know, we have the [Redirection plugin installed](https://www.cncf.io/wp-admin/tools.php?page=redirection.php) which might be easier than a code change for future redirects.

[2019-08-20 14:59] cjyabraham commented on #36
I ran it for this deployment and it works well.

[2019-08-20 14:59] #36 closed

[2019-08-20 15:08] cjyabraham commented on #44
@lucperkins can you confirm this is fixed and then I'll deploy?

[2019-08-20 15:33] deigolocco commented on #22
@cjyabraham adjusted

[2019-08-20 18:06] parispittman opened #46 "contrast for low visibility users on the blog"
https://www.cncf.io/blog/2019/08/06/open-sourcing-the-kubernetes-security-audit/
looks like specifically this page and possibly others doesn't have sufficient contrast for low visibility users.

using https://webaim.org/resources/contrastchecker/ to check contrast.

[2019-08-20 18:10] dankohn commented on #46
I believe we resolved last week: https://github.com/cncf/wordpress-site/issues/26

[2019-08-20 18:13] parispittman commented on #46
even better - im filing on behalf of someone that had this issue. will follow up with them and respond if there is anything additional to add.

[2019-08-20 22:59] KimMcMahon commented on #6
@cjyabraham This page is ready to be deployed.
https://www.cncf.io/events-well-be-at/

[2019-08-21 01:38] cjyabraham opened #47 "Add results counts for Events We're At and Webinars search"
See how the results are on the [case studies](https://www.cncf.io/projects/case-studies/) page.  It says "Displaying 56 case studies" and once you filter it says "Displaying _x_ of _y_ case studies".

Please implement the same functionality for the Events We're At search and the Webinars search.

[2019-08-21 01:56] dankohn opened #48 "Test Salesforce web-to-lead forms"
@ccraigross Could we please get your help testing whether web-to-lead forms will do what we need. They're limited to 500 forms per day, but I believe that's a per-form limitation, which would be per-project in our case.

Could you please create a form that asks for First, Last, and email and submits into a new test list (which we can later delete).

These [directions](https://help.salesforce.com/a

[2019-08-21 04:24] cjyabraham commented on #6
New-webinar branch has been deployed.

[2019-08-21 04:48] cjyabraham commented on #6
A few points from me:
- There are [13 USA Events](https://www.cncf.io/events-well-be-at/?_location=united-states) however the filter only says 12.  This looks like the [same issue that @dankohn reported](https://github.com/cncf/wordpress-site/issues/6#issuecomment-520972740).
- Probably related, why does [this filter combination](https://www.cncf.io/events-well-be-at/?_location=united-states&_host

[2019-08-21 05:12] cjyabraham commented on #8
Just looking at [this page](https://www.cncf.io/webinars/) for the first time.  A few points:
1. Can you make the topics filter wider so the text doesn't get truncated as often
2. Should we have the [titles of the webinars clickable](https://www.cncf.io/webinars/?_project=envoy&_topic=service-mesh)?  I keep going to click them but can't.
3. The ["Let Us Know" button](https://www.cncf.io/webinars/a

[2019-08-21 14:35] deigolocco commented on #6
@cjyabraham about your points:

- When an event is registered it needs to have the country location and the city tagged(adjusted). This is happening at [case studies](https://www.cncf.io/projects/case-studies/) too
<img width="185" alt="Captura de Tela 2019-08-21 às 10 15 12" src="https://user-images.githubusercontent.com/5631313/63436551-439dc280-c3ff-11e9-988f-6037a1f5252d.png">
China supposed

[2019-08-21 14:36] deigolocco commented on #6
<img width="1322" alt="Captura de Tela 2019-08-21 às 11 36 28" src="https://user-images.githubusercontent.com/5631313/63441520-efe3a700-c407-11e9-8532-3a7a5923b7ee.png">

[2019-08-21 14:45] KimMcMahon commented on #5
@cjyabraham Please update the Community menu

KubeCon + CloudNativeCon & Other CNCF Events
Phippy & Friends
Events We'll Be At
Webinars
Speakers Bureau
Store
Calendar
Infrastructure Lab
Membership
Meetups
Slack
Mailing Lists

[2019-08-21 14:48] KimMcMahon commented on #6
@cjyabraham Please deploy and make the page live.
https://www.cncf.io/events-well-be-at/

[2019-08-21 15:26] KimMcMahon commented on #44
@cjyabraham I reviewed. This is fixed. Please deploy.

[2019-08-21 15:37] KimMcMahon commented on #23
Closing issue. Creating this content via the Member Desk.

[2019-08-21 15:37] #23 closed

[2019-08-21 16:55] KimMcMahon opened #49 "Social icons different colors"
Some of the social icons on the Staff page are blue, others are purple. Can all the colors be consistent?

https://www.cncf.io/people/staff/

[2019-08-21 17:40] deigolocco commented on #49
@KimMcMahon this icons are links, and we have a general rule at the website to distinguish visited links(with purple) from the not visited ones. We can make the visited links keep blue, please let us know what do you prefer.

[2019-08-21 17:41] KimMcMahon commented on #49
Thank you @deigolocco. No need to change. Closing.

[2019-08-21 17:41] #49 closed

[2019-08-21 20:34] deigolocco commented on #8
1. Done
2. Done
3. According with @KimMcMahon we added the same link of the old recorde webinars (mailto:webinars@cncf.io)
4. There's no event missing time, so no gap
<img width="589" alt="Captura de Tela 2019-08-21 às 10 27 54" src="https://user-images.githubusercontent.com/5631313/63437216-857b3880-c400-11e9-934b-052c4f1bc17d.png">

[2019-08-22 02:09] dankohn opened #50 "Menus sometimes don't expand in portrait mode"
@KimMcMahon and I each separately experienced an intermittent bug on our iPhones where clicking the hamburger menu showed the top-level menus, but none of those will expand. The bug occurs in portrait mode while the menus expand when turning to landscape mode. Reloading the page fixed it for me.

[2019-08-22 04:14] cjyabraham commented on #34
Hi @dankohn , @taylorwaggoner and I looked at the invoices and usage reports from Bing and they show an increased usage of the Azure service over time to provide the custom search.

I would suggest looking at the analytics to see if there's been a proportional increase in Chinese traffic during this time, however, it looks like you have GTM installed which I don't believe works in China.  You coul

[2019-08-22 04:55] cjyabraham commented on #6
This is deployed.

[2019-08-22 04:55] cjyabraham commented on #8
This is deployed.

[2019-08-22 05:11] cjyabraham commented on #8
1. The ["Let Us Know" button is still not set here](https://www.cncf.io/webinars/securing-cloud-native-communication/).
2. Could you make the [title clickable on the slider](https://www.cncf.io/webinars/kubernetes-ingress-simplify-cluster-management/) so it's consistent behavior with all other webinar listings?
3. When I hover over [the webinar listing on the main page](https://www.cncf.io/webinar

[2019-08-22 05:22] cjyabraham commented on #6
Instead of having "2019 September 17 - 17" Could you format [the date](https://www.cncf.io/events-well-be-at/gitlab-commit/) to be "Sept 17th, 2019".  I've [done it here](https://dev-lfeventsci.pantheonsite.io/about/community-events/) and you can [grab the code here](https://github.com/LF-Engineering/lfevents/blob/master/web/wp-content/themes/lfevents/library/lfe-functions.php#L293) if you want.

[2019-08-22 05:48] cjyabraham commented on #44
@deigolocco there's a merge conflict when I try to merge with master.  Could you resolve this on your branch by merging master with it and then I'll deploy?

[2019-08-22 06:18] cjyabraham commented on #22
LGTM.  Is this ready to deploy?  I see you got rid of the close "X"?

[2019-08-22 12:45] deigolocco commented on #50
we'll check here @dankohn

[2019-08-22 17:52] KimMcMahon opened #51 "Add Company Name to upcoming and recorded webinars"
For Upcoming webinars, add directly under the date and time "Presented by <company name>” where <company name> is the name we've tagged on the webinar page.

On a Recorded webinar page, add directly below the date.

<img width="1440" alt="Screen Shot 2019-08-22 at 11 49 41 AM" src="https://user-images.githubusercontent.com/29307455/63537571-479b1480-c4d3-11e9-916b-04afa32cb5c2.png">
<img width="14

[2019-08-22 18:10] deigolocco commented on #51
ok @KimMcMahon

[2019-08-22 18:18] deigolocco commented on #47
added @cjyabraham
https://new-webinar-cncf.pantheonsite.io/webinars/
https://new-webinar-cncf.pantheonsite.io/events-well-be-at/

[2019-08-22 18:22] KimMcMahon opened #52 "Change hero image on Webinar page"
We would like more pictures of people at our events in our hero images.

I found a couple for the Webinar page - choose one of these or recommend another image.
https://www.flickr.com/photos/143247548@N03/45581516234/in/album-72157704599428714/
https://www.flickr.com/photos/143247548@N03/45581520604/in/album-72157704599428714/
https://www.flickr.com/photos/143247548@N03/44541981960/in/album-721577

[2019-08-22 18:44] pablodelarocha commented on #52
@KimMcMahon please take a look at the attached banners and let us know if you like any of these so we can add it to the page? Thanks!

![01](https://user-images.githubusercontent.com/54405572/63541008-9c4e8780-c4f3-11e9-9a96-da57f4a8fc38.jpg)
![02](https://user-images.githubusercontent.com/54405572/63541009-9c4e8780-c4f3-11e9-8891-fb0eed2d7173.jpg)
![03](https://user-images.githubusercontent.com/5

[2019-08-22 18:48] dankohn commented on #52
Thanks, but @cjyabraham is going to take care of this one.

[2019-08-22 20:04] rodmeurer commented on #44
@cjyabraham solved!

[2019-08-23 00:51] deigolocco commented on #6
@cjyabraham date format adjusted

[2019-08-23 00:52] deigolocco commented on #51
@KimMcMahon company name added

[2019-08-23 00:57] deigolocco commented on #39
@KimMcMahon its showing all years now

[2019-08-23 03:11] cjyabraham commented on #41
Implemented and [deployed](https://www.cncf.io) as discussed.

[2019-08-23 03:11] #41 closed

[2019-08-23 03:25] cjyabraham commented on #6
[The year](https://new-webinar-cncf.pantheonsite.io/events-well-be-at/cloud-native-security-day/) appears to be still in the wrong spot.

[2019-08-23 03:37] cjyabraham commented on #44
Deployed.

[2019-08-23 03:37] #44 closed

[2019-08-23 03:49] deigolocco commented on #6
sorry, now is correct @cjyabraham

[2019-08-23 03:59] cjyabraham commented on #52
@KimMcMahon I think for Webinars I like the second one @pablodelarocha has listed above, except to crop it slightly lower to get the woman's full face (see attached for crop).  What do you think?
![45581516234_642085bec9_o](https://user-images.githubusercontent.com/463160/63565843-e0459900-c594-11e9-88ec-c25083921559.jpeg)

[2019-08-23 04:10] #47 closed

[2019-08-23 04:44] cjyabraham opened #53 "show "X" on multi-select field chicklets"
There should be an "X" shown here to allow the user to remove the chicklet:
<img width="646" alt="Screen Shot 2019-09-09 at 8 16 19 PM" src="https://user-images.githubusercontent.com/463160/64533962-c353e880-d33e-11e9-978b-2f938bb82123.png">

[2019-08-23 04:53] cjyabraham opened #54 "Fix visited color link on button"
The visited link color on [this button](https://www.cncf.io/speakers/register/) looks bad:
<img width="677" alt="Screen Shot 2019-08-23 at 11 53 10 AM" src="https://user-images.githubusercontent.com/463160/63567646-a2e50980-c59c-11e9-9e7d-6e2a7b59e364.png">

[2019-08-23 05:48] cjyabraham opened #55 "Redesign Account page"
Redesign the Speaker's Bureau [account page](https://www.cncf.io/speakers/account/).

- [x] Figure out why our current page is so malformed. Figure out what the plugin intended as a default (Chris)
- [x] Restore page to its intended design (Diego)
- [ ] Test and refine (Kim and Diego)

[2019-08-23 06:09] cjyabraham opened #56 "Improve Profile design"
- [x] Make [gear in top-right](https://www.cncf.io/speaker/prydonius/) clearer in what it does.  Maybe use the "Edit profile" buttons from the [directory page](https://www.cncf.io/speakers/)?
- [ ] Add badges for the certifications owned by the speaker

Note: the profile page can be customized using [this method](https://docs.ultimatemember.com/article/120-adding-your-custom-profile-templates)

[2019-08-23 06:18] cjyabraham commented on #10
I think the initial intent of this issue is now complete.

[2019-08-23 06:18] cjyabraham commented on #28
I believe this is done.

[2019-08-23 06:18] #28 closed

[2019-08-23 06:30] cjyabraham opened #57 "Redesign Directory using search/filter plugin"
Redesign the [Speaker's Bureau directory](https://www.cncf.io/speakers/) to use the [search/filter plugin](https://www.cncf.io/projects/case-studies/) to fulfill the following requirements:
- make the profiles more compact so more can be displayed on one page; show only City, Country, Certification badges, and Areas of Expertise to the right of the picture and make every speaker box the same size

[2019-08-23 06:32] cjyabraham opened #58 "Add captcha on registration page to reduce bots"
[Use this](https://ultimatemember.com/extensions/google-recaptcha/)

[Configuration instructions here](https://docs.ultimatemember.com/article/72-google-recaptcha).

[2019-08-23 06:38] cjyabraham commented on #27
closed in favor of #57

[2019-08-23 06:38] #27 closed

[2019-08-23 06:38] cjyabraham commented on #9
closed in favor of #57

[2019-08-23 06:38] #9 closed

[2019-08-23 06:42] cjyabraham opened #59 "Add self-identification fields to profile"
To the [speakers profile page](https://www.cncf.io/speaker/prydonius/):

- Add a drop down for Gender with the following values: Male, Female, Non-binary, Prefer not to say
- Add additional check boxes for: LGBTQ, Black, Latinx, Indigenous Peoples, Disabled

[2019-08-23 07:05] deigolocco commented on #8
@cjyabraham, everything adjusted

[2019-08-23 08:00] cjyabraham commented on #8
@KimMcMahon the few minor issues below I don't think need to block linking in to the menu and making live.

@deigolocco :
1. Could you lower the ["Webinars"](https://www.cncf.io/webinars/) title to be at the same height as ["Events We'll Be At"](https://www.cncf.io/events-well-be-at/) in the headers.
2. I think you don't need to repeat the "6" in the [mobile pagination here](https://www.cncf.io/we

[2019-08-23 08:11] cjyabraham commented on #6
It still looks wrong to me.  It should be "Nov 18th, 2019":
<img width="528" alt="Screen Shot 2019-08-23 at 3 11 17 PM" src="https://user-images.githubusercontent.com/463160/63577289-45f74c80-c5b8-11e9-9ae2-680487aad293.png">

[2019-08-23 08:15] cjyabraham commented on #6
@KimMcMahon despite the above issue, I think it's fine to link this into the menu and make it live.

[2019-08-23 11:18] pablodelarocha commented on #52
![02](https://user-images.githubusercontent.com/54405572/63589076-89cd6000-c57e-11e9-9cdc-4e1b4af8f4ee.jpg)
@cjyabraham here's the fixed image

[2019-08-23 11:36] deigolocco commented on #6
@cjyabraham I asked to Gabriela combine her lasts commits, and we lost mine. I just put it back.

[2019-08-23 12:51] deigolocco commented on #8
Itens 1 and 3 fixed, working on item 2

[2019-08-23 14:57] dankohn opened #60 "Add pagination for newsroom items"
https://www.cncf.io/newsroom/announcements/
https://www.cncf.io/newsroom/in-the-news/
https://www.cncf.io/newsroom/blog/

show all items back to the founding of CNCF. Please add pagination and show 20 per page.

[2019-08-23 15:06] deigolocco commented on #54
we'll check @cjyabraham

[2019-08-23 17:39] deigolocco commented on #8
Item 2 ajdusted, everything working now @cjyabraham

[2019-08-23 23:10] deigolocco commented on #54
adjusted https://fz-contrast-cncf.pantheonsite.io/speakers/register/.

[2019-08-24 03:01] cjyabraham commented on #54
This is deployed.

[2019-08-24 03:17] cjyabraham commented on #8
1 and 3 look fixed but [2 still seems a problem for me](https://new-webinar-cncf.pantheonsite.io/webinars/?_project=envoy).  Can you double check?

[2019-08-24 09:21] cjyabraham opened #61 "Figure out best way to force-clear browser cache of Hummingbird assets"
This is causing problems when we do a deployment and browsers continue to use out-dated hummingbird assets.

I have texted Marco to provide me with credentials so I can access Hummingbird support.

[2019-08-24 10:15] deigolocco commented on #8
Hi @cjyabraham, I did, looks like you are with some cache at your device
![screen](https://user-images.githubusercontent.com/5631313/63635940-d8423380-c63e-11e9-9405-44a94ee878e4.png)
working as expected

[2019-08-24 10:50] cjyabraham commented on #8
It seems to be an issue for me at the most narrow width of desktop chrome or safari.  I get it consistently when logged in or not, incognito or not, hummingbird active or not.  Since you can't reproduce the issue, I guess it's an edge-case and we can skip it for now.

[2019-08-24 11:06] deigolocco commented on #22
adjusted @cjyabraham, we hide the 'x' now, we wanna to aprove the banner first.
After banner approved we'll activate the 'x' and respond at issue #40

[2019-08-24 11:15] deigolocco commented on #8
Ok @cjyabraham, as we chat on slack we couldn't reproduce this bug in any device or browser, no matter if we are on incognito mode, logged in or not.

[2019-08-24 11:58] cjyabraham commented on #6
This is deployed and now fixed.

[2019-08-24 12:04] cjyabraham commented on #8
This is deployed.

[2019-08-24 12:13] cjyabraham commented on #22
Mobile banner still seems to take up more vertical real-estate than it needs to but I'm curious what others think:
![Screenshot_20190824-190923](https://user-images.githubusercontent.com/463160/63637115-d27e3980-c6a2-11e9-8ea8-afe3aac92054.png)

@lindsayshaw, @dankohn, @KimMcMahon would you like any further tweaks or are we good to launch?

[2019-08-24 12:45] #51 closed

[2019-08-24 12:59] #39 closed

[2019-08-24 13:01] KimMcMahon commented on #8
@cjyabraham Webinar page is working perfectly. Are there tasks remaining before we close this issue?

[2019-08-24 14:32] cjyabraham commented on #8
Yes, there are 3 remaining tasks.  See the top of this issue.

[2019-08-24 15:10] dankohn commented on #61
We can also consider getting our own Hummingbird Pro and Smush Pro subscription.

[2019-08-24 15:12] dankohn commented on #22
Let's deploy, please and then try to make it shorter.

[2019-08-24 15:24] ccraigross commented on #48
Hi @dankohn. I will flag this request with Marijana on Monday. We have been exploring options for our forms and appear to have found a solution that is straight HTML, it just requires a bit more testing but it would enable us to not have to leverage iframe or Gravity Forms.

[2019-08-24 15:28] KimMcMahon commented on #8
@cjyabraham Is this task "Update CNCF menus to deploy all of the above (Kim)" the Community menu?

[2019-08-24 15:43] KimMcMahon commented on #52
@cjyabraham Agree. Love the banner. Please replace this on the Webinar page.

[2019-08-25 03:16] cjyabraham commented on #52
@pablodelarocha when I cropped it, I rotated it slightly counter-clockwise to get more of the man's face in the photo.  Can you create a new version for us that has this same slight rotation?

[2019-08-25 03:19] cjyabraham commented on #8
Yes, it's #5.

[2019-08-25 03:37] cjyabraham commented on #22
@deigolocco can you resolve the merge conflicts by pulling in master to your branch, then I'll deploy.

[2019-08-25 03:51] cjyabraham commented on #54
Could you do it for this button too on the home page:
<img width="543" alt="Screen Shot 2019-08-25 at 10 50 05 AM" src="https://user-images.githubusercontent.com/463160/63645337-372ea800-c726-11e9-9687-3d313929dfa4.png">

And can you scan through the site for other instances of these buttons?

[2019-08-25 03:55] cjyabraham opened #62 "Update "Events and Webinars" section on home page"
Please update the CNCF home page "Events and Webinars" section to pull in our new Webinars CPT and Events We're At.

CCing @dankohn and @KimMcMahon for their ideas on any improvements to this section.  Assign to @deigolocco when ready.

[2019-08-25 03:56] cjyabraham opened #63 "Investigate Tribe Events plugin and deactivate if no longer needed"

[2019-08-25 03:57] cjyabraham commented on #8
In addition to #5, I've created #62 and #63 to account for the outstanding tasks.  We can consider this issue closed.

[2019-08-25 03:57] #8 closed

[2019-08-25 06:36] cjyabraham commented on #5
Webinars is now live.  Waiting for the ok from @KimMcMahon before we can make Events We'll be at live.

[2019-08-25 07:02] cjyabraham commented on #38
I've added the redirect to the [Redirection plugin](https://www.cncf.io/wp-admin/tools.php?page=redirection.php).

[2019-08-25 07:02] #38 closed

[2019-08-25 14:06] KimMcMahon commented on #6
@deigolocco One last thing to fix and then close this issue.
Remove the comma after the day. Please have it look like this:  "Aug 27-28th 2019, Seattle"

Then, close this issue. Thanks!

<img width="1920" alt="Screen Shot 2019-08-25 at 8 00 04 AM (2)" src="https://user-images.githubusercontent.com/29307455/63651133-04c58080-c70f-11e9-9890-f20cd50b19d0.png">

[2019-08-25 14:08] KimMcMahon commented on #5
@cjyabraham Please make "Event's we'll be at" live and the Community menu.

[2019-08-25 14:30] #6 closed

[2019-08-25 15:58] cjyabraham commented on #5
This is now done.

[2019-08-25 15:58] #5 closed

[2019-08-26 03:11] deigolocco commented on #22
@cjyabraham merge conflicts adjusted.
The banner demand height be determined, because of menu's position fixed. Tomorrow morning we'll make it shorter for some devices checking the number of characters and adding a new break point, to verify if will break in 2 or 3 lines.

[2019-08-26 03:19] deigolocco commented on #6
@KimMcMahon comma removed

[2019-08-26 04:18] cjyabraham commented on #22
I've deployed this but the banner content needs setting.  @deigolocco where do you set this and can you do it for the live site?

[2019-08-26 04:18] cjyabraham commented on #6
And deployed.

[2019-08-26 12:47] deigolocco commented on #62
Can I ask to @pablodelarocha propose a design?

[2019-08-26 12:48] pablodelarocha commented on #52
![hero_image](https://user-images.githubusercontent.com/54405572/63691819-99e77880-c7e6-11e9-94ac-45e8c8a4d203.jpg)
Sure thing @cjyabraham !

[2019-08-26 13:02] KimMcMahon commented on #62
@deigolocco Yes, please have Pablo propose a design.

[2019-08-26 13:18] deigolocco commented on #22
@cjyabraham I added the intructions before, you can manage the bar here https://www.cncf.io/wp-admin/admin.php?page=acf-options.
We just ajusted the visited color link, could you deploy this please?

[2019-08-26 14:11] dankohn opened #64 "Make boxes on kubecon.io more dense"
Please make the boxes on https://www.cncf.io/community/kubecon-cloudnativecon-events/ the same size as the ones on https://events.linuxfoundation.org and avoid the space between rows:

![image](https://user-images.githubusercontent.com/3083270/63696889-bd5ff280-c7e9-11e9-99ba-1544d60cc52a.png)

[2019-08-26 14:20] dankohn opened #65 "Create "Project Tools" submenu"
In the Projects menu, please create a new top level "Project Tools" entry at the bottom and make these existing items submenus of it: Continuous Integration, Graduation Criteria, Website Guidelines, Propose Project. The submenu should expand the same way the Graduated Projects submenu does above it. Above Propose Project, please create a new entry Copyright Notices that links to https://github.com

[2019-08-26 15:05] #65 closed, assigned to alexcontini

[2019-08-26 15:30] cjyabraham commented on #62
@KimMcMahon does it still make sense to group these two things together: events we'll be at and webinars?

@pablodelarocha I'm not sure I like how the dates are presented in different formats.  And then in the Newsroom section of the home page, the dates are in yet another format.  For someone browsing down the home page, this is a lot of different styles to take in.  Would it make sense to standa

[2019-08-26 15:33] cjyabraham commented on #52
LGTM.  @dankohn and @KimMcMahon ?

[2019-08-26 19:22] KimMcMahon opened #66 "Fix color on links on Software Conformance page"
https://www.cncf.io/certification/software-conformance/

It is very hard to read the dark blue links.

<img width="1441" alt="Screen Shot 2019-08-26 at 1 21 14 PM" src="https://user-images.githubusercontent.com/29307455/63716969-73d0d100-c804-11e9-8e1c-e753079f2883.png">

[2019-08-26 20:05] dankohn opened #67 "Bad visited link color"
This `Learn More` is hard to read because of the visited color:

![image](https://user-images.githubusercontent.com/3083270/63719430-e6e54200-c81a-11e9-972c-87e90167f281.png)

[2019-08-26 20:15] #67 closed, assigned to deigolocco

[2019-08-27 00:38] #66 closed, assigned to deigolocco

[2019-08-27 02:03] cjyabraham commented on #10
Change certifications to checkboxes

[2019-08-27 04:03] cjyabraham opened #68 "Update date formats across the site for consistency"
As per @dankohn :

Please update the date format on the following instances:

- [x] The dates on the [events tiles](https://www.cncf.io/community/kubecon-cloudnativecon-events/)
- [x] [Events We'll be at search](https://www.cncf.io/events-well-be-at/)
- [x] [Events We'll be at individual page](https://www.cncf.io/events-well-be-at/pax-dev/)
- [x] [Webinars Search](https://www.cncf.io/webinars/)
-

[2019-08-27 04:04] cjyabraham commented on #62
I've created a separate issue to fix all the dates across the site #68. @pablodelarocha wrt this issue, please make the dates comply on the home page.

[2019-08-27 04:05] cjyabraham commented on #68
Ok.  removed from issue description.

[2019-08-27 04:35] cjyabraham opened #69 "Fix new spacing issues"
Picking this up from the Slack chat, there are some new spacing issues on the site:
- the [events page](https://www.cncf.io/community/kubecon-cloudnativecon-events/) has some large white space padding that has recently appeared (and noted in the slack conversation)
- the [join page](https://www.cncf.io/about/join/) has a big gap below the title
- the [phippy page](https://www.cncf.io/phippy/) abov

[2019-08-27 05:38] cjyabraham commented on #52
[Deployed](https://www.cncf.io/webinars/).

[2019-08-27 05:38] #52 closed

[2019-08-27 06:00] cjyabraham commented on #22
@deigolocco the banner appears to be pushing down the menu to cover titles again:
<img width="368" alt="Screen Shot 2019-08-27 at 1 00 00 PM" src="https://user-images.githubusercontent.com/463160/63744815-aa711f00-c8ca-11e9-8faf-b0102d1108cd.png">
<img width="375" alt="Screen Shot 2019-08-27 at 12 59 18 PM" src="https://user-images.githubusercontent.com/463160/63744817-aa711f00-c8ca-11e9-8213-76e2

[2019-08-27 06:17] cjyabraham commented on #54
Deployed.

[2019-08-27 06:32] cjyabraham commented on #10
Done.

[2019-08-27 06:32] #10 closed

[2019-08-27 07:10] cjyabraham commented on #58
This requires the ultimate member plugin to be upgraded.  I've reached out to Jeska to find out when this can be done.

[2019-08-27 07:50] cjyabraham commented on #61
I got access to Hummingbird support and placed an issue with them.  We'll need to wait for a response.

[2019-08-27 13:59] KimMcMahon opened #70 "Update banner on Events We'll Be At page"
https://www.cncf.io/events-well-be-at/

Update the banner to this image. Preferably with no filter. If you need other sizes of this image, check the CNCF Flicker account. And please crop out the people on the left and the chair on the right.
![45446325655_4fffa6001b_o](https://user-images.githubusercontent.com/29307455/63777500-6ff28c80-c8a0-11e9-90be-1e552ad45cce.jpg)

[2019-08-27 15:13] cjyabraham commented on #59
Right now these fields are publicly viewable.  Do we want to keep it that way or make the information private, so people would enter it but know that it won't be public?  We could still use it for filtering and other things if we want to.

How does this look:
<img width="757" alt="Screen Shot 2019-08-27 at 10 12 00 PM" src="https://user-images.githubusercontent.com/463160/63783766-bcc57a00-c917-11

[2019-08-27 16:31] cjyabraham commented on #69
This is mostly fixed, however there is now a black bar under the menu on these pages:
https://www.cncf.io/webinars/
https://www.cncf.io/webinars/cloud-native-development-in-aws-with-container-and-serverless/
https://www.cncf.io/webinars/how-to-choose-right-proxy-architecture-for-micro-services-based-application-delivery/
https://www.cncf.io/events-well-be-at/gitlab-commit/
https://www.cncf.io/even

[2019-08-27 16:34] KimMcMahon opened #71 "Create banner for 3 new Events We'll Be At"
Please create a banner to be used on the Event's We'll Be At page.

![kubernetes-forum-seoul-color](https://user-images.githubusercontent.com/29307455/63790263-29a82800-c8b6-11e9-8157-41d33d1989f5.png)
![kubernetes-forum-sydney-color](https://user-images.githubusercontent.com/29307455/63790268-2ca31880-c8b6-11e9-9cba-1b6cbb9980d3.png)

[2019-08-27 16:34] cjyabraham commented on #69
I have turned on the banner to conceal the black bar.  But we should fix this so that we can turn off the banner and not have that problem.

[2019-08-27 16:35] cjyabraham commented on #22
Could you fix this for the home page as well:
<img width="332" alt="Screen Shot 2019-08-27 at 11 35 07 PM" src="https://user-images.githubusercontent.com/463160/63790377-57778600-c923-11e9-8217-5ffdd859b7a0.png">

[2019-08-27 16:50] cjyabraham commented on #22
Also, the menu is hiding "<< All Events" on [this page](https://www.cncf.io/events-well-be-at/gitlab-commit/) and "<< All Webinars" on [this page](https://www.cncf.io/webinars/how-to-choose-right-proxy-architecture-for-micro-services-based-application-delivery/).

[2019-08-27 17:27] KimMcMahon opened #72 "Add "All Events" to individual event pages on Events We'll Be At"
Add a link at the top of the individual event pages to go back to all events.
https://www.cncf.io/events-well-be-at/kubernetes-forum-seoul/

<img width="1543" alt="Screen Shot 2019-08-27 at 11 24 54 AM" src="https://user-images.githubusercontent.com/29307455/63793744-92df6980-c8bd-11e9-8fb4-f23ba5d8a2d3.png">

[2019-08-27 19:29] #72 closed, assigned to deigolocco

[2019-08-27 19:31] #71 closed, assigned to deigolocco, pablodelarocha

[2019-08-28 04:19] cjyabraham commented on #68
I think that works.  The one thing I don't love is when you have two of the big upcoming dates together:
<img width="190" alt="Screen Shot 2019-08-28 at 11 16 43 AM" src="https://user-images.githubusercontent.com/463160/63825534-63942f80-c985-11e9-96c7-e59d732b5fc6.png">

Could you try combining them into one rectangle to see how that looks so it would have just one "Aug" and one "2019"?

[2019-08-28 05:31] cjyabraham commented on #22
I'm still seeing the problem:
<img width="297" alt="Screen Shot 2019-08-28 at 12 30 43 PM" src="https://user-images.githubusercontent.com/463160/63828132-b5da4e00-c98f-11e9-8b40-847d9a834916.png">

[2019-08-28 05:35] cjyabraham commented on #54
Deployed.

[2019-08-28 05:36] cjyabraham commented on #69
Deployed.  LGTM.

[2019-08-28 05:36] #69 closed

[2019-08-28 05:54] cjyabraham commented on #68
Looks good!

[2019-08-28 06:25] cjyabraham commented on #50
The mobile menu items on subpages don't seem to work for me.  So if you [go here](https://menu-bug-cncf.pantheonsite.io/about/join/) and then try clicking on a menu item like Projects | Services for Projects, the item lights up pink but you don't go anywhere.  This isn't a problem on the live site.  I've tried this with a Pixel 3a and Galaxy S10.

[2019-08-28 21:36] deigolocco commented on #60
Pagination working
https://newsroom-cncf.pantheonsite.io/newsroom/announcements/
https://newsroom-cncf.pantheonsite.io/newsroom/in-the-news/
https://newsroom-cncf.pantheonsite.io/newsroom/blog/

we created a new component for VC with this feature
![Captura de Tela 2019-08-28 às 17 08 38](https://user-images.githubusercontent.com/5631313/63894272-9a3c6b00-c9c2-11e9-8355-6e67fcb6a6cb.png)

And the

[2019-08-28 21:36] KimMcMahon opened #73 "Add multiple companies to be listed for an upcoming webinar."
Currently set up for one company.

Change to list all companies that are checked for any given webinar.
<img width="1920" alt="Screen Shot 2019-08-28 at 3 01 18 PM (2)" src="https://user-images.githubusercontent.com/29307455/63894309-8df7e400-c9a9-11e9-8545-ec27865fb29e.png">
<img width="1920" alt="Screen Shot 2019-08-28 at 3 01 30 PM (2)" src="https://user-images.githubusercontent.com/29307455/63

[2019-08-28 23:02] KimMcMahon commented on #60
@deigolocco Looks great!

@cjyabraham please deploy.

[2019-08-28 23:11] KimMcMahon commented on #50
@deigolocco The item @cjyabraham reported is fixed for me on an iPhone. The issue Dan reported, it still occurs for me. The menu will not expand, but reloading the page fixes the issue and the menu will expand.

[2019-08-28 23:15] KimMcMahon commented on #68
Yes - Please move forward on deployment.

[2019-08-28 23:22] KimMcMahon commented on #70
@pablodelarocha Please update the banner with the picture with the filter. Thanks!

[2019-08-28 23:43] dankohn commented on #59
Yes, publicly viewable, please.

[2019-08-28 23:49] dankohn commented on #70
LGTM with the filter.

[2019-08-29 03:22] cjyabraham commented on #58
Jeska has add the new version of UM to the upstream so this can be merged in.

[2019-08-29 03:36] cjyabraham commented on #59
Ok, I'll consider this closed then.

[2019-08-29 03:36] #59 closed

[2019-08-29 04:24] cjyabraham opened #74 "Fix z-index of "Add to Calendar" button"
The ["Add to Calendar" button](https://www.cncf.io/webinars/how-cilium-uses-bpf-to-supercharge-kubernetes-networking-security/) is showing over the topnav.  It should be behind the topnav.
<img width="889" alt="Screen Shot 2019-08-29 at 11 21 27 AM" src="https://user-images.githubusercontent.com/463160/63910054-5e9bb280-ca4f-11e9-9982-62a067038eca.png">

[2019-08-29 05:01] cjyabraham commented on #22
Thanks.  Can you fix the merge conflict and then I'll deploy?

[2019-08-29 05:29] cjyabraham commented on #60
@deigolocco I have deployed the code.  Can you add the VC components?

[2019-08-29 06:01] cjyabraham commented on #58
This is now done and the recaptcha is on the registration form.  @KimMcMahon please let me know if this successfully reduces the number of bogus registrations.

[2019-08-29 06:01] #58 closed

[2019-08-29 06:06] #54 closed

[2019-08-29 10:33] dankohn commented on #60
Sorry, this wasn't what I wanted. You switched https://www.cncf.io/category/blog/ from just having titles to having the full article. Could you please switch back to titles, but paginate them. Maybe 30 or 40 items per page would be better, but the idea is to be able to scroll this past blog posts but not have them all.

[2019-08-29 13:14] deigolocco commented on #60
Sorry @dankohn , we didn't work at https://newsroom-cncf.pantheonsite.io/category/blog/, but https://newsroom-cncf.pantheonsite.io/newsroom/announcements/, https://newsroom-cncf.pantheonsite.io/newsroom/in-the-news/ and https://newsroom-cncf.pantheonsite.io/newsroom/blog/.
Why do we have this content duplication? Same content in a Archive(/category/blog) and Page(/newsroom/blog).
I believe the bes

[2019-08-29 13:27] deigolocco commented on #22
merge conflicts adjusted @cjyabraham

[2019-08-29 13:31] deigolocco commented on #68
@KimMcMahon these are the design proposals, are not implemented yet. Can I proceed with the implementation?

[2019-08-29 14:27] KimMcMahon commented on #68
@deigolocco Yes

[2019-08-29 14:39] deigolocco commented on #74
fixed @cjyabraham
https://fuerza-cncf.pantheonsite.io/webinars/how-cilium-uses-bpf-to-supercharge-kubernetes-networking-security/

[2019-08-29 14:40] deigolocco commented on #70
banner up to date

[2019-08-29 15:08] pablodelarocha commented on #62
@cjyabraham and @KimMcMahon now that we've solved the date formats issue, i'm sending some suggestions of how the "Events and Webinars" could look like on the homepage. Please let us know if you approve any of these variations.

![v1](https://user-images.githubusercontent.com/54405572/63952247-97d72100-ca55-11e9-896f-76f0708c9876.jpg)
![v2](https://user-images.githubusercontent.com/54405572/639522

[2019-08-29 17:04] dankohn commented on #62
I like the second option, except I believe it would require creating a separate image for event. In which case, we may just want to do the first one, if we can reuse the image. We don't want to use the same color and italicized bold for time on one side and location on the other. Also, note that all times are `PT` not `PDT`.

[2019-08-29 19:03] deigolocco commented on #73
added @KimMcMahon
https://company-cncf.pantheonsite.io/webinars/challenges-in-deploying-kubernetes-on-hyperconverged-infrastructure-hci/
https://company-cncf.pantheonsite.io/webinars/how-cilium-uses-bpf-to-supercharge-kubernetes-networking-security/

[2019-08-29 19:19] KimMcMahon commented on #73
Looks good @deigolocco. Please implement.

Then @cjyabraham please deploy.

[2019-08-29 19:20] pablodelarocha commented on #62
@dankohn gotcha! Please let us know if we can proceed with the below (adjusted) designs. Thanks!
![01-home](https://user-images.githubusercontent.com/54405572/63969676-bac6fc80-ca78-11e9-91ca-736be5d7a4f2.jpg)

[2019-08-29 19:25] KimMcMahon commented on #62
@pablodelarocha The second one, I believe, is this version (which I prefer as well).
<img width="669" alt="Screen Shot 2019-08-29 at 1 22 09 PM" src="https://user-images.githubusercontent.com/29307455/63969910-2c468100-ca60-11e9-87fc-e0710a00ae6a.png">

@dankohn We do create an image for most 3rd party event.
@pablodelarocha Can you create a version with events that do not have an image? Cloud Nat

[2019-08-29 19:26] #70 closed

[2019-08-29 19:27] KimMcMahon commented on #74
LGTM. @cjyabraham please deploy

[2019-08-29 20:31] dankohn commented on #62
@KimMcMahon The issue in design 2 is that we'll need to upload 2 images for every event, rather than 1. That seems like a lot of trouble.

Are you sure we need a button to click? I presume with the current design that the whole rectangle is a link, which seems clear.

[2019-08-29 20:35] dankohn commented on #43
Done. Thanks @deigolocco for the PDF link. https://www.cncf.io/cncf-kubernetes-project-journey/

[2019-08-29 20:35] #43 closed

[2019-08-29 20:57] pablodelarocha commented on #62
@dankohn we've been doing the banners for the "Events we'll be at" and it would take a couple of minutes to create a second image in a different format. Diego could easily create a field to upload the alternative image in wordpress.
If you all like the design #2 better we can make it happen, for sure. Just need to be sure if we need to add buttons there, as i agree with you it's clear you can clic

[2019-08-29 21:00] dankohn commented on #62
My hesitation is that we do about 50 events per year. But I'm fine with #2 if @KimMcMahon prefers.

[2019-08-30 05:04] cjyabraham commented on #62
I strongly feel we should avoid designs that require ongoing support from a designer.  There is so much that needs keeping up-to-date on the site that having to coordinate efforts from an external team just to advertise an Event we'll be at seems a lot of trouble.  Couldn't this be configured to just require uploading an SVG (or PNG) logo and then choosing a background image from a set that are av

[2019-08-30 05:25] cjyabraham commented on #74
Deployed

[2019-08-30 05:25] #74 closed

[2019-08-30 05:35] cjyabraham commented on #22
Ok.  Deployed.

[2019-08-30 05:35] #22 closed

[2019-08-30 05:51] cjyabraham commented on #73
Deployed.

[2019-08-30 05:51] #73 closed

[2019-08-30 06:29] cjyabraham commented on #61
The Feedback from Hummingbird:

my response:

[2019-08-30 06:42] cjyabraham opened #75 "Update homepage newsroom button links"
The buttons in the Newsroom section of the homepage should link as follows:
"View All Blog Posts" ==> https://www.cncf.io/newsroom/blog/
"View All Announcements" ==> https://www.cncf.io/newsroom/announcements/
"View All News" ==> https://www.cncf.io/newsroom/in-the-news/

[2019-08-30 06:46] cjyabraham opened #76 "Update Author post listing format"
The [author post listing](https://www.cncf.io/author/kevans/) should only list headlines and not the full post, in a format similar to [the blog listing](https://www.cncf.io/newsroom/blog/).

[2019-08-30 06:58] cjyabraham commented on #46
I'll close this for now.  @parispittman feel free to re-open if you find there's something else that needs improving.

[2019-08-30 06:58] #46 closed

[2019-08-30 12:01] dankohn commented on #60
@cjyabraham Please push these changes.

[2019-08-30 12:04] cjyabraham commented on #60
The code changes are already deployed.  @deigolocco can you add the VC elements you need to show the pagination?

[2019-08-30 12:11] dankohn commented on #61
https://www.codeinwp.com/blog/finding-top-wordpress-caching-plugin/

[2019-08-30 12:15] dankohn opened #77 "Add boxes for Training & Certification"
Please replace the text in the Training & Certification with two boxes showing the same text as this slide: https://docs.google.com/presentation/d/1BoxFeENJcINgHbKfygXpXROchiRO2LBT-pzdaOFr4Zg/edit#slide=id.g5d31aa9a3e_27_43

Images should be SVGs.

[2019-08-30 12:17] cjyabraham commented on #61
Interestingly, Hummingbird has replied, advising us to just switch off browser cacheing for now:

I don't love that idea as that means all assets would need re-downloading with every page view.  I could run a test to see what the effect might be?

Another option is to just leave things as they are.  People will get our updated assets eventually, but it's just we won't have control over when.

Fina

[2019-08-30 12:52] deigolocco commented on #60
pagination activated
https://www.cncf.io/newsroom/announcements/
https://www.cncf.io/newsroom/in-the-news/
https://www.cncf.io/newsroom/blog/
--

[2019-08-30 13:46] KimMcMahon commented on #50
I can't reproduce the bug we reported (menu not opening on the iPhone). @dankohn can you test on your iPhone this morning?
https://menu-bug-cncf.pantheonsite.io/

[2019-08-30 13:50] dankohn commented on #60
Looks good, thanks.

[2019-08-30 13:50] #60 closed

[2019-08-30 13:53] dankohn opened #78 "Google Search Console"
Please register cncf.io for Google Search Console and give access to dan@linuxfoundation.org and kmcmahon@cncf.io.

[2019-08-30 13:55] deigolocco commented on #75
links up to date https://fuerza-cncf.pantheonsite.io/

[2019-08-30 13:58] dankohn commented on #50
OK, lets call it fixed.

[2019-08-30 13:58] #50 closed

[2019-08-30 14:00] dankohn commented on #75
LGTM. @cjyabraham please push.

[2019-08-30 14:02] KimMcMahon commented on #78
Change - give access to kmcmahon@linuxfoundation.org

[2019-08-30 14:05] dankohn opened #79 "Kill the social media palette"
We've gotten feedback that the floating social media palette takes up too much room (especially on mobile) and is not best practice. People looking for our social media links can always find them in the footer, which is where they're expected.

Could you please remove it.

Also, at the bottom of the Newsroom menu, please add two new entries:
Videos (YouTube)
Pictures (Flickr)

[2019-08-30 14:06] KimMcMahon commented on #62
@pablodelarocha I agree with Chris - I want a design on the home page that will take the banner that is on the "Events We'll Be At" page and reuse it on the home page.

Can I see that design and with some events that do not have a banner.

Also - no button, but the boxes should be clickable.

Opening another issue to address needing a custom banner for our Event's We'll Be At.

[2019-08-30 14:11] KimMcMahon opened #80 "Update banner for individual Events We'll Be At"
Update the banner we use for the individual "[Events We'll Be At](https://www.cncf.io/events-well-be-at/)" (example https://www.cncf.io/events-well-be-at/helm-summit/) so any Wordpress user can create a banner that fits a template for the pages.

From @cjyabraham I strongly feel we should avoid designs that require ongoing support from a designer. There is so much that needs keeping up-to-date on

[2019-08-30 16:27] cjyabraham commented on #50
Wait, is this fixed on the live site or fixed on https://menu-bug-cncf.pantheonsite.io/ ?  The menu-bug branch has not yet been deployed live.

[2019-08-30 16:28] dankohn commented on #50
I couldn't replicate on live.

[2019-08-30 19:39] deigolocco commented on #79
sure @dankohn , it's done https://fuerza-cncf.pantheonsite.io/

[2019-08-30 21:19] deigolocco commented on #68
date format consolidated
https://fz-date-cncf.pantheonsite.io/newsroom/announcements/
https://fz-date-cncf.pantheonsite.io/announcement/2019/08/21/cloud-native-computing-foundation-welcomes-48-new-members-at-open-source-summit-north-america/
https://fz-date-cncf.pantheonsite.io/newsroom/in-the-news/
https://fz-date-cncf.pantheonsite.io/news/2019/08/20/searchitoperations-test-your-knowledge-of-cncf

[2019-08-30 21:25] pablodelarocha commented on #62
@KimMcMahon ok, understood. So i suggest we do this design:
![image](https://user-images.githubusercontent.com/54405572/64051741-98a1ad00-cb52-11e9-8f22-81e4f46778cc.png)
And the events that don't have a logo, we can just select a background banner and, if you don't upload the logo, the name of the event will be placed over the background, just like the "LF Energy Summit" example.
Also, here's a s

[2019-08-31 03:48] cjyabraham commented on #62
Sounds good @pablodelarocha.

We could have a set of banners that the author can choose from.  If we suffix all of them with "-ewa-banner", then they'll be easy to find in the Media Library each time someone adds a new event.

And yes, it sounds like you'll need an extra field to upload the event logo.

What do you have in mind for how you'll "generate two background banners"?  Alternatively, we c

[2019-08-31 03:59] cjyabraham commented on #68
@deigolocco have you figured out why we have [two dates here](https://fz-date-cncf.pantheonsite.io/announcement/2019/08/21/cloud-native-computing-foundation-welcomes-48-new-members-at-open-source-summit-north-america/)?

I notice we have the date twice on the [individual webinar page](https://fz-date-cncf.pantheonsite.io/webinars/tales-of-the-kubernetes-ingress-networking-deployment-patterns-for-e

[2019-08-31 04:01] dankohn commented on #68
Agreed on removing the spaces around hypens for dates in a box. Note that the date in the box on the right is missing the year: https://fz-date-cncf.pantheonsite.io/webinars/tales-of-the-kubernetes-ingress-networking-deployment-patterns-for-external-load-balancers/

[2019-08-31 04:19] cjyabraham commented on #79
Deployed.

[2019-08-31 04:19] #79 closed

[2019-08-31 04:20] cjyabraham commented on #75
Deployed.

[2019-08-31 04:20] #75 closed

[2019-09-02 12:56] deigolocco commented on #68
@cjyabraham about the [2 dates](https://fz-date-cncf.pantheonsite.io/webinars/tales-of-the-kubernetes-ingress-networking-deployment-patterns-for-external-load-balancers/), should we remove the date in "EVENT DETAILS" or just add the year as @dankohn's last comment?

[2019-09-02 13:10] pablodelarocha commented on #62
@cjyabraham great, i will ask @deigolocco to start implementing this design while i create the banner templates.

As for the two background banners, in fact, only one banner is necessary. Once you upload, it will be cropped automatically, generating two different images, as shown in the diagram above.

[2019-09-02 13:12] deigolocco commented on #62
We'll proceed with the development. @cjyabraham I'll use the add_image_size native function from wordpress to set the crops

[2019-09-02 13:17] deigolocco commented on #68
@cjyabraham we already have 2 dates [here](https://www.cncf.io/announcement/2019/08/21/cloud-native-computing-foundation-welcomes-48-new-members-at-open-source-summit-north-america/), should we remove the second?

[2019-09-02 13:21] dankohn commented on #68
@deigolocco your comment isn’t clear. Could you please paste in screenshots here to explain the question and also say what you recommend.

[2019-09-02 13:26] deigolocco commented on #68
sorry @dankohn , I'll try to clarify my comment.
@cjyabraham reported a date duplication [here](https://fz-date-cncf.pantheonsite.io/announcement/2019/08/21/cloud-native-computing-foundation-welcomes-48-new-members-at-open-source-summit-north-america/)
![Captura de Tela 2019-09-02 às 10 23 20](https://user-images.githubusercontent.com/5631313/64117523-c3b31900-cd6b-11e9-8715-96144ff7fd47.png)
We

[2019-09-02 16:02] cjyabraham commented on #68
@deigolocco can you figure out what each date represents?  Normally we show just the published date, as in [this listing](https://www.cncf.io/newsroom/blog/).

[2019-09-02 16:13] cjyabraham commented on #62
@deigolocco correct me if I'm wrong but won't add_image_size generate images at the size you specify for all uploads going forward?  Won't that be kind of a waste of space and energy since we actually only want to do this for the several images we use as background images?

[2019-09-02 17:41] deigolocco commented on #62
@cjyabraham in part you are right.

But we need to decide what is the best option. I see 3 scenarios:

1 - To create 2 different images for each situation, one for homepage and another for events.
* Benefits:
- one optimized image per situation. Saves user and server resources
* Against:
- Even being made in a few minutes, needs a designer to create both
2 - To upload logo and background separatel

[2019-09-02 20:18] deigolocco commented on #76
up to date @cjyabraham
https://fz-authors-cncf.pantheonsite.io/author/kevans/

[2019-09-02 20:21] caniszczyk opened #81 "Rename Envoy desc: service proxy -> network proxy"
A request via Matt Klein.

[2019-09-02 20:23] dankohn commented on #81
This also needs to be done on slides.

[2019-09-02 20:30] taylorwaggoner commented on #81
Updated to Network Proxy on the website and in the slides

[2019-09-02 20:30] #81 closed

[2019-09-02 20:30] deigolocco commented on #68
*@cjyabraham the second date was related to the last post update, removed
https://fz-date-cncf.pantheonsite.io/announcement/2019/08/21/cloud-native-computing-foundation-welcomes-48-new-members-at-open-source-summit-north-america/

*extra spaces removed and date year centralized
https://fz-date-cncf.pantheonsite.io/events-well-be-at/

*@dankohn year added
https://fz-date-cncf.pantheonsite.io/webina

[2019-09-02 20:35] rodmeurer commented on #68
Homepage Newsroom section up to date.
https://fz-date-cncf.pantheonsite.io/

[2019-09-02 20:42] dankohn commented on #68
LGTM

[2019-09-03 02:24] dankohn commented on #62
I think we should go for 1 for now, as I really want to get this work on the homepage, and then we can reconsider later. OK. @cjyabraham ?

[2019-09-03 03:14] cjyabraham commented on #62
One other option: Don't use background images on the home page.  Just show the logo and use a white background.  However, I suppose some logos won't look good on a white background?

Ok, go with 1 for now.  I think going forward we should try to create designs which look good while requiring minimal administration and they shouldn't require ongoing design effort just to add new items.

[2019-09-03 03:25] cjyabraham commented on #62
Actually, how about allowing the administrator to pick a background color that will work with the logo they upload?  This will be easier to administer, easier to develop and will be a faster experience for the user while, hopefully, looking almost as good.  What do you think @deigolocco ?

[2019-09-03 04:17] cjyabraham commented on #68
I've deployed however there are a few fixes needed:

1. We need a way to deal with dates that cross a month or year boundary, like [this one](https://www.cncf.io/events-well-be-at/open-networking-summit-europe/).  What do you guys suggest?
2. Could you make the mobile view of the dates here more vertically centered:
<img width="301" alt="Screen Shot 2019-09-03 at 11 08 53 AM" src="https://user-ima

[2019-09-03 04:20] cjyabraham commented on #76
Looks good but it is in a different format than the [blog listing](https://www.cncf.io/newsroom/blog/), however I like it better.  @dankohn what do you think about us using [this new format](https://fz-authors-cncf.pantheonsite.io/author/kevans/) in place of what we have for [blog](https://www.cncf.io/newsroom/blog/), [in the news](https://www.cncf.io/newsroom/in-the-news/), [announcements](https:

[2019-09-03 10:43] dankohn commented on #68
I recommend `9/30 - 10/1/2020`.

[2019-09-03 10:45] dankohn commented on #76
LGTM

[2019-09-03 11:12] pablodelarocha commented on #80
@KimMcMahon i'm sending attached several banner templates for you to take a look. We selected a few images and generated the banner in several different color schemes, so you can pick the one that matches better with the event's logo which will be applied over it.
Please let us know what you think of these.

![City-1a99b9](https://user-images.githubusercontent.com/54405572/64168673-72b22c00-ce22-1

[2019-09-03 11:40] cjyabraham commented on #76
What do you think @deigolocco ? Would it be easy to make all the listings consistent with this new format?

[2019-09-03 11:42] cjyabraham commented on #68
Right but I'm referring to this particular format that we need to find a solution for:
<img width="73" alt="Screen Shot 2019-09-03 at 6 42 15 PM" src="https://user-images.githubusercontent.com/463160/64170555-930dd500-ce7a-11e9-9a0d-98f6f424c848.png">

[2019-09-03 11:43] dankohn commented on #68
Then I would suggest:

`SEP-OCT`
`30-1`
`2019`

[2019-09-03 13:04] deigolocco commented on #76
sure @cjyabraham , we'll adjust the rest for the new format

[2019-09-03 13:09] deigolocco commented on #62
@cjyabraham the logo being a png with transparence in a solid background will be heavier than a jpg (logo + background in a single image) and not so nice. But you decide, what should we do?

[2019-09-03 13:17] deigolocco commented on #62
Just to complement my last comment, as I mentioned before we take 5min to produce each image. We could produce a hundred per day if necessary, having the list previously this will not be a blocker.  But of course, the decision is yours

[2019-09-03 13:18] deigolocco commented on #77
@dankohn it's done https://fuerza-cncf.pantheonsite.io/

[2019-09-03 15:13] KimMcMahon commented on #77
@deigolocco Can you fix the bullets so the second and third lines of text are aligned with the text on the first line next to the bullet?

[2019-09-03 15:19] KimMcMahon commented on #62
@cjyabraham please deploy 1 for now as Dan asked.
@deigolocco @pablodelarocha if there is any work you need to finish so Chris can deploy tonight, please complete today.

A separate issue for the image for Events has been opened.

[2019-09-03 16:44] rodmeurer commented on #68
@cjyabraham fixed.

1. https://fz-date-cncf.pantheonsite.io/events-well-be-at/open-networking-summit-europe/

2. https://fz-date-cncf.pantheonsite.io/webinars/tales-of-the-kubernetes-ingress-networking-deployment-patterns-for-external-load-balancers/

3. https://fz-date-cncf.pantheonsite.io/announcement/2019/08/21/cloud-native-computing-foundation-welcomes-48-new-members-at-open-source-summit-nort

[2019-09-03 16:53] dankohn commented on #68
You did what I asked but could you please instead have the date ranges look like:
[code]
That is, please do a single hyphen, and have the numbers centered below the month.

[2019-09-03 17:05] deigolocco commented on #77
adjusted @KimMcMahon https://fuerza-cncf.pantheonsite.io/

[2019-09-03 17:34] rodmeurer commented on #68
@dankohn we designed two different possibilities so you can choose.

![test1](https://user-images.githubusercontent.com/54405402/64195414-cb4fec00-ce57-11e9-87ea-416bb5c89094.jpg)
![test2](https://user-images.githubusercontent.com/54405402/64195416-cdb24600-ce57-11e9-9ad8-ba36dcec6de1.jpg)

[2019-09-03 17:37] dankohn commented on #68
Thanks. I like the first one, because it implies "through" not "or".

Going forward, please also say which one you recommend.

[2019-09-03 17:40] deigolocco commented on #62
@cjyabraham could you deploy the branch **fz-image** pls?
https://fz-image-cncf.pantheonsite.io/wp-admin/post.php?post=42294&action=edit
We just added the extra field for the homepage section
<img width="350" alt="Captura de Tela 2019-09-03 às 14 35 24" src="https://user-images.githubusercontent.com/5631313/64195634-5a5d0400-ce58-11e9-984b-70a8fd918942.png">
After this deploy we can start to uplo

[2019-09-03 17:57] rodmeurer commented on #68
@dankohn good point. Yes, we think the first one is better.

[2019-09-03 23:43] deigolocco commented on #62
implementation is done, please take at look
https://fz-events-cncf.pantheonsite.io/

@cjyabraham please deploy **fz-image** first so we can upload the new images
after this you can deploy **fz-events**

[2019-09-04 00:05] dankohn commented on #77
I think it looks great. Please change the link text from `course` and `test` to `Introduction to Kubernetes`, `Kubernetes Fundamentals`, `Certified Kubernetes Administrator (CKA) `, and `Certified Kubernetes Application Developer (CKAD)`. Then, let's deploy.

[2019-09-04 00:25] KimMcMahon opened #82 "Update training page with Prometheus and Fluentd courses"
https://www.cncf.io/certification/training/
https://training.linuxfoundation.org/training/monitoring-systems-and-services-with-prometheus-lfs241/
https://training.linuxfoundation.org/training/cloud-native-logging-with-fluentd-lfs242/

[2019-09-04 00:26] KimMcMahon commented on #82
Training page updated

[2019-09-04 00:26] #82 closed

[2019-09-04 00:36] KimMcMahon commented on #62
Looks great @deigolocco.
@cjyabraham please deploy.

[2019-09-04 00:53] deigolocco commented on #77
Adjusted @dankohn, it's editable

[2019-09-04 00:56] dankohn commented on #77
Great. @cjyabraham could you please push.

[2019-09-04 01:23] KimMcMahon commented on #68
@deigolocco @cjyabraham Can this please be deployed tonight? The date formats on the live page are messed up and I'd like this updated before 11am ET Wednesday. Thank you.

[2019-09-04 01:58] KimMcMahon opened #83 "Create banners for Event's We'll Be At and update Events page and Home page"
EnvoyCon
![envoycon-stacked-color](https://user-images.githubusercontent.com/29307455/64219094-44b00480-ce81-11e9-91dc-dce0311df031.png)

ServiceMeshCon
Grab the logo from this page: https://events.linuxfoundation.org/events/servicemeshcon-2019/

Observability Practitioners Summit
Grab the logo from this page: https://observabilitysummit.com

FoundationDB Summit
Grab the logo from this page: https

[2019-09-04 02:01] KimMcMahon opened #84 "Add date to KubeCon + CloudNativeCon China cube"
https://www.cncf.io/community/kubecon-cloudnativecon-events/
7/28-30/2020

[2019-09-04 02:11] KimMcMahon commented on #68
@deigolocco Dates that go across a month do not show up correctly.
https://www.cncf.io/events-well-be-at/vmworld/
https://www.cncf.io/events-well-be-at/open-networking-summit-europe/
https://www.cncf.io/events-well-be-at/aws-reinvent-2/

[2019-09-04 04:05] KimMcMahon commented on #80
Thank you @pablodelarocha. I like them. Can you pull 2 images from the CNCF Flickr account to use for these banners? Please make sure both images have at least one women in the image.

Then - how do I use these? Can you write up a short process on how to use these on the Events page and the Home page?

[2019-09-04 04:31] cjyabraham commented on #62
Ok, fz-image branch is deployed.

[2019-09-04 04:39] cjyabraham commented on #68
@deigolocco ping me when you've got the updates done and I'll deploy.

[2019-09-04 05:58] cjyabraham commented on #77
Deployed.

[2019-09-04 05:58] #77 closed

[2019-09-04 06:05] cjyabraham opened #85 "Standardize homepage sub-heading styles"
With these various updates to the homepage, we seem to be introducing too many sub-heading styles:
<img width="1253" alt="Screen Shot 2019-09-04 at 1 01 02 PM" src="https://user-images.githubusercontent.com/463160/64229499-221afb80-cf14-11e9-89ca-8ffd556f84c0.png">
<img width="1247" alt="Screen Shot 2019-09-04 at 1 00 02 PM" src="https://user-images.githubusercontent.com/463160/64229500-22b39200-c

[2019-09-04 11:44] deigolocco commented on #62
thank you @cjyabraham! I just finished the uploads, could you deploy fz-events pls?

[2019-09-04 12:14] cjyabraham commented on #62
@deigolocco there's a merge conflict.  Can you resolve please?

[2019-09-04 12:17] alexcontini commented on #84
@KimMcMahon  this has been updated: https://www.cncf.io/community/kubecon-cloudnativecon-events/

[2019-09-04 12:27] rodmeurer commented on #62
@cjyabraham conflict solved.

[2019-09-04 13:08] cjyabraham commented on #62
Deployed.

[2019-09-04 13:49] KimMcMahon commented on #62
@deigolocco @cjyabraham See image - Chrome and Safari.
<img width="1920" alt="Screen Shot 2019-09-04 at 7 43 17 AM (2)" src="https://user-images.githubusercontent.com/29307455/64260579-5a0c4980-cee8-11e9-8811-52c281754ed6.png">

[2019-09-04 13:51] KimMcMahon commented on #62
And on mobile. Changed the top banner - it's covered.
![IMG_2181](https://user-images.githubusercontent.com/29307455/64260760-b66f6900-cee8-11e9-8e8f-cbc673e0a71c.JPG)
![IMG_2182](https://user-images.githubusercontent.com/29307455/64260764-b8392c80-cee8-11e9-8cd8-06d49f50a3f6.JPG)

[2019-09-04 14:01] #62 closed

[2019-09-04 14:27] pablodelarocha commented on #83
@KimMcMahon sure! Here's the banners in two versions (for homepage and for the EWBA page:
![envoycon](https://user-images.githubusercontent.com/54405572/64261156-71f0c700-cf02-11e9-9700-efd4f25e810c.jpg)
![squared_envoycon](https://user-images.githubusercontent.com/54405572/64261200-88971e00-cf02-11e9-91ac-61791276b406.jpg)
![servicemeshcon](https://user-images.githubusercontent.com/54405572/64261

[2019-09-04 14:34] pablodelarocha commented on #80
@KimMcMahon as discussed in issue #62 i believe we're not going to use these for now, since it was decided we were going to create a specific banner for homepage and another for the "Events We'll Be At" page on each event.
I can do the banners as you requested, but there's no use for them, since you can't upload separately the banner and the event's logo.

[2019-09-04 14:47] deigolocco commented on #68
adjustments implemented https://fz-date-cncf.pantheonsite.io/events-well-be-at/

[2019-09-04 15:30] pablodelarocha commented on #85
Hi @cjyabraham
please take a look at the design suggestion attached. I've tried your suggestion, but it turns out that the exact same style didn't work on all places, so i made a hybrid. Let us know what you think.
![01-home](https://user-images.githubusercontent.com/54405572/64269110-b6cf2a80-cf0f-11e9-8957-1a6325dbe29b.jpg)

[2019-09-04 15:37] #83 closed

[2019-09-04 15:41] KimMcMahon commented on #84
Thanks @alexcontini!

[2019-09-04 15:41] #84 closed

[2019-09-04 16:24] dankohn commented on #68
This looks great:
![image](https://user-images.githubusercontent.com/3083270/64273216-db76d280-cf0e-11e9-8552-ba302bc7c8ba.png)

Could you please change to do `4-5` instead of `04-05`.

[2019-09-04 16:26] KimMcMahon opened #86 "Add a sign up to our email list to the Contact page"
https://www.cncf.io/about/contact/

Add a place to sign up for our email list.

@cjyabraham I'm going to assign to you for now since you are working on all the email signup forms. Please re-assign as necessary.

[2019-09-04 16:30] KimMcMahon commented on #85
@cjyabraham @pablodelarocha Dan asked for a specific design to match the Google slide. I like the look. Can we leave it for now?

[2019-09-04 17:27] dankohn commented on #85
Actually, I don't feel strongly. I was more focused on the content of the slide. I see the argument for consistency.

[2019-09-04 18:13] KimMcMahon commented on #85
Ok @pablodelarocha let's update the design! I like what you proposed.

[2019-09-04 18:47] pablodelarocha commented on #85
@KimMcMahon great! The dev team is already working on it. Thanks!

[2019-09-04 19:09] rodmeurer commented on #68
@dankohn @cjyabraham adjusted.
https://fz-date-cncf.pantheonsite.io/events-well-be-at/
https://fz-date-cncf.pantheonsite.io/events-well-be-at/lf-energy-summit/

[2019-09-04 19:21] dankohn commented on #68
LGTM

[2019-09-05 03:09] cjyabraham commented on #4
Request from @taylorwaggoner: turn projects listed on [project pages](https://www.cncf.io/sandbox-projects/) into a CPT so that they can be more easily configured

[2019-09-05 03:17] cjyabraham commented on #85
Looks great @pablodelarocha!

[2019-09-05 04:34] cjyabraham commented on #68
I have deployed this yet there is still an issue which I have changed data to demonstrate on the dev site:

See the [Gitlab Commit event on the home page](https://dev-cncf.pantheonsite.io), it shows the date as Sep 17-30.

I've actually set the date to Sep 17 - Oct 30 as you can see on [the individual page](https://dev-cncf.pantheonsite.io/events-well-be-at/gitlab-commit/).

So the home page does

[2019-09-05 14:15] cjyabraham commented on #61
I could use [this plugin](https://wordpress.org/plugins/prevent-browser-caching/)

[2019-09-05 16:35] rodmeurer commented on #68
@cjyabraham fixed.
https://fz-date-cncf.pantheonsite.io/

[2019-09-05 19:49] KimMcMahon opened #87 "Rectangle and square banner for Events We'll Be At"
Can I get a banner for each of our KubeCon events? You can use the images and logos as they are on this page:
https://www.cncf.io/community/kubecon-cloudnativecon-events/

KubeCon + CloudNativeCon North America 2019 (San Diego)
KubeCon + CloudNativeCon Europe 2020 (Amsterdam)
KubeCon + CloudNativeCon China 2020 (Shanghai)
KubeCon + CloudNativeCon North America 2020 (Boston)

[2019-09-05 19:55] KimMcMahon opened #88 "Events We'll Be At: List city and country"
Each event is tagged with a city and a country. Please have this information displayed on the individual event page an the Events We'll Be At page.
<img width="1352" alt="Screen Shot 2019-09-05 at 1 28 20 PM" src="https://user-images.githubusercontent.com/29307455/64376109-bc4a7480-cfe4-11e9-9f94-026b8b275d82.png">
<img width="843" alt="Screen Shot 2019-09-05 at 1 54 21 PM" src="https://user-image

[2019-09-05 20:33] pablodelarocha commented on #87
@KimMcMahon Ok! Here's the banners:
![squared_Kubecon-Europe-Amsterdam](https://user-images.githubusercontent.com/54405572/64378487-312ca700-d003-11e9-85a5-bc309c9804c7.jpg)
![Kubecon-Europe-Amsterdam](https://user-images.githubusercontent.com/54405572/64378489-32f66a80-d003-11e9-8801-7d29558bf218.jpg)
![squared_Kubecon-Shanghai](https://user-images.githubusercontent.com/54405572/64378492-3558c480

[2019-09-05 20:53] pablodelarocha commented on #87
@KimMcMahon  here's the adjusted Shanghai and San Diego banners as requested.
![squared_Kubecon-Shanghai](https://user-images.githubusercontent.com/54405572/64379778-03952d00-d006-11e9-9f8e-13cae0fafaa4.jpg)
![kubecon-Shanghai](https://user-images.githubusercontent.com/54405572/64379780-042dc380-d006-11e9-8302-40369e5dbea8.jpg)
![Kubecon-North-America_SanDiego](https://user-images.githubuserconten

[2019-09-05 20:58] KimMcMahon commented on #87
Thank you @pablodelarocha! Perfect!

[2019-09-05 20:58] #87 closed

[2019-09-05 21:08] rodmeurer commented on #88
@KimMcMahon @cjyabraham up to date.
https://fz-88-cncf.pantheonsite.io/events-well-be-at/open-networking-summit-eu/
https://fz-88-cncf.pantheonsite.io/events-well-be-at/huawei-connect-2019/

[2019-09-05 21:15] KimMcMahon commented on #88
Looks great @rodmeurer!

@cjyabraham please deploy.

[2019-09-06 00:46] deigolocco commented on #76
formats consolidated @cjyabraham
https://fz-authors-cncf.pantheonsite.io/author/kevans/
https://fz-authors-cncf.pantheonsite.io/newsroom/announcements/
https://fz-authors-cncf.pantheonsite.io/newsroom/blog/
https://fz-authors-cncf.pantheonsite.io/newsroom/in-the-news/

[2019-09-06 03:13] cjyabraham commented on #76
LGTM.  Can you resolve the merge conflict please?

[2019-09-06 03:39] cjyabraham commented on #68
This is fine but now the [date ranges that don't span months are too wide](https://fz-date-cncf.pantheonsite.io/events-well-be-at/huawei-connect-2019/) and are causing the title to appear below them.

[2019-09-06 03:45] cjyabraham commented on #88
This is deployed.  Would we also want this on the home page @KimMcMahon ?

<img width="602" alt="Screen Shot 2019-09-06 at 10 44 57 AM" src="https://user-images.githubusercontent.com/463160/64399633-6385e500-d093-11e9-82cc-eff2ce46d51d.png">

[2019-09-06 04:06] cjyabraham opened #89 "Reduce image sizes on case studies page"
A lot of the [image sizes on this page](https://www.cncf.io/projects/case-studies/) can be reduced significantly.  The [spotify one](https://www.cncf.io/wp-content/uploads/2019/06/CaseStudy_spotify_banner4.jpg), for example, is 450K.  It could be cropped and shrunk.

Can you also go through all the individual case studies and shrink the images there too.  For example, [on this page](https://www.cn

[2019-09-06 13:06] deigolocco commented on #76
conflict solved @cjyabraham

[2019-09-06 14:04] deigolocco commented on #88
@cjyabraham added on homepage https://fz-88-cncf.pantheonsite.io/

[2019-09-06 14:28] deigolocco commented on #68
adjusted @cjyabraham

[2019-09-06 16:10] cjyabraham commented on #88
Something is going funny with the mobile view on this one:
<img width="298" alt="Screen Shot 2019-09-06 at 11 08 52 PM" src="https://user-images.githubusercontent.com/463160/64443102-6caa9c80-d0fb-11e9-93e3-761fcbb1e44e.png">

[2019-09-06 16:12] cjyabraham commented on #76
Could you fix again please?  I just merged fz-date into master.

[2019-09-06 16:14] cjyabraham commented on #68
The mobile view doesn't look right [here](https://www.cncf.io/events-well-be-at/).  The date boxes are too tall:
<img width="459" alt="Screen Shot 2019-09-06 at 11 14 07 PM" src="https://user-images.githubusercontent.com/463160/64443444-1722bf80-d0fc-11e9-99a5-f69d108f9a36.png">

[2019-09-06 16:25] cjyabraham commented on #57
@dankohn would like to imitate the geography feature we use for Events We'll Be At
(country and city nested).

[2019-09-06 16:40] deigolocco commented on #76
sure @cjyabraham , solved

[2019-09-06 19:10] dankohn opened #90 "This should say Shanghai instead of China"
![image](https://user-images.githubusercontent.com/3083270/64454227-71019600-d0b8-11e9-8c45-e15332691fd3.png)

[2019-09-06 19:16] rodmeurer commented on #88
adjusted @cjyabraham
https://fz-88-cncf.pantheonsite.io/

[2019-09-06 19:25] dankohn commented on #90
This is being handled in #88 and https://fz-88-cncf.pantheonsite.io/ looks great.

[2019-09-06 19:25] #90 closed

[2019-09-06 19:46] KimMcMahon commented on #88
WDYT @dankohn and @cjyabraham
With city and country on the home page, the country gets cut off. Just the city on the home . page ok with you?

[2019-09-06 22:38] dankohn commented on #88
I like what they have with the country going to ellipses.

[2019-09-07 02:55] cjyabraham commented on #88
The ellipses seem to cut off too early on mobile.  Is there a way to have them adapt to the amount of space available?
<img width="250" alt="Screen Shot 2019-09-07 at 9 54 27 AM" src="https://user-images.githubusercontent.com/463160/64469004-8d074500-d155-11e9-88aa-f9ff7d6f109c.png">

[2019-09-07 03:11] cjyabraham commented on #76
The format of that page is causing the padding to reduce on the mobile menu.  Here's before and after:
<img width="884" alt="Screen Shot 2019-09-07 at 10 10 17 AM" src="https://user-images.githubusercontent.com/463160/64469172-c9d43b80-d157-11e9-9993-bcce75587c71.png">

[2019-09-07 03:11] cjyabraham commented on #68
The date on the [single webinar page](https://fz-date-cncf.pantheonsite.io/webinars/kubevirt-beyond-containers-coming-full-circle-back-to-vms/) seems to have slipped down:
<img width="440" alt="Screen Shot 2019-09-07 at 10 01 06 AM" src="https://user-images.githubusercontent.com/463160/64469075-7e6d5d80-d156-11e9-9653-cf5fd1d953cd.png">

[2019-09-07 03:49] cjyabraham commented on #61
I've installed [Prevent Browser cacheing](https://wordpress.org/plugins/prevent-browser-caching/) so that I can manually bust browser cache when I do a deployment.  I have re-activated hummingbird and its compiled assets are correctly being versioned by the Prevent Browser Cacheing plugin.

On future deployments I will click update version number on assets then clear hummingbird cache then clear P

[2019-09-07 03:49] #61 closed

[2019-09-07 05:01] cjyabraham commented on #55
[Here is how the page is intended to look like](https://ps.w.org/ultimate-member/assets/screenshot-3.png?rev=2007982) however I think our theme is mangling it.  I suggest we restore it to its default state, experience how it's supposed to work, and then refine from there?

[2019-09-07 20:51] dankohn commented on #57
@deigolocco Can we please get a new design mockup showing a much denser layout?

[2019-09-08 23:28] deigolocco commented on #88
@cjyabraham we did the excerpt with php initially, but changed to js, so we can check the screen size to adjust the excerpt length.
Please take at look again https://fz-88-cncf.pantheonsite.io/

[2019-09-08 23:29] deigolocco commented on #68
adjusted @cjyabraham

[2019-09-08 23:31] deigolocco commented on #76
adjusted @cjyabraham

[2019-09-08 23:36] deigolocco commented on #57
sure @dankohn

[2019-09-08 23:58] dankohn commented on #88
LGTM

[2019-09-08 23:58] deigolocco commented on #55
I'll work tomorrow to restore its default state

[2019-09-09 00:03] dankohn opened #91 "Broken date display on event tile"
![image](https://user-images.githubusercontent.com/3083270/64496527-c1712300-d273-11e9-8cc4-2b104d0db96a.png)

[2019-09-09 00:08] dankohn opened #92 "Add @cloudnativefdn Twitter feed next to News"
Please add a 4th column of Newsroom updates to the right of news that embeds our latest tweets.

Use the embed feature on https://publish.twitter.com/?query=https%3A%2F%2Ftwitter.com%2Fcloudnativefdn&widget=Timeline and update to set height, width, and color appropriately.

[2019-09-09 00:59] deigolocco commented on #91
@dankohn it's already fixed [here](https://fz-88-cncf.pantheonsite.io/)

[2019-09-09 01:05] dankohn commented on #91
Closing as duplicate

[2019-09-09 01:05] #91 closed

[2019-09-09 02:33] cjyabraham commented on #88
Looks good.  Can you resolve the merge conflicts and I'll deploy?

[2019-09-09 02:36] cjyabraham commented on #76
Looks fine.  Please resolve merge conflicts and I'll deploy.

[2019-09-09 10:54] deigolocco commented on #88
solved @cjyabraham

[2019-09-09 10:54] deigolocco commented on #76
solved @cjyabraham

[2019-09-09 15:08] cjyabraham commented on #76
Deployed.

[2019-09-09 15:08] #76 closed

[2019-09-09 15:08] cjyabraham commented on #88
Deployed.

[2019-09-09 15:08] #88 closed

[2019-09-09 15:09] cjyabraham commented on #68
Deployed.

[2019-09-09 15:09] #68 closed

[2019-09-09 17:02] deigolocco commented on #55
@KimMcMahon and @cjyabraham I enabled the main theme and the [page](https://fuerza-cncf.pantheonsite.io/speakers/account/) is apparently well.
So you can check it and make your considerations. I'll investigate why the page is not working with child's theme.
@KimMcMahon should I ask for @pablodelarocha a new design?

[2019-09-09 17:02] deigolocco commented on #55
remember, you must be logged in at website to access this page

[2019-09-09 17:04] lindsayshaw opened #93 "Update CNCF.io banner text"
By end of day September 10, we need to have updated text on the nav banner.

New text: KubeCon + CloudNativeCon San Diego | November 18 – 21 | Learn more

This shortens the text so we may need to adjust the banner height to have similar proportions as current.

[2019-09-09 17:07] KimMcMahon commented on #55
Thank you @deigolocco. I'm going to test and identify any changes we may need. Stay tuned! I plan on getting this to you by tomorrow morning.

[2019-09-09 18:10] rodmeurer commented on #85
@KimMcMahon @cjyabraham up to date!
https://fz-85-cncf.pantheonsite.io/

[2019-09-09 18:32] dankohn commented on #85
LGTM

[2019-09-09 19:17] pablodelarocha commented on #57
@dankohn and @cjyabraham here's a design for this page according to your requests:
![Speakers-Bureau](https://user-images.githubusercontent.com/54405572/64559672-3ba9b200-d31d-11e9-877e-4c42d5865ae4.jpg)
(we can have more than just 9 per page... up to you on how many rolls should each page have)
Let us know your thoughts about it.

[2019-09-09 19:28] KimMcMahon commented on #55
From anywhere in the account profile, there is no option to log out. Can one be added?
https://fuerza-cncf.pantheonsite.io/speakers/account/
<img width="1213" alt="Screen Shot 2019-09-09 at 1 28 00 PM" src="https://user-images.githubusercontent.com/29307455/64560428-b961c380-d305-11e9-86b7-cb8db293019d.png">

[2019-09-09 19:37] KimMcMahon commented on #55
From the [account profile](https://fuerza-cncf.pantheonsite.io/speakers/account/), I should have an option to update my profile.

In our current process, updating my profile takes me to this [page](https://www.cncf.io/speaker/kmcmahon/?um_action=edit).

[2019-09-09 19:47] KimMcMahon commented on #57
@pablodelarocha Can you update the design?

We do not want the social profiles. Instead, if they have any certifications, we want that in the social profile place.
They can up to 3 certifications: [CKA](https://www.cncf.io/certification/cka/), [CKAD](https://www.cncf.io/certification/ckad/), or [Ambassador](https://www.cncf.io/people/ambassadors/).

Please use the logo for each of the certificatio

[2019-09-09 19:51] KimMcMahon commented on #85
@cjyabraham please deploy

[2019-09-09 21:15] KimMcMahon commented on #11
@cjyabraham Dan approved the Rules for Members to contact speakers bureau when he approved the document. Please proceed with the next steps.

[2019-09-09 21:56] pablodelarocha commented on #57
![image](https://user-images.githubusercontent.com/54405572/64569227-2ccdfa00-d333-11e9-9d19-7384ccb54373.png)
@KimMcMahon here's a suggestion of design as requested. Since the space to add the badges is very small and you can't read the badge's content, as you can see in the first tile, i've designed  tooltip that would appear when you hover the mouse over the badge, showing the name of the certi

[2019-09-09 21:57] dankohn commented on #57
Please also add a  ✈️ emoji if they're willing to travel and a  🖥 if they're willing to videoconference. And can we eliminate area of expertise and do first few lines of their bio instead. Area of expertise and language spoken seem better to get via the faceted search than have them displayed.

[2019-09-09 21:58] dankohn commented on #57
If you make the emoji the same size as the badges, I think we're basically there.

[2019-09-09 22:01] dankohn opened #94 "Tighten speaker bureau requirements"
Please edit https://www.cncf.io/speakers/register/ to require that they include a bio and a picture. We can give existing folks ~3 months to comply.

[2019-09-09 22:12] KimMcMahon commented on #94
@cjyabraham Keep other current required items. Add bio and a picture.

[2019-09-09 22:46] pablodelarocha commented on #57
@dankohn ok! Something like this?
![image](https://user-images.githubusercontent.com/54405572/64571531-8a197980-d33a-11e9-9f5a-ef78d6be0c5b.png)

[2019-09-10 00:39] dankohn commented on #57
LGTM

[2019-09-10 02:40] KimMcMahon opened #95 "Create a banner for Events We'll Be At"
[Grace Hopper](https://ghc.anitab.org/2019-anitab-org-pitcher/)
<img width="317" alt="Screen Shot 2019-09-09 at 4 46 51 PM" src="https://user-images.githubusercontent.com/29307455/64571552-7ada0200-d321-11e9-81fc-3264a70589b7.png">

[2019-09-10 05:54] cjyabraham commented on #57
Looks good.  Can you show a mobile view?

[2019-09-10 06:09] cjyabraham commented on #85
Deployed.

[2019-09-10 06:09] #85 closed

[2019-09-10 11:21] pablodelarocha commented on #95
![grace_hopper_banner](https://user-images.githubusercontent.com/54405572/64609721-f086b200-d3a3-11e9-9be1-250cdf2861c0.jpg)
![squared_grace_hopper](https://user-images.githubusercontent.com/54405572/64609722-f086b200-d3a3-11e9-83aa-cf9bbbf72148.jpg)
@KimMcMahon here's the banner on both versions as requested.

[2019-09-10 13:26] KimMcMahon commented on #95
Thank you @pablodelarocha!

[2019-09-10 13:26] #95 closed

[2019-09-10 13:43] deigolocco commented on #55
@KimMcMahon we can add the log out option.
I'll take at look about the update process

[2019-09-10 14:43] deigolocco commented on #55
@KimMcMahon what is the purpose of this [page](https://www.cncf.io/speaker/kmcmahon/
Looks like a form to aprove an events, am I right?
![screencapture-fuerza-cncf-pantheonsite-io-speaker-diegofagundes-2019-09-10-11_33_58](https://user-images.githubusercontent.com/5631313/64623241-02c21980-d3bf-11e9-9f02-305830cda63a.png)
To edit your profile you should click at the gear button at right top
<img w

[2019-09-10 15:20] alexcontini commented on #89
@cjyabraham  sounds good!

I have gone through some already and replaced all the images with smaller ones - all are now about 50kb - 150kb (Apester, Ant Financial, Spotify, Box, Appdirect) - the only one that was looking a bit blurry when I reduced it a lot was the top banner image so I kept those about 1000px wide

For the featured images, I have replaced those for the ones I have done already, b

[2019-09-10 18:06] pablodelarocha commented on #57
@cjyabraham i'm sending attached a couple of options:
#1 simulates the exact same behavior as desktop, but instead of hovering with the mouse you have to touch the badge with your finger to read the tooltip
![Speakers-Bureau_mobile1](https://user-images.githubusercontent.com/54405572/64638545-568f2b80-d3dc-11e9-99a2-36587fe0393e.jpg)
or
#2 in case you don't find the tooltip very intuitive, we're s

[2019-09-10 18:13] dankohn commented on #57
I think #1 is OK. I'm not expecting most people to pick their speakers from their phone. Also, if we use SVG images, you can zoom in by pinching to see the logo better.

[2019-09-10 18:16] KimMcMahon commented on #55
@deigolocco Remove the Contact Speaker from the account profile page. Please.
https://www.cncf.io/speaker/kmcmahon/

[2019-09-10 18:18] KimMcMahon commented on #55
@deigolocco Is the gear part of the plug-in? Or does the plug-in allow us to replace the gear with buttons?
https://fuerza-cncf.pantheonsite.io/speaker/kim.mcmahon/
<img width="1193" alt="Screen Shot 2019-09-10 at 12 11 45 PM" src="https://user-images.githubusercontent.com/29307455/64639434-12dcf780-d3c5-11e9-97d9-8724f6b6a1e4.png">

[2019-09-10 20:24] deigolocco commented on #55
@KimMcMahon we added the logout button and removed the Contact Speaker form.
The plugin uses Font Awesome, so we can replace the gear button for any other icon, [these are](https://faicons.com/) the possibilities, please let us know which one do you prefer.

[2019-09-10 20:28] deigolocco commented on #55
@cjyabraham we fixed salient child theme to work with the plugin Ultimate Member

[2019-09-11 05:52] cjyabraham commented on #89
Ok.  Thanks.
Just an FYI that we may not add the overlay feature until we rebuild the CNCF site.

[2019-09-11 11:25] cjyabraham commented on #55
@deigolocco, @KimMcMahon I think the Logout tab behavior is inconsistent with the other tabs in that it immediately performs an action.  Can you make the Logout tab not immediately log you out but rather bring you to a Logout link?  Alternatively, don't make the Logout action a tab but rather just include it as a link below the tabs?

Keep in mind that the user can also use logout link in the cog

[2019-09-11 14:35] dankohn commented on #55
@cjyabraham We want to support sending a single message to multiple speakers. That could be another mode after you've done some filtering where you select all or a subset and then send a message. Of course, we should also support sending a message to one.

[2019-09-11 14:40] cjyabraham opened #96 "Get OPA to work in Case Studies"
OPA logo doesn't work for the [Intuit case study](https://www.cncf.io/wp-admin/post.php?post=42990&action=edit) because the project name includes spaces.  Fix to use the project slug for the image filename.

[2019-09-11 14:44] cjyabraham commented on #55
@dankohn that's fine.  We have that in #11.  For now, though, I think we should leave the contact form as is on the profile page as it will be some time before #11 is ready.

[2019-09-12 06:33] cjyabraham commented on #96
Fixed.

[2019-09-12 06:33] #96 closed

[2019-09-13 08:14] cjyabraham commented on #55
I have deployed the [updated account page](https://www.cncf.io/speakers/account/).  There are a few issues I see:
- The Privacy tab doesn't seem to save changes to the data on it
- The password form doesn't have decent field validation messages.  If you don't enter anything in "Confirm password" it doesn't tell you to, for example.
- The password form doesn't seem to do anything.  It doesn't chang

[2019-09-13 11:59] deigolocco commented on #92
ok @dankohn and @cjyabraham

[2019-09-13 12:47] deigolocco commented on #92
@dankohn 4 tweets without header, footer and scrollbar
![twitter](https://user-images.githubusercontent.com/5631313/64863494-56c13e00-d60b-11e9-84ba-09fd6f3737ab.jpg)
looks like too long compared with the other columns, should I reduce the number of tweets?

[2019-09-13 13:27] dankohn commented on #92
The issue is that the length is dynamic based on the number of pictures. I believe there is a height parameter that you can add that would add a scrollbar. Please recommend some alternatives.

[2019-09-13 14:10] KimMcMahon commented on #55
@deigolocco On the gear - the gear icon is fine. I don't want to change it. I think it's unclear that you click on the gear to update your profile. Is there a solution so it's more clear that the gear is how you update your profile or go to your account page?

[2019-09-13 14:13] KimMcMahon commented on #55
@deigolocco On the logout button as @cjyabraham noted, can you make the Logout tab not immediately log you out but rather bring you to a Logout link?

As for this comment: Alternatively, don't make the Logout action a tab but rather just include it as a link below the tabs?
I'm fine where the logout is (as a tab). If it's not too much effort to change it as Chris A has requested, then please chang

[2019-09-13 14:17] KimMcMahon commented on #55
@deigolocco as @cjyabraham mentioned, the privacy tab does not change your privacy choice.

[2019-09-13 14:18] KimMcMahon commented on #55
@deigolocco This is urgent - the change your password does not actually change your password. Please let me know when this is working so I can test again.

[2019-09-13 14:51] KimMcMahon commented on #55
@cjyabraham To answer this:
@KimMcMahon where do you see the Speaker contact form going instead of on the profile page? Do you think there's a better place for it?

The speaker contact form should be on the speaker's profile page.

When I'm not logged in, the contact form should be on the speaker's profile page.

When I am logged in, it confused me that I would contact myself to speak. That being

[2019-09-13 17:12] deigolocco commented on #92
@dankohn I limited the height and added a scrollbar. I also reduced for 2 tweets(to avoid a long scroll) and added the pink button at bottom(View all Tweets).
Please let me know if this works for you.
I'll improve a little bit more the responsive according with @cjyabraham recommendations

[2019-09-13 17:33] deigolocco commented on #55
@KimMcMahon we'll work on these 3 itens initially:

- The Privacy tab doesn't seem to save changes to the data on it
- The password form doesn't have decent field validation messages. If you don't enter anything in "Confirm password" it doesn't tell you to, for example.
- The password form doesn't seem to do anything. It doesn't change your password.

After I'll check the logout possibilities and

[2019-09-13 17:57] dankohn commented on #92
I think that looks great. Please resolve the mobile view and we’re good to go.

[2019-09-13 19:07] deigolocco commented on #92
solved @dankohn

[2019-09-13 19:11] dankohn commented on #92
Almost there, but part is cropped in this view.

![49D86358-5DF2-4ACC-8D9A-B740207E1051](https://user-images.githubusercontent.com/3083270/64888318-011c7e00-d66b-11e9-8d73-e2f4ecc6c620.png)

[2019-09-13 19:27] deigolocco commented on #92
@dankohn I couldn't reproduce this issue. I believe is cache, I just forced to clean again.
If this issue persists for you, could you share more information please? Like the device, browser, etc...

[2019-09-13 19:37] dankohn commented on #92
It’s iPhone XS Max on latest iOS after doing a hard reload.

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-09-13 23:16] deigolocco commented on #55
@KimMcMahon itens are fixed

[2019-09-14 00:27] deigolocco commented on #92
thanks @dankohn , with your direction I could reproduce the bug and fix it. Could you test again please?

[2019-09-14 01:13] dankohn commented on #92
I'm still seeing the issue after multiple refreshes.

Cc @jordinl83 who is working on a similar Twitter embed bug on l.cncf.io and might have some suggestions.

Screenshots:

![image](https://user-images.githubusercontent.com/3083270/64901414-e7793780-d666-11e9-935d-4d39ce387d91.png)

![image](https://user-images.githubusercontent.com/3083270/64901788-4476ec80-d66b-11e9-9cd9-e2d091e6bf71.png)

[2019-09-14 08:40] cjyabraham commented on #92
LGTM.  @dankohn, I just cleared all the caches.  Is it still not right for you?

[2019-09-14 09:07] cjyabraham commented on #55
Looks ok except when you click the Logout tab it logs you out immediately, even though the text now appears: "Are you sure?".

[2019-09-14 16:16] KimMcMahon commented on #92
From my iPhone X, it looks fine. Tested on an iPhone XS and looks fine.
![Image-1](https://user-images.githubusercontent.com/29307455/64910902-ad487e00-d6d8-11e9-9a45-edb538b74039.jpeg)

[2019-09-14 16:25] dankohn commented on #92
LGTM

[2019-09-15 02:26] cjyabraham commented on #92
This is deployed.

[2019-09-15 02:26] #92 closed

[2019-09-15 02:27] cjyabraham opened #97 "Date is overflowing its box"
See screenshot:
<img width="548" alt="Screen Shot 2019-09-15 at 9 26 10 AM" src="https://user-images.githubusercontent.com/463160/64915855-f6f99d00-d79a-11e9-8b6c-4ad3e65f461f.png">

[2019-09-15 02:34] cjyabraham commented on #89
@alexcontini can you look at the images on [this page too](https://www.cncf.io/community/kubecon-cloudnativecon-events/).  Several of the background images there too could be reduced by a huge amount.

[2019-09-15 03:35] cjyabraham commented on #78
You should now both have access to [the search console](https://search.google.com/search-console?resource_id=https%3A%2F%2Fwww.cncf.io%2F).

[2019-09-15 03:35] #78 closed

[2019-09-15 03:37] cjyabraham commented on #93
This is done.

[2019-09-15 03:37] #93 closed

[2019-09-15 03:44] cjyabraham commented on #94
@KimMcMahon there is no way to have them add a photo in that initial registration page.  When we discussed this previously we agreed on having a two step process: Have them register with just essential info, receive confirmation of acceptance, and then ask them to complete their profile.

[2019-09-15 12:10] dankohn commented on #94
Can we leave them unpublished until they submit the rest of their information?

[2019-09-15 14:46] KimMcMahon commented on #94
@cjyabraham - Love @dankohn suggestion. If so, it would be a 2 step process - register with minimal information, then to a screen to fill in the rest to "publish". LMK if this process will work and I'll update fields and language for both steps.

[2019-09-15 14:51] dankohn commented on #94
The other key step would be for @KimMcMahon to manually approve them out of draft mode.

[2019-09-15 15:31] KimMcMahon opened #98 "Home page Twitter on iPhone"
Twitter broken on home page on iPhone X.
![IMG_2257](https://user-images.githubusercontent.com/29307455/64923841-463fcd80-d79b-11e9-8ed1-bb7aaf7d91d2.JPG)

[2019-09-15 15:32] KimMcMahon commented on #97
Same behavior, landscape view iPhone X
![IMG_2258](https://user-images.githubusercontent.com/29307455/64923888-b4849000-d79b-11e9-9fa9-a5d75a64a760.JPG)

[2019-09-16 07:03] cjyabraham commented on #94
I've added [bio](https://www.cncf.io/speakers/register/) and made it required.

[2019-09-16 11:46] cjyabraham opened #99 "Pagination buttons are too close"
Google is reporting that the clickable elements are "too close together" on the mobile view of [this page](https://www.cncf.io/author/cncf/page/11/).  I assume it's referring to the pagination numbers.  Could you separate them slightly for mobile view across the various pages that use them?

[2019-09-16 13:14] deigolocco commented on #98
@KimMcMahon I'm using browserstack.com to validate different devices
first time that Dan reported, I found the bug and fixed
now I can't reproduce this bug anymore. Is this bug still persisting for you?

[2019-09-16 13:21] deigolocco commented on #55
@cjyabraham  copy changed https://fuerza-cncf.pantheonsite.io/speakers/account/

[2019-09-16 13:24] cjyabraham commented on #55
Ok, can you fix the [immediate logout when you click the tab](https://github.com/cncf/wordpress-site/issues/55#issuecomment-531463717) problem?

[2019-09-16 13:51] cjyabraham commented on #94
Ultimate Member [have replied](https://wordpress.org/support/topic/photo-upload-on-registration-form/#post-11936902) to say it's not possible to have the photo uploaded in the reg form.

I suggest not requiring the photo in order to be approved for the Speaker's Bureau but, instead, to have a strongly worded ask that people upload a profile photo in the "Approved" email they receive.

As an additi

[2019-09-16 14:10] dankohn commented on #94
The latter. You won’t be in the directory until you upload a photo. Could we leave people in draft state until they’re manually approved?

[2019-09-16 14:25] cjyabraham commented on #94
Yes.  They are technically in "Pending Review" state until they are manually approved.

[2019-09-16 14:45] deigolocco commented on #55
fixed @cjyabraham
https://fuerza-cncf.pantheonsite.io/speakers/account/

[2019-09-16 15:12] dankohn commented on #94
So, then it's as simple as not having CNCF staff approve submissions until they include an image.

[2019-09-16 16:14] KimMcMahon commented on #94
Can we do a 2 step approval? The first step similar to what we have, then after I do the first approval, the email instructions say to fill out the rest (including picture) for approval and they is when they are on the website?

Or can we set up an “auto” approve with the first step. Takes them to the one to finish filling out their profile, then I review and I approve or deny?

[2019-09-16 19:51] deigolocco commented on #57
guys we are working in the frontend and during the integration with [search/filter plugin](https://www.cncf.io/projects/case-studies/) we realized the plugin doesn't work for users, but only for CPTs.
@cjyabraham should we keep the Ultimate Member's filtering or implemente it manually as we did for webinars?

[2019-09-17 02:44] cjyabraham commented on #57
Hmm.  Ok.  I'm fine with you implementing your custom filters then.

[2019-09-17 08:22] cjyabraham commented on #55
Thanks.  I've deployed this.

There are a problems with the mobile view, however.  I can change my name and email in desktop view but when I try on mobile view, it doesn't work.  The values stay the same on page refresh.  The same goes for values on the Privacy tab and, I assume, on the other tabs.

Can you fix these please?

[2019-09-17 13:23] deigolocco commented on #57
ok @cjyabraham , thanks.

[2019-09-17 15:51] KimMcMahon commented on #98
@deigolocco looks now. Thank you!

[2019-09-17 15:51] #98 closed

[2019-09-17 18:34] deigolocco commented on #55
fixed @cjyabraham

[2019-09-17 19:50] deigolocco commented on #97
@cjyabraham and @KimMcMahon It's adjusted

[2019-09-17 21:42] deigolocco commented on #99
adjusted @cjyabraham
https://fz-99-cncf.pantheonsite.io/newsroom/in-the-news/page/3/

[2019-09-18 08:01] cjyabraham commented on #99
The "Next" and "Previous" seem to have fallen out of place:

<img width="338" alt="Screen Shot 2019-09-18 at 2 59 28 PM" src="https://user-images.githubusercontent.com/463160/65129253-1c014080-da25-11e9-9b2c-2e26e2cf77f0.png">

[2019-09-18 08:07] cjyabraham commented on #97
It seems to have pushed "Shanghai, China" outside of the box edge:
<img width="296" alt="Screen Shot 2019-09-18 at 3 06 07 PM" src="https://user-images.githubusercontent.com/463160/65129639-ec9f0380-da25-11e9-93f2-7c2bf6f8aad3.png">

[2019-09-18 08:34] cjyabraham commented on #55
Looks good now.  Thanks.

[2019-09-18 08:34] #55 closed

[2019-09-18 11:03] deigolocco commented on #99
@cjyabraham looks like you did a screen resize, could you refresh your browser please?
this supposed to be the appearance for a screen smaller than 1024px width
![Captura de Tela 2019-09-18 às 08 00 33](https://user-images.githubusercontent.com/5631313/65143213-c9a32e00-d9ea-11e9-99bd-6682441e2a1f.png)

[2019-09-18 14:25] cjyabraham commented on #99
Ok.  I've deployed what you have so far but can you take a closer look at which numbers are being shown.  For example, when I go [here](https://www.cncf.io/newsroom/announcements/) I see:

<img width="349" alt="Screen Shot 2019-09-18 at 9 22 52 PM" src="https://user-images.githubusercontent.com/463160/65157277-b16af780-da5a-11e9-9cac-ddaaf0168737.png">

and then on [page 2](https://www.cncf.io/new

[2019-09-18 15:11] deigolocco commented on #99
@cjyabraham we are using the [default wordpress pagination](https://codex.wordpress.org/Function_Reference/paginate_links).
We set the rule to show one page before and one after of the current one. Depending of the position and the number of pages we'll have ellipses to indicate the first and the last page.
<img width="359" alt="Captura de Tela 2019-09-18 às 12 02 08" src="https://user-images.git

[2019-09-18 15:47] KimMcMahon commented on #57
@deigolocco Status? When will I have something to test?  Thanks!

[2019-09-18 16:07] dankohn opened #100 "Fix too many redirects error"
https://www.cncf.io/webinars/attachment/cncf-slide-template-spinnaker-webinar/

[2019-09-18 19:45] deigolocco commented on #100
fixed @dankohn
The redirections rules were affecting this url, the original url is https://www.cncf.io/community/webinars/attachment/cncf-slide-template-spinnaker-webinar/ and is working fine now

[2019-09-18 19:50] deigolocco commented on #97
fixed @cjyabraham https://fz-97-cncf.pantheonsite.io/

[2019-09-18 20:25] deigolocco commented on #57
@KimMcMahon we're planning to finish until next Monday.

This filtering has some challenges like:
- There's no taxonomies to filter, the filters will work with `user_metas`
- Some user_metas are serialized arrays, so this make the filtering harder and affect the performance
- we can not reuse the Ultimate Member's filters

We're working to have the filters like search/filter plugin. With counters,

[2019-09-18 20:59] KimMcMahon commented on #57
@deigolocco Thank you.
Can we split this task into two? Update the profiles on the web page?

Then, work on the filtering?

[2019-09-18 21:40] deigolocco commented on #57
sure @KimMcMahon, we can finish the frontend tomorrow and continue the filtering in parallel

[2019-09-19 00:52] dankohn commented on #100
👍

[2019-09-19 00:52] #100 closed

[2019-09-19 13:34] cjyabraham commented on #99
I see.  Ok.  Let's leave it as is for now.  Thanks.

[2019-09-19 13:34] #99 closed

[2019-09-19 13:41] cjyabraham commented on #97
Looks good.  Can you fix the merge conflicts and I'll deploy?

[2019-09-19 14:54] cjyabraham opened #101 "Replace "Sign up for Newsletter" form with one from Salesforce"
LF are moving their forms to be hosted from Salesforce.  As a first one for CNCF, we'd like to replace the ["Sign up for Newsletter" form](https://www.cncf.io).  They have provided us the following code to power the form.  Would you please try embedding it in a test instance so we can see if it works?

[code]

[2019-09-19 16:08] deigolocco commented on #97
Solved @cjyabraham

[2019-09-19 18:41] deigolocco commented on #57
@KimMcMahon the profiles up to date
https://fz-57-cncf.pantheonsite.io/speakers/

[2019-09-19 19:11] dankohn commented on #57
That shows 9 on a page. I think it should be more like 27.

In the dropdown menus, can you please make the lists single spaced.

[2019-09-19 19:13] KimMcMahon commented on #57
@deigolocco Looks great!

Two things:
1) @deigolocco On the mobile version, can you add an arrow or something to move from page to page?

![File](https://user-images.githubusercontent.com/29307455/65273754-21bb5c80-dadf-11e9-8b3b-49ade959987d.jpg)

2) @dankohn When the page is narrow, the boxes do not line up with the exact same height. Do you want this fixed?

<img width="1920" alt="Screen Shot 2

[2019-09-19 19:13] KimMcMahon opened #102 "Graphics for Events web page"
Rectangle size and square size

Serverless Practitioners Summit: Please pull the image from this page.
https://linuxfoundation.smapply.io/prog/serverless_practitioners_summit_north_america_2019_-_hosted_by_cncf_and_cloud_foundry_foundation/

Django Girls
Perhaps there is something on their website
https://djangogirls.org/nbari/

OpenInfraDays
Here is their website for a possible image
https://open

[2019-09-19 20:11] pablodelarocha commented on #102
![djangogirls_square](https://user-images.githubusercontent.com/54405572/65277511-728f7d00-db00-11e9-881a-14b5a10ef5a4.jpg)
![djangogirls](https://user-images.githubusercontent.com/54405572/65277512-728f7d00-db00-11e9-81d3-7da965a8ee25.jpg)
![nordics_square](https://user-images.githubusercontent.com/54405572/65277513-728f7d00-db00-11e9-9620-e4817e3b4b04.jpg)
![nordics](https://user-images.githubus

[2019-09-19 20:34] deigolocco commented on #57
@dankohn is adjusted

@KimMcMahon
1 - We don't have control for this pagination, it comes from Ultimate Member's plugin.
I did a few tests but the plugin hide the arrows navigation because it doesn't fit at screen
<img width="362" alt="Captura de Tela 2019-09-19 às 16 17 41" src="https://user-images.githubusercontent.com/5631313/65278792-390c4100-db03-11e9-8ffb-8df60c4060bb.png">
We can reduce th

[2019-09-19 21:42] deigolocco commented on #101
@cjyabraham I implemented it [here](https://fz-101-cncf.pantheonsite.io/)
I adjusted the appearance to be even to the old one.
But I couldn't validate, because of a CORS permission
<img width="574" alt="Captura de Tela 2019-09-19 às 16 48 34" src="https://user-images.githubusercontent.com/5631313/65283203-0109fb80-db0d-11e9-8072-0c574f0508e7.png">
Could you add permission for the domains https://

[2019-09-20 03:16] cjyabraham commented on #101
Ok.  I've CC'd you on an email thread with Marijana, who is the LF contact who is coordinating these new forms.  Hopefully she can help us out with this.  Feel free to work directly with her if I'm not around to push this forward.

[2019-09-20 03:38] cjyabraham commented on #97
Deployed.

[2019-09-20 03:38] #97 closed

[2019-09-20 13:13] KimMcMahon commented on #102
Thank you @pablodelarocha

[2019-09-20 13:13] #102 closed

[2019-09-20 13:28] KimMcMahon opened #103 "Graphic for Event page"
https://events.linuxfoundation.org/events/cloud-native-security-day-2019/

Thanks!

[2019-09-20 13:30] KimMcMahon opened #104 "Graphic for Event page when there is no image"
Can you design something to use for the 'Events we'll be at' page when an event does not have an image?

[2019-09-20 13:33] KimMcMahon opened #105 "Update date Events are removed from page"
Events should be removed at the end of day, last time zone in the world, of the last day of the event. Not the first day of the event.

[2019-09-20 14:26] deigolocco commented on #105
@KimMcMahon is adjusted https://fuerza-cncf.pantheonsite.io/

[2019-09-20 14:56] cjyabraham commented on #105
deployed

[2019-09-20 14:56] #105 closed

[2019-09-20 15:38] pablodelarocha commented on #103
![sig](https://user-images.githubusercontent.com/54405572/65339941-8344ff00-dba3-11e9-9a7a-fb84e610ec16.jpg)
![sig_square](https://user-images.githubusercontent.com/54405572/65339943-8344ff00-dba3-11e9-91b4-23a55e182a40.jpg)
Sure @KimMcMahon here's both banners as requested.

[2019-09-20 18:07] pablodelarocha commented on #104
Hi @KimMcMahon so far, whenever i don't find the event's logo or images related to it, i've been doing this model, which consists of a sky background and the event's name written over it.
Example below:
![open-networking-summit](https://user-images.githubusercontent.com/54405572/65348775-52bb9000-dbb8-11e9-9107-07d00f4ef532.jpg)
![LF_energy_summit](https://user-images.githubusercontent.com/5440557

[2019-09-24 08:31] cjyabraham commented on #94
How it currently works is this:
1. User fills out the [registration form](https://www.cncf.io/speakers/register/)
2. User gets an email saying "Your account has to be manually reviewed."  They can not login or access their account at this time.
3. An admin goes in and approves the account.
4. The user gets an email "Your account is now approved."  They can now login and update their profile with a

[2019-09-24 08:54] cjyabraham commented on #80
@KimMcMahon do you still want to pursue this idea or should we cancel this issue?

[2019-09-24 08:54] cjyabraham commented on #89
Any updates on this @alexcontini?

[2019-09-24 08:55] cjyabraham commented on #64
It looks like the space is fixed but the boxes could still be reduced in height to match [the others](https://events.linuxfoundation.org).

[2019-09-24 09:57] dankohn commented on #94
Could we instead automatically approve but not list their profile, and only
manually approve it after they upload their photo?
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Tue, Sep 24, 2019 at 4:31

[2019-09-24 10:34] cjyabraham commented on #94
We don't have that option within the constraints of the plugin.

[2019-09-24 14:54] KimMcMahon opened #106 "Change how time zone is displayed on the Webinar page"
https://www.cncf.io/webinars/

For upcoming webinars, display the time zone as:
10:00 - 11:00 am PT (UTC-7)

[2019-09-24 15:50] cjyabraham commented on #106
@KimMcMahon PT is either UTC-7 or UTC-8 depending on the time of year.  Are you expecting this "(UTC-7)" to adapt to daylight savings time?

[2019-09-24 16:00] KimMcMahon commented on #106
@cjyabraham Yes - adapt to daylight savings time.

[2019-09-24 16:31] KimMcMahon commented on #80
@cjyabraham I still want to come up with a solution so I can 'create' the two image sizes when I set up an event.

For some events, I may still want a custom banner. For most events, I just need an image I can add a logo to.

[2019-09-24 17:48] KimMcMahon opened #107 "Image for an event"
Hi Pablo!
Can you create a banner for this event?
https://www.mwclosangeles.com/

[2019-09-24 18:01] KimMcMahon commented on #107
One more!

https://www.cloudexpoasiahk.com/

[2019-09-24 19:42] pablodelarocha commented on #107
Sure @KimMcMahon here they are:
![cloud_expo_asia_Square](https://user-images.githubusercontent.com/54405572/65544722-3e460300-deea-11e9-8ba8-8cdd0239943a.jpg)
![cloud_expo_asia](https://user-images.githubusercontent.com/54405572/65544723-3ede9980-deea-11e9-9e5e-48a4842137bd.jpg)
![MWC_LA_Square](https://user-images.githubusercontent.com/54405572/65544724-3ede9980-deea-11e9-87d9-87ef83fde16e.jpg)

[2019-09-24 20:08] rodmeurer commented on #106
@KimMcMahon @cjyabraham done in these 3 locals where the time is displayed for upcoming webinars **(Branch: fz-106)**

https://fuerza-cncf.pantheonsite.io
https://fuerza-cncf.pantheonsite.io/webinars
https://fuerza-cncf.pantheonsite.io/webinars/cncf-webinar-series-container-native-development-tools-compared-draft-skaffold-and-tilt/

[2019-09-24 21:04] rodmeurer commented on #53
@cjyabraham up to date!
 https://fuerza-cncf.pantheonsite.io/speaker/{username}/?um_action=edit
Branch: fz-53

[2019-09-24 21:29] KimMcMahon commented on #107
One more please @pablodelarocha
https://events.linuxfoundation.org/events/cloud-native-security-day-2019/

[2019-09-24 22:41] pablodelarocha commented on #107
@KimMcMahon ok!
![squared_sig](https://user-images.githubusercontent.com/54405572/65555539-51b19800-df03-11e9-9f31-a111e7c99064.jpg)
![sig](https://user-images.githubusercontent.com/54405572/65555540-51b19800-df03-11e9-85eb-c1f6461f2133.jpg)

[2019-09-25 03:09] cjyabraham commented on #106
Thanks @rodmeurer

@KimMcMahon should we use the more specific PST and PDT and not use PT according to [these rules](https://english.stackexchange.com/questions/88485/proper-timezone-acronym-usage-pt-vs-pdt-or-pst/133704#133704)?

[2019-09-25 03:14] cjyabraham commented on #53
@rodmeurer that link doesn't go anywhere for me and I don't see an instance for fz-53?

[2019-09-25 03:17] cjyabraham commented on #53
Looks fine.  I'll deploy this when I deploy the rest of fuerza.  If you could, it's often easier to develop individual issues on their own branch so they can be deployed as soon as ready and don't need to wait for any other work.

[2019-09-25 13:54] deigolocco commented on #53
isolated in the new environment https://fz-53-cncf.pantheonsite.io/speaker/{username}/?um_action=edit
Pantheon has 10 environments limit, so we deleted the closed ones.

[2019-09-25 14:35] cjyabraham commented on #53
Deployed.

[2019-09-25 20:48] deigolocco commented on #57
guys the filtering + paginations is fully working
https://fz-57-f-cncf.pantheonsite.io/speakers/

But we don't know which badge should be associated to certification KCSP

[2019-09-26 06:38] cjyabraham commented on #57
A few comments:

1. can you show 27 per page instead of 9 (unless @dankohn has changed his mind on this)
2. when you open the filter drop-down, it looks different than the drop-downs on [webinars](https://fz-57-f-cncf.pantheonsite.io/webinars/). Can you make them consistent?
3. also on [webinars](https://fz-57-f-cncf.pantheonsite.io/webinars/) you use the filter placeholders "All companies", "All

[2019-09-26 07:14] cjyabraham commented on #14
I like jobboard.io though it looks like we'd need to go with their [enterprise](https://www.jobboard.io/pricing/) option if we want to import feeds from other job boards.  We'd save money in development but it would cost more to run per month.

If we want to integrate it with anything on cncf.io, like a member directory, we may need more flexibility in customizing.

Do you intend to monetize the b

[2019-09-26 11:59] dankohn commented on #57
KCSP is for companies, not individuals, so doesn't apply. The badge should just be CKA, CKAD, both, or neither.

[2019-09-26 12:04] dankohn commented on #14
I don't want to directly monetize, but I'm looking for it to be an additional benefit of membership that members get a preferred listing (of some kind). That means that we need to track logins. Could you please get a quote to incorporate HN listings, and mention that we're a nonprofit.

[2019-09-26 14:35] cjyabraham commented on #57
As discussed in #cncf-wordpress-dev, please remove the "Willing to Present via Video Conference" icons from the profile cards.  This field is being removed since we can assume that pretty much everyone would be willing to do this.

Also "Willing to Travel" is being removed but "Travel Range" will remain in place.  Perhaps we can use the airplane icon when the person has "Travel Range" of Domestic

[2019-09-26 15:47] dankohn commented on #57
Maybe train for domestic and airplane for international?
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://www.dankohn.com/> or book on my calendar: dankohn.com/c
<https://www.dankohn.com/c>

On Thu, Sep 26, 2019 at 10:35 AM Chris Abraham <notifications@github.com>
wrote:

[2019-09-27 02:35] deigolocco commented on #57
implemented the train for domestic and airplane for international @dankohn

adjusted @cjyabraham , except item 5 as we discussed on slack
https://fz-57-f-cncf.pantheonsite.io/speakers/

[2019-09-27 03:29] cjyabraham commented on #57
Looking good.

1. Can we hide the self-identification filter for now until we have data for it.  It looks odd showing up but always greyed-out.
2. If you go to the page, pick "Cloud Platforms" and then pick "Ambassador", and then re-open the certifications drop-down, you'll correctly get this with all options in the drop-down:
<img width="639" alt="Screen Shot 2019-09-27 at 10 19 43 AM" src="https

[2019-09-27 06:37] cjyabraham commented on #14
Actually, I was wrong, for jobboard.io it looks like the [Professional option](https://www.jobboard.io/pricing/) would be good enough as it allows up to 5 job feeds.  It's $349/month.  I don't think we'd need any of the Enterprise features initially.

[2019-09-27 07:11] dankohn commented on #14
Great. Want to signup for a trial account? Big question is how we can administer users so as to show member listings as preferred. I’m fine with a manual process at first.

[2019-09-27 14:00] deigolocco commented on #57
ajusted @christinevblum

[2019-09-28 15:37] cjyabraham commented on #57
@deigolocco 1 seems to be fixed but 2 is still a problem

[2019-09-28 16:19] KimMcMahon commented on #57
@cjyabraham @deigolocco Can someone help me understand what is needed to get the new design deployed on https://www.cncf.io/speakers/?

[2019-09-29 02:01] cjyabraham commented on #57
@KimMcMahon once we are done QA, we can deploy.  Does everything look ok to you?

[2019-09-29 13:55] deigolocco commented on #57
@cjyabraham item 2 looks like fine for me. If you pick "Cloud Platforms" and then pick "Ambassador", then refresh the [page](https://fz-57-f-cncf.pantheonsite.io/speakers/?sb_certifications=Ambassador&cncf_expertise=Cloud+Platforms&_lc=sb_certifications), all options still there.

Please let me know what is not working for you.

[2019-09-29 13:56] deigolocco commented on #57
![Captura de Tela 2019-09-29 às 10 50 34](https://user-images.githubusercontent.com/5631313/65833531-c2600800-e2a7-11e9-9d08-89363d0369ac.png)
![Captura de Tela 2019-09-29 às 10 50 46](https://user-images.githubusercontent.com/5631313/65833533-c55af880-e2a7-11e9-9959-b1b987dad6f3.png)

[2019-09-29 14:07] KimMcMahon commented on #57
Can we deploy with the icons? Filtering still needs some work.

For example, we don’t have the option from the mobile version to search by name.

[2019-09-29 14:21] deigolocco commented on #57
@KimMcMahon we followed @cjyabraham [instructions](https://github.com/cncf/wordpress-site/issues/57#issue-484353429):
- Use the following fields for search filters: Certifications, Area of Expertise, Country, Self-Identification
Search by name is not included at the design [approved](https://github.com/cncf/wordpress-site/issues/57#issuecomment-530937795) by you
https://user-images.githubuserconte

[2019-09-29 14:37] cjyabraham commented on #57
@deigolocco what you say is true.  However, if you pick them in the opposite order, first pick "Ambassador" and then "Cloud Platforms", you'll see this:

<img width="512" alt="Screen Shot 2019-09-29 at 9 34 06 PM" src="https://user-images.githubusercontent.com/463160/65834021-016e7780-e301-11e9-98ac-2f49266282e6.png">

You can also just go to [this link](https://fz-57-f-cncf.pantheonsite.io/speake

[2019-09-29 14:56] cjyabraham commented on #57
@KimMcMahon we're almost there with the filtering and then we will deploy all together.  It's not possible to release just the icons at this point.

If you're now wanting to search by name we need to consider how that can be integrated in to the design.  Can you open a new issue for that?

[2019-09-29 19:54] KimMcMahon commented on #57
@cjyabraham @deigolocco Everything looks good to me. I was testing the filtering on my mobile and desktop and saw no issues.

Can we deploy?

For the other fields - I will open a new issue, as you both suggested.

Thanks!

[2019-09-29 20:12] KimMcMahon commented on #106
@cjyabraham I prefer to use PT instead of PST or PDT.

@rodmeurer It looks great. Although, I believe PT - UTC is currently -7.  It goes to -8 on November 3, 1am PT. The time zones shown on the test server are not correct.

[2019-09-29 20:22] KimMcMahon commented on #107
Thanks @pablodelarocha

[2019-09-29 20:22] #107 closed

[2019-09-29 20:38] KimMcMahon opened #108 "Graphic for LF Energy Summit on 'events we'll be at' page"
Please create something from this website
https://events.linuxfoundation.org/events/lfenergysummit2019/

[2019-09-29 20:44] KimMcMahon commented on #104
@pablodelarocha How about - so it looks different than a logo, use a gradient color background with no images.

Will this automatically be added to events that have no image? Or do I need to take the image, put the name of the event in the graphic, and upload to the event page?

Thanks!

[2019-09-30 13:09] deigolocco commented on #106
@KimMcMahon is adjusted

[2019-09-30 13:35] pablodelarocha commented on #108
@KimMcMahon sure! Here's the banner on both versions.
![lfenergy_square](https://user-images.githubusercontent.com/54405572/65883732-00bffa80-e36e-11e9-899d-b4d2fccf9377.jpg)
![lf_energy](https://user-images.githubusercontent.com/54405572/65883733-00bffa80-e36e-11e9-9d92-2bd455814b38.jpg)

[2019-09-30 14:16] pablodelarocha commented on #104
Hi @KimMcMahon i'm sending below some suggestions of gradient color backgrounds based on the colors i could find on the website.
As it is today, we're writing the name of the event on the banner image, but it can be done in a way that you just have to pick the gradient the event's name goes automatically placed over it, but it will need to be programmed to work that way. Just need your authorizati

[2019-09-30 15:09] alexcontini commented on #64
@cjyabraham I have updated the sizing of the boxes: https://www.cncf.io/community/kubecon-cloudnativecon-events/ - I tried to make them as small as possible, it's just tricky as some of the boxes need more space and I wanted to make sure the ones in the same row are the same height

[2019-09-30 15:22] cjyabraham commented on #64
Looks good to me.  I'll close.  @dankohn feel free to reopen if not ok with you.

[2019-09-30 15:22] #64 closed

[2019-09-30 15:44] alexcontini commented on #89
@cjyabraham sorry about the delay with this, I have updated the images and https://www.cncf.io/projects/case-studies/ and https://www.cncf.io/community/kubecon-cloudnativecon-events/ are all now 150kb or smaller.

I also went through the individual ones and reduced the sizes and have worked with Julie to make them smaller going forward. For the top banner, I tried making them a lot smaller and the

[2019-09-30 15:45] KimMcMahon commented on #104
Thank you @pablodelarocha. Let's go with this one:
![image](https://user-images.githubusercontent.com/29307455/65894437-05cd7b80-e367-11e9-88c8-cbd569d30ea7.png)
Please develop!

Thanks!

[2019-09-30 15:47] KimMcMahon commented on #80
Closing - covering with another issue.

[2019-09-30 15:47] #80 closed

[2019-09-30 15:49] KimMcMahon commented on #106
@deigolocco The October 30 webinar still has PDT. Please fix, then let's deploy.

[2019-09-30 16:19] KimMcMahon commented on #108
Thanks!

[2019-09-30 16:19] #108 closed

[2019-09-30 16:26] KimMcMahon commented on #94
@cjyabraham Please do the work for your option:
This will modify step 4 to be:

The user gets an email "Your account is now approved. Please upload a photo to your profile in order to have it listed in the directory." They can now login and update their profile with an image etc. Their profile is visible in the directory only after they upload a photo.

I'll work on the email they'll get.

[2019-09-30 17:15] KimMcMahon opened #109 "Graphic for Kong Summit"
Create something from this?
https://konghq.com/kong-summit

[2019-09-30 17:21] deigolocco commented on #106
@KimMcMahon this part is editable
<img width="296" alt="Captura de Tela 2019-09-30 às 14 20 43" src="https://user-images.githubusercontent.com/5631313/65900974-91f29980-e38d-11e9-9eee-118e9072b973.png">
It's adjusted https://fuerza-cncf.pantheonsite.io/webinars/

[2019-09-30 17:28] pablodelarocha commented on #109
@KimMcMahon here's the images as requested:
![kong_summit](https://user-images.githubusercontent.com/54405572/65901444-9ec3bd00-e38e-11e9-873b-b8ced5b23370.jpg)
![kong_summit_square](https://user-images.githubusercontent.com/54405572/65901445-9ec3bd00-e38e-11e9-80f1-d290ee7fc8af.jpg)

[2019-09-30 17:34] pablodelarocha commented on #104
@KimMcMahon Ok! I will ask @deigolocco to start the development.
As for the gradients, we can make all of these available for you to pick. Would you like that?

[2019-09-30 18:17] deigolocco commented on #57
@KimMcMahon I believe we're ready to deploy

@cjyabraham adjusted according our last call

[2019-09-30 19:06] KimMcMahon commented on #57
Super - thanks! After @cjyabraham deploys, I'll do Q&A tomorrow.  Thanks!

[2019-09-30 19:06] KimMcMahon commented on #104
@pablodelarocha Sure - I didn't know I had choices! Thanks!

[2019-09-30 19:08] KimMcMahon commented on #109
Thanks @pablodelarocha !

[2019-09-30 19:08] #109 closed

[2019-09-30 19:12] KimMcMahon commented on #106
Thank you @deigolocco! Deploy!

[2019-09-30 19:41] KimMcMahon opened #110 "Project-specific landing pages to promote KubeCon San Diego"
Hello all,

This issue is to create 4 KCCNCNA19 web pages following this design/content template: https://events.linuxfoundation.org/prometheus-kubecon-eu-2018/

Each page is for one project. The 4 projects we need pages for are Kubernetes, Envoy, Prometheus, and Helm.

The page url should be nested inside the events site, but are not in navigable from the menu, these are standalone landing pages,

[2019-09-30 19:52] KimMcMahon commented on #110
@pablodelarocha Can you work on design options?
@deigolocco Can you work on the code?

[2019-09-30 20:21] deigolocco commented on #110
sure @KimMcMahon !

[2019-10-01 05:33] cjyabraham commented on #57
@deigolocco there's a render issue on mobile view.  Go [here](https://fz-57-f-cncf.pantheonsite.io/speakers/?sb_certifications=CKA&cncf_expertise=Cloud+Platforms&_lc=sb_certifications) and you'll see that the first speaker doesn't have any certification badges.  They have actually floated off to the side.  See:

<img width="813" alt="Screen Shot 2019-10-01 at 12 12 25 PM" src="https://user-images.

[2019-10-01 06:10] cjyabraham commented on #57
Could you also make the airplane icon more in line with the other icons?  So move up a little bit:
<img width="280" alt="Screen Shot 2019-10-01 at 1 09 35 PM" src="https://user-images.githubusercontent.com/463160/65938284-c5e0c400-e44c-11e9-902f-d0470df7e818.png">

[2019-10-01 10:35] deigolocco commented on #57
both adjusted @cjyabraham

[2019-10-01 12:48] KimMcMahon commented on #57
Thank you!!!

@deigolocco The airplane is still a little lower than the other icon on mobile (iPhone X) and desktop - maybe it just needs to be deployed.

[2019-10-01 13:01] deigolocco commented on #57
@KimMcMahon the last adjustments weren't deploy yet, you can check [here](https://fz-57-f-cncf.pantheonsite.io/speakers/) for now

[2019-10-01 13:18] deigolocco opened #111 "Add the Language filter for Speakers' page"

[2019-10-01 13:34] deigolocco commented on #110
@KimMcMahon to **pulling in 6 of the project's talks from the KCCNCNA schedule** we'll need access to the Event's website code, as we have for these others
<img width="908" alt="Captura de Tela 2019-10-01 às 10 32 56" src="https://user-images.githubusercontent.com/5631313/65966748-eef65a00-e436-11e9-86de-87f634373be3.png">

@cjyabraham could you provide that for us please?

[2019-10-01 14:23] cjyabraham opened #112 "Require a photo to be listed in the speakers directory"
In order to be listed in the [speakers bureau directory](https://www.cncf.io/speakers/), a speaker must have a photo.  This can either be a photo they upload or a gravatar (having both options may not be technically feasible but please check).

If it's not possible to check for a gravatar to meet this requirement, then we could turn off gravatars entirely for the speakers bureau.  There's an optio

[2019-10-01 14:29] cjyabraham commented on #53
Can you do this as well on the [registration page](https://www.cncf.io/speakers/register/)?

[2019-10-01 14:37] cjyabraham commented on #94
I've created #112 to get started on this.

[2019-10-01 14:40] cjyabraham commented on #57
deployed

[2019-10-01 14:40] #57 closed

[2019-10-01 18:15] rodmeurer commented on #53
@cjyabraham done at the registraet.

https://fz-53-cncf.pantheonsite.io/speakers/register/

[2019-10-01 18:19] pablodelarocha commented on #110
@KimMcMahon i'm sending attached the designs for all the 4 pages. Please let us know if these are ok!
![Envoy](https://user-images.githubusercontent.com/54405572/65988360-0c8aea00-e45e-11e9-8945-436efdfa5ed9.jpg)
![Helm](https://user-images.githubusercontent.com/54405572/65988361-0c8aea00-e45e-11e9-9e32-86c7f95c9c34.jpg)
![Kubernetes](https://user-images.githubusercontent.com/54405572/65988362-0c8

[2019-10-01 19:14] deigolocco commented on #104
@KimMcMahon, please take at look:
https://fz-104-cncf.pantheonsite.io/
https://fz-104-cncf.pantheonsite.io/events-well-be-at/
https://fz-104-cncf.pantheonsite.io/events-well-be-at/grace-hopper-celebration-2019/

Now you have the checkbox
![Captura de Tela 2019-10-01 às 16 10 44](https://user-images.githubusercontent.com/5631313/65992760-3a742c80-e466-11e9-9234-36cfeaeab611.png)

Checking **Doesn'

[2019-10-01 19:36] KimMcMahon commented on #104
Looks great @deigolocco! Please deploy!

[2019-10-01 19:39] deigolocco commented on #104
Thank you @KimMcMahon !

@cjyabraham please deploy when you have a chance

[2019-10-01 22:27] deigolocco commented on #112
It's done @cjyabraham https://fz-112-cncf.pantheonsite.io/speakers/

Unfortunately is not possible to check the gravatar, because always return an image. So we disabled the plugin's option as you suggested.

[2019-10-02 00:34] #103 closed

[2019-10-02 00:39] KimMcMahon commented on #110
@deigolocco For the project talks, if I give you the web link from the schedule, would that work? For example: https://sched.co/UaaO

Or, I should provide the information on the 6 talks to highlight and they get added to the page.

[2019-10-02 00:41] KimMcMahon commented on #110
@pablodelarocha the designs are great. We do need to find project specific images for each of the pages - I'll go through Flickr.

As for the content for each project page - I'll work with Lindsay on the content. Coming soon!

[2019-10-02 04:38] cjyabraham commented on #112
This is deployed.  And I have turned off gravatars.

[2019-10-02 04:38] #112 closed

[2019-10-02 05:24] cjyabraham commented on #89
Thanks for doing this.

The page that doesn't look done, however, is [this page](https://www.cncf.io/projects/case-studies/). I'm still seeing quite a few over 150k.  And wouldn't it be better to use jpegs instead of pngs for these?  I think this can be lower priority now but it'd be good to get this done when you have time.

<img width="715" alt="Screen Shot 2019-10-02 at 12 17 59 PM" src="https:

[2019-10-02 06:41] cjyabraham commented on #110
@deigolocco where do you intend to pull the talks from?  The schedule is currently hosted on sched.com.  @KimMcMahon would the 6 talks just be a static listing that you want to provide yourself?

@pablodelarocha is your design achievable by using just Visual Composer or do you see it requiring any CSS changes?

[2019-10-02 06:54] cjyabraham commented on #53
deployed

[2019-10-02 06:54] #53 closed

[2019-10-02 07:10] cjyabraham commented on #106
deployed

[2019-10-02 07:10] #106 closed

[2019-10-02 07:22] cjyabraham commented on #104
@deigolocco There's a render issue for long titles at certain browser widths.  See below:
<img width="914" alt="Screen Shot 2019-10-02 at 2 21 10 PM" src="https://user-images.githubusercontent.com/463160/66025207-137a3100-e520-11e9-9f01-a46d5d670095.png">

[2019-10-02 12:34] rodmeurer commented on #110
@cjyabraham @KimMcMahon Diego said that to pull in the talks dynamically we need access to the project repository (to the code) from the events. Otherwise it should be static or a post-type in wordpress to be added.

We intend to create the pages using just Visual Composer.

[2019-10-02 12:42] KimMcMahon commented on #110
@rodmeurer @cjyabraham @deigolocco the talks are not pulled dynamically. I am preparing a document for the content for the page, including the text, content, and images.

Here is the start of the [document](https://docs.google.com/document/d/1nD29JFNWTSw8_mzGWYss6GvhOVnbvRMwcqQjUnnTn9w/edit?usp=sharing) - Helm is done. The rest I'll finish today.

[2019-10-02 14:16] rodmeurer commented on #111
@cjyabraham added language filtering:
https://fz-111-cncf.pantheonsite.io/speakers/

[2019-10-02 14:26] rodmeurer commented on #104
@cjyabraham fixed!

[2019-10-02 14:32] KimMcMahon commented on #111
I did some testing - works great.

This page is looking really good!

[2019-10-02 14:53] cjyabraham commented on #104
deployed

[2019-10-02 14:53] #104 closed

[2019-10-02 14:57] cjyabraham commented on #111
@rodmeurer how will this look when the "Self-Identification" filter appears and what are the rules governing when that filter appears?

[2019-10-02 16:58] dankohn opened #113 "Let's try 300 tiles per page"
Clicking the next button is quite slow. Could you please create a branch where you limit each page to 300 instead of 27. I'm curious how fast it loads on mobile and what you recommend.

[2019-10-02 17:06] rodmeurer commented on #111
@cjyabraham We haven't worked on it yet, but it will be minor adjustments to fit the fifth filter. Would you like us to test and tweak this before you deploy with the language filter or can we go back to this later after issue # 110 which is a priority for the week?

The rules when the filter appears follow the same pattern as the other filters, the quantities will be displayed according to the op

[2019-10-02 17:14] dankohn opened #114 "Update displaying message"
https://www.cncf.io/speakers/ says "Displaying 94 speakers". Please change to "Displaying 27 speakers out of 94 matching".

[2019-10-02 17:15] dankohn commented on #14
Assigning to @christinevblum now that KCD is just about launched. You'll need to work closely with @cjyabraham to look at whether jobboard.io meets our needs, and to figure out the login options.

[2019-10-02 17:18] dankohn commented on #14
It looks like we could just have employers set up accounts with Jobboards.io and then ping us via the MemberDesk to mark them as featured if they're a member. That's probably good enough to get started.

[2019-10-02 17:19] rodmeurer commented on #113
@dankohn you mean at the Speaker's Bureau right? We only have 94 speakers (after disabling gravatar) wich we can divide in 45 tiles per page to test the pagination, is it ok?.

[2019-10-02 17:23] dankohn commented on #113
I'm suggesting that having all of them on one page would be better.

[2019-10-02 17:26] rodmeurer commented on #113
Ok, We'll work on this.

[2019-10-02 18:00] rodmeurer commented on #113
@dankohn displaying all in one page https://fz-113-cncf.pantheonsite.io/speakers/

[2019-10-02 19:04] dankohn commented on #113
It loads fine for me on desktop and mobile? @cjyabraham WDYT?

[2019-10-02 19:07] dankohn opened #115 "2 column mobile landscape view"
Instead of 1 column now.

![image](https://user-images.githubusercontent.com/3083270/66074068-5b9c5200-e526-11e9-9de0-9fc40b43acba.png)

[2019-10-02 19:52] rodmeurer commented on #114
@dankohn adjusted as you asked.

https://fz-114-cncf.pantheonsite.io/speakers/

[2019-10-02 19:54] dankohn commented on #114
But on https://fz-114-cncf.pantheonsite.io/speakers/?cncf_expertise=CNI&_lc=cncf_expertise it should say "3 out of 3 matching".

[2019-10-02 19:55] rodmeurer commented on #113
Right @dankohn,  just see it also. We'll fix that.

[2019-10-02 19:57] rodmeurer commented on #114
Right @dankohn, just see it also. We'll fix that.

[2019-10-02 20:21] rodmeurer commented on #114
@dankohn fixed!

https://fz-114-cncf.pantheonsite.io/speakers/?cncf_expertise=CNI&_lc=cncf_expertise

[2019-10-02 20:28] rodmeurer commented on #110
@KimMcMahon @cjyabraham

I was talking with Gabriela, the developer that is already creating the pages and she said that:

Nested pages, like Kim requested, have the same menu and bottom sections (sponsors and contact) as their parent page, what makes they don’t look like standalone landing pages.

In order to have standalone landing pages we can’t have they nested in the KCCNCNA19 page, what woul

[2019-10-02 21:27] rodmeurer commented on #114
Fixed @dankohn , made several tests and I think it's all ok now.

[2019-10-02 21:51] dankohn commented on #114
LGTM

[2019-10-03 03:13] cjyabraham commented on #114
I'm happy to deploy this but I wonder if we could improve the language here.

When the user first comes to [the page](https://fz-114-cncf.pantheonsite.io/speakers/), before they set the filters at all, the would see  "Displaying 27 speakers out of 93 matching".  Wouldn't it be better if it read "Displaying 27 out of 93 total speakers"?

Once filters have been set, then we could say "Displaying x o